[2019-04-17 20:26] dekuhn commented on #2749
Will this change be back ported to previous releases?

[2019-04-17 20:54] Red-Five commented on #2286
Closing this issue for now; There was an issue here with cos development earlier, but since I switched focus to k8s deployment this has not been an issue. Will re-open if it becomes an issue worth investigating.

[2019-04-17 20:54] #2286 closed

[2019-04-17 21:03] hshin-g opened #2750 "CloudSqlAclScanner not working"
Reports of CloudSqlAclScanner not working in 2.14.1.

[code]

After some digging, there is a new `instanceType` called ON_PREMISES_INSTANCE which does not have a `settings` field.

Need to account for new instanceTypes that will be added in the future that might not have settings.

[2019-04-17 22:46] dekuhn commented on #2749
Based on release notes I believe you need version 1.3.0b3 - see release notes here: https://docs.sqlalchemy.org/en/13/changelog/changelog_13.html#change-1.3.0b3

[2019-04-17 22:57] dekuhn commented on #2749
Adding CVE details:
CVE-2019-7548 More information
moderate severity
Vulnerable versions: < 1.3.0
Patched version: 1.3.0
SQLAlchemy 1.2.17 has SQL Injection when the group_by parameter can be controlled.

CVE-2019-7164 More information
moderate severity
Vulnerable versions: < 1.3.0
Patched version: 1.3.0
SQLAlchemy through 1.2.17 and 1.3.x through 1.3.0b2 allows SQL Injection via the order_by para

[2019-04-17 23:35] red2k18 commented on #2749
I saw this page but I was hesitant to upgrade to 1.3.0b2 as it is in beta.

[2019-04-17 23:46] dekuhn commented on #2749
Understood. My intent was to point out that 1.3.0b3 is the minimum version where the fix was applied. I would suggest using a stable version either 1.3.1 or taking the latest 1.3.4 version.

[2019-04-17 23:50] dekuhn commented on #2749
We don't run raw SQL queries via the IAM explain feature that uses the underlying sqlalchemy library. We feel we are not vulnerable to the injection attack.

[2019-04-18 01:10] Red-Five commented on #2084
For developers

https://cloud.google.com/cloud-code/

https://techcrunch.com/2019/04/10/google-launches-cloud-code-to-make-cloud-native-development-easier/

[2019-04-18 05:08] red2k18 commented on #2643
#2751

[2019-04-18 16:03] dekuhn commented on #2676
Marking issue blocked. We do not have any profiling data to assist in diagnosing this issue.

[2019-04-18 16:44] ryanismert commented on #2742
@MartenvanWezel I'm closing for now - if you think this is useful please write a one pager with some customer feedback indicating the value.

[2019-04-18 16:44] #2742 closed

[2019-04-18 16:45] dekuhn commented on #2740
What are the steps to reproduce this issue so we can determine what the right solution is here.

[2019-04-18 16:50] dekuhn commented on #2710
This error is very noisy for large customers.

[2019-04-18 16:52] dekuhn commented on #2700
This work aligns with some of the GKE work planned for this quarter.

[2019-04-18 16:54] dekuhn commented on #2697
This requires core forseti team to merge as admin. Let us look at this issue when we decouple the website from dev repo.

[2019-04-18 16:58] dekuhn commented on #2661
We have a work around for this at this time.

[2019-04-18 17:29] dekuhn commented on #2676
Downgrading the priority to P1. @ryanismert  will follow-up with a few customers to see if we can get some engagement on profiling code to assist in debugging the issue.

[2019-04-18 17:36] dekuhn commented on #2710
This issue is also related to https://github.com/forseti-security/forseti-security/issues/2300. Please consider it when determining the right remediation required.

[2019-04-18 17:41] dekuhn commented on #2353
Thanks for the feedback. Closing the issue.

[2019-04-18 17:41] #2353 closed

[2019-04-18 17:43] dekuhn commented on #2676
Please add this back to 1 - Planning once we have actionable feedback and work we can do on this issue.

[2019-04-18 17:52] dekuhn commented on #223
Marking as dupe of #2084

[2019-04-18 17:52] #223 closed

[2019-04-18 17:54] dekuhn commented on #2329
Marking as dupe of #2581

[2019-04-18 17:54] #2329 closed

[2019-04-18 18:01] dekuhn commented on #2749
Can we address the issue #2750 at the same time we address the upgrade of sqlalchemy in this issue please.

[2019-04-18 18:15] red2k18 commented on #2749
These are two separate issues and should be addressed separately. #2749 is about SQLAlchemy security vulnerability and #2750 is about CloudSqlAclScanner not working.

[2019-04-18 19:08] dekuhn commented on #2581
As a starting point can we limit the docs we build to only the last 10 releases.

[2019-04-18 20:55] red2k18 commented on #2614
@ahoying Should we set composite root by default?

[2019-04-18 21:10] dekuhn commented on #2728
This is blocking pending formal agreement / license to use CIS content.

[2019-04-18 21:39] dekuhn commented on #2655
@osandoval011 can you either answer the template or remove it. Is this a scanner module issue? The description sounds like inventory?

Please add any other details that will help the engineer who gets assigned to this work. Also sas this a customer reported issue or something you discovered yourself?

[2019-04-19 21:28] pvangara opened #2754 "Scanner run failing on server side with NoneType has no get."
First, help us help you by providing the following information when opening an issue.

 - [ 2.13.0] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`
 on the client).
 - [ scanner] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, includ

[2019-04-19 23:22] RexBelli commented on #2084
I've recently done some work on dockerizing Forseti and running it on GKE (Deployment+CronJob).  I'm not sure how best to integrate this with existing initiatives, or even if it makes sense to, but figured I'd share nonetheless.

Dockerfile: https://github.com/RexBelli/forseti-stuff/tree/master/docker
GKE Setup: https://github.com/RexBelli/forseti-stuff/tree/master/k8s

[2019-04-20 19:50] Red-Five commented on #2754
Are you seeing this issue with the scheduled cronjob or a manual scan?

Are you able to try a manual scan? Some things to try...

forseti inventory list
/# Any errors?

forseti model list
/# Any Errors?

/# Purge inventory older than 0 days (all) CAUTION ONLY IF YOU DON'T NEED OLD INVENTORY
forseti inventory purge 0

/# Create new inventory and load into new ad hoc model
/# Model name can be anyth

[2019-04-20 21:50] #2643 closed

[2019-04-20 22:14] Red-Five commented on #2084
@RexBelli Thankyou.

Two approaches here, start from a blank slate using lessons learned
or iterate on existing k8s code.

I believe some people are already experimenting with the existing k8s code.
Based on your experiences do you have thoughts on iterative changes to the existing code?

-What base image to use?
-Modifying example install script to account for different scenarios?
-Should the con

[2019-04-22 20:43] dekuhn commented on #2750
@hshin-g  backport to 2.14.2 patch

[2019-04-22 20:48] dekuhn commented on #2728
Please validate the CIS benchmark items against the spec as part of PR review.

[2019-04-22 20:52] dekuhn commented on #2655
Sizing this to 1 day for investigation

[2019-04-22 20:57] dekuhn commented on #2614
Need to investigate if this would break explain feature if so more work is required to address this request.

[2019-04-22 21:00] dekuhn commented on #2348
Done, thanks Closing Issue.

[2019-04-22 22:58] Red-Five commented on #2483
I see how this is valuable for the GCE deployments.

Just a comment that for docker deployments this may circumvent CI\CD controls and image security scan.
(Ideally the image would be read only though not sure we can get there yet.)

[2019-04-22 23:05] Red-Five commented on #2084
@dekuhn Another item to track
https://github.com/forseti-security/forseti-security/issues/2520

[2019-04-23 04:15] red2k18 opened #2756 "Publish blog post on how to add email connector of your choice"
Users are looking for more info on how they can add new email connector, and the documentation on the website describes it on a high level. Writing up a blog post that describes the new design in detail would help.

[2019-04-23 15:38] abhishekupadhyaya commented on #2754
We ran the code from 2.14.1 release branch and followed the above instructions. However, we are still getting the same error:
`File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.14.1-py2.7.egg/google/cloud/forseti/scanner/scanner.py", line 103, in run
model_description.get('source_info').get('inventory_index_id'))
AttributeError: 'NoneType' object has no attribute 'get'`

[2019-04-23 17:02] dekuhn commented on #2520
Thanks for creating an issue. Was actually exploring this yesterday for real-time-enforcer.

[2019-04-23 18:02] red2k18 commented on #2677
#2755 resolves this.

[2019-04-23 18:02] #2677 closed

[2019-04-23 18:09] dekuhn commented on #2621
Marking as duplicate of: https://github.com/forseti-security/forseti-security/issues/2676

[2019-04-23 18:09] #2621 closed

[2019-04-23 18:26] osandoval011 commented on #2708
@jf-marquis-Adeo Hi Marquis, can you please provide me with your slack name.  I would like to confirm I understand all the details revolving your issue so I can solve it efficiently

[2019-04-23 18:43] jf-marquis-Adeo commented on #2708
jfm or jean-francois.marquis

Envoyé de mon iPhone

Le 23 avr. 2019 à 20:26, osandoval011 <notifications@github.com<mailto:notifications@github.com>> a écrit :

@jf-marquis-Adeo<https://github.com/jf-marquis-Adeo> Hi Marquis, can you please provide me with your slack name. I would like to confirm I understand all the details revolving your issue so I can solve it efficiently

—
You are receiving t

[2019-04-23 19:05] pvangara commented on #2754
select name,description from model;
+-------------+-------------+
| name        | description |
+-------------+-------------+
| model_adhoc | {}          |
+-------------+-------------+
1 row in set (0.00 sec)

I wonder.... if this is the issue, where when the model is created, the description is not needed with source_info and hence get is returning a None.

[2019-04-23 19:48] dekuhn opened #2757 "Migrate Terraform Forseti Install to Forseti-Security github org"
Migrate the Terraform Forseti Install from: https://github.com/terraform-google-modules/terraform-google-forseti to new repo in Forseti-Security org.

[2019-04-23 19:49] dekuhn commented on #2757
@morgante Added this issue based on our discussions related to moving forseti terraform repo.

[2019-04-23 19:57] morgante opened #2758 "Discussion: Deprecate Forseti installer wizard"
This issue is to gather discussion on a proposal to deprecate the existing Forseti installer in favor of the [Terraform module](https://github.com/terraform-google-modules/terraform-google-forseti).

The full proposal is captured in [this document](https://docs.google.com/document/d/1Q9Id6yX01Qryv3sr4au_4GlCyoUJw2BRkMFrNNRuBjI/edit).

[2019-04-23 21:36] pvangara commented on #2754
Model Create failing

ERROR google.cloud.forseti.services.model.importer.importer(_flush_session): Unexpected SQLAlchemyError occurred during model creation.
Traceback (most recent call last):
File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.14.1-py2.7.egg/google/cloud/forseti/services/model/importer/importer.py", line 216, in _flush_session
self.session.flush()
...
...
OperationalE

[2019-04-23 21:37] pvangara commented on #2754
Because of which
importer.py...

description = {
                    'source': 'inventory',
                    'source_info': {
                        'inventory_index_id': inventory.inventory_index.id},
                    'source_root': self._type_name(root),
                    'pristine': True,
                    'gsuite_enabled': inventory.type_exists(
                        ['gsuite_grou

[2019-04-23 22:42] Red-Five commented on #2754
Is the DB turned on and connected? Sorry for the dumb questions but they have to be asked lol.

Can u confirm you have connectivity from the container (independent of Forseti) to the MySQL instance?

[2019-04-23 22:58] Red-Five commented on #2758
I think it's more efficient to standardize on terraform;

If we just use Terraform, would would we still have a path to offer a push button deployment from Google Cloud Marketplace?

[2019-04-23 23:03] morgante commented on #2758
I don't believe it's currently possible to install from the Marketplace with either installer, but it's something we could explore in the future.

[2019-04-24 01:47] pvangara commented on #2754
yes.. in fact it continued writing afterwards also...

[2019-04-24 01:50] pvangara commented on #2754
What's the max number of accounts it was tested against? Is it tested with 300-400 projects?
Thanks,
Ranga.

[2019-04-24 01:59] pvangara commented on #2754
It creates inventory, and all. It consistently fails while creating the model. Same place during flush call.

[2019-04-24 13:05] fawix opened #2759 "Incorrect zone for client on forseti_client_installer.py"
version = 2.14.0
module: installer (via gcp_installer.py)

The `forseti_client_installer.py` is not obtaining the Client Instance Zone properly.

[code]

That means it will get the bucket region name and append a -c to get the zone name - this is totally misleading (also, there are other zones besides "c").

it generates the following logs when you are *not* using the default:

[code]

Locally I h

[2019-04-24 18:13] dekuhn opened #2760 "Update Forseti docs for CSCC API now in GA"
- [x] Update Forseti docs to reflect CSCC API now GA.
- [x] Please confirm if there are any changes required to the Forseti SCC Marketplace workflow with the move to GA or no changes are required
https://console.cloud.google.com/marketplace/details/forseti/forseti-security-cloud-scc-connector?folder&organizationId=527263219430

Related to: https://github.com/forseti-security/forseti-security/pull/

[2019-04-24 18:24] joecheuk opened #2761 "Update installation instruction on forseti website to include vpc flags"
The flags are current not being documented other than in the upgrade instruction. These flags are very useful for users who are interested in installing forset in shared VPC env.

vpc-host-project-id: {YOUR_PROJECT_ID}
vpc-host-network: default
vpc-host-subnetwork: default

[2019-04-24 19:46] hshin-g opened #2763 "BucketsAclScanner not working"
Reported by Antoine.

BucketsAclScanner not working due to "Commands out of sync; you can't run this command now" error.

Error:

```File "build/bdist.linux-x86_64/egg/MySQLdb/connections.py", line 36, in defaulterrorhandler raise errorclass, errorvalue ProgrammingError: (_mysql_exceptions.ProgrammingError) (2014, "Commands out of sync; you can't run this command now") [SQL: u'SELECT `86b68fabef8f

[2019-04-24 20:03] joecheuk opened #2766 "Increase config validator grpc packet size"
Now by default 4mb is the maximum which is not enough since config validator didn't implement pagination / streaming on their end.

[2019-04-24 20:04] red2k18 commented on #2760
#2765 updates the doc.

No changes are required. Functionality remains same.

[2019-04-24 20:15] #2766 closed

[2019-04-24 23:09] #2348 closed

[2019-04-25 14:44] blueandgold opened #2772 "Add new CAI resources (k8s)"
CAI has announced these new resources, and these should be added to Forseti inventory.

k8s.io/Node | (2019-04-24)
k8s.io/Pod | (2019-04-24)
k8s.io/Namespace | (2019-04-24)
rbac.authorization.k8s.io/Role | (2019-04-24)
rbac.authorization.k8s.io/RoleBinding | (2019-04-24)
rbac.authorization.k8s.io/ClusterRole | (2019-04-24)
rbac.authorization.k8s.io/ClusterRoleBinding | (2019-04-24)

[2019-04-25 15:40] ahoying opened #2773 "Add new CAI resources (compute)"
CAI has announced these new resources, and these should be added to Forseti inventory.

compute.googleapis.com/GlobalForwardingRule | 4/22/2019
compute.googleapis.com/RegionBackendService | 4/22/2019

[2019-04-25 15:44] umairidris commented on #2471
@frozen425 We tried passing in --project-id to be the forseti project but it is still trying to grant access at the org level. Was the code to skip org level grants done?

[2019-04-25 15:51] pvangara commented on #2754
After we bumped up the DB instance class on AWS, this issue went away. Closing the issue.

[2019-04-25 15:51] #2754 closed

[2019-04-25 16:00] Red-Five commented on #2084
If anyone interested in a way to use Google Cloud Code with VS Code to develop forseti code, continuously deploy to GKE, remote debug in pods and performance profile I have some draft notes here.

https://github.com/Red-Five/google-cloud-code-forseti-security/wiki

If the community is interested in standardizing on Google Cloud Code with VS Code as an IDE, some of the changes needed could be incor

[2019-04-25 17:05] Abdennebi commented on #2520
Does it make sense to also create a [cloud builde](https://github.com/GoogleCloudPlatform/cloud-builders)r?

[2019-04-25 17:37] Red-Five commented on #2520
@Abdennebi Salut

Ref. https://github.com/forseti-security/forseti-security/blob/dev/install/docker/cloudbuild.yaml

could be modified to push to DockerHub

[2019-04-25 23:30] Red-Five commented on #1437
Any new advice here?

I am in the process of attempting to upgrade to python3 as it is a requirement for Stackdriver Profiler on GKE

I am assuming (at least)
modify apt_packages.txt to include python3 equivalents
modify any references to pip in the dockerfile to use python3 -m pip install format instead

[2019-04-26 00:53] Red-Five opened #2777 "Feature Request: Google Cloud Code Support for GKE Development"
Is there interest in standardizing on Google Cloud Code (VS Code) for application debugging and Stackdriver Profiler for performance metrics?

Debugging would require some minor modifications to the dev code (on/off switchable)
Stackdriver Profiling needs Python3 migration completed and minor additional code modifications.

Ref. https://cloud.google.com/code/
Ref. https://github.com/GoogleCloudPla

[2019-04-26 07:14] blueandgold commented on #2084
@RexBelli, we are very interested to have your contribution and expertise to move this POC forward.  @dekuhn will reach out to loop you into our project planning.  Thanks!

@kevensen @hshin-g for FYI

[2019-04-26 07:34] supersmo opened #2779 "Findings reported to CSCC are not being properly updated when resolved"
When findings are resolved they remain unchanged with an old timestamp in CSCC.
Would be good if they had their status changed to inactive.

Found a discussion regarding this in the forseti forum:
https://groups.google.com/a/forsetisecurity.org/forum/#!searchin/discuss/cscc%7Csort:date/discuss/eAHvgCzIVww/IVPcJqOdBQAJ

[2019-04-26 14:46] Red-Five commented on #1437
Next '19 Video on Python 2 to 3: Migration Patterns

https://www.youtube.com/watch?v=Bye7Rms0Vgw

[2019-04-26 14:54] blueandgold commented on #1437
@hshin-g is actively working on this. @hshin-g, can you share your progress here?

[2019-04-26 15:43] hshin-g commented on #1437
@Red-Five That looks correct, and making sure that any Python references are for Py3, and not Py2. Have been running `futurize` on the Forseti source code as well to make sure that everything is Python 3 compliant.

[2019-04-26 15:56] Red-Five commented on #1437
( After watching the Next 19 video I see the migration may not be fully automatic. )

I see a number of specific library versions listed and that stumped me as I have no idea as to what versions are to be used for Python 3 or if all these libraries even have Python3 versions:
Ref. https://github.com/forseti-security/forseti-security/blob/17261898a33fb8e052ff528125450415a04c9b9c/setup.py#L35

How c

[2019-04-26 16:04] RexBelli commented on #2084
@blueandgold Awesome!  I'm happy to help any way I can.

@Red-Five
On building the container, it would be awesome to use something like `scratch` or one of the distroless (https://github.com/GoogleContainerTools/distroless).  I tried to use `gcr.io/distroless/python2.7` by building the dependencies in a build container and then moving everything over to distroless, but I couldn't get it to work.

[2019-04-26 16:09] hshin-g commented on #1437
We are looking to have the Py3 migration be complete by v2.16.0.

[2019-04-26 18:18] hshin-g commented on #1437
@Red-Five Here is our plan to migrate to Python 3: https://docs.google.com/document/d/1VkYN2JtUdb0b4peqAMcDgQolA4SEjVdcYhbGwLVpVpQ/edit?usp=sharing

Your comments and suggestions are welcome!

[2019-04-26 19:43] kevensen commented on #2084
I think as far as deployment we ought to look at helm.  I've created some charts to orchestrate the deployment.  I'll share those as soon as we get a repo in the Forseti org for helm.

With the image, as small as possible is key.  @RexBelli I like the idea of gcr.io/distroless/python2.7.  I've had success with python:2.7.16-slim.

As far as keeping the files in the GCS bucket, I tend to agree.  Th

[2019-04-26 20:26] TaylorMutch opened #2781 "Error running IapScanner against Network Endpoint Groups"
- [x] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`
 on the client).

Using version `v2.14.1`.

 - [x] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.

Issues with `scanner`.

 - [x] Include errors, log output, and host operating system, including installed packages.

OS: Ubuntu 18.04 LTS (Go

[2019-04-26 21:52] RexBelli commented on #2084
@kevensen I agree on Helm, though, If possible, a Tiller-less approach should be used.

I might be misunderstanding, but why use both a configmap and a GCS bucket?  Since Forseti can pull from GCS directly, it seems you could remove the configmap entirely.

[2019-04-26 22:04] kevensen commented on #2084
Fortunately the option to not use Tiller is inherently available.

Can you please help me understand how the Forseti server container, for example, would pull in it's config and rules?  Programmatically?

[2019-04-26 22:15] RexBelli commented on #2084
Nice!  I wasn't aware that was possible yet with stock Helm.

Ah, the confusion may lie in the config file.  I was referring to the rules only, which, AFAICT, can be pulled directly from GCS: https://github.com/forseti-security/forseti-security/blob/dev/configs/server/forseti_conf_server.yaml.in#L200

[2019-04-26 22:36] kevensen commented on #2084
@RexBelli RE: rules, that will make things simple!  How to obtain the config file will need some thought.  I am open to ideas.

[2019-04-26 23:44] Red-Five commented on #2084
Re rules and config: the existing PoC is fully functional (gsutil cp is used). I wouldn't get too hung up on configs at this point.

There are some minor (in terms of time) security issues to address.
1. Remove need to run container as root to use gsutil (easy fix)
2. PoC use of KMS to protect the secret.

The main thing for the initial 'list and shift' is to make it easy to deploy.

Then we need

[2019-04-28 14:13] nandigamchaitanya commented on #2421
Hi can you please help me how to resolve the issue
i have configured forseti multiple times

[2019-04-28 14:14] nandigamchaitanya commented on #2421
Hi may i know How this issue was resolved

[2019-04-28 18:08] red2k18 commented on #2779
@supersmo this has been fixed in v2.13.0. What version are you on? Are you filtering for active findings on CSCC?

[2019-04-28 23:11] #2760 closed

[2019-04-28 23:16] red2k18 commented on #2781
@TaylorMutch could you share the rules file you have configured for IAP scanner?

[2019-04-28 23:45] TaylorMutch commented on #2781
I believe it is the default `iap_rules.yaml` file from the Terraform module.
[code]

[2019-04-29 22:19] #2735 closed

[2019-04-29 23:07] #2669 closed

[2019-04-30 00:08] Red-Five opened #2784 "Support Config Validator on GKE"
Create a docker container for config validator.
Add docker entry point to start it.

Initially deploy it as a sidecar in same pod as forseti server,
with possible eventual goal to run it as a Cluster IP service.

Note k8s cronjobs don't support sidecars (as they keep the job running indefinitely).
There is an ugly hack to workaround.

[2019-04-30 13:02] sparthe123 opened #2785 "Cloudsql Password update"
Hi,

 Every time where there is a version update for Forseti, I need to update my cloudsql password (vi /lib/systemd/system/forseti.service) after update complete.Is there any way I can achieve this during deployment, so it can update in all required places.
Thanks!

[2019-04-30 14:39] supersmo commented on #2779
We were on 2.14.1
We tested to create a firewall violation, altered the firewall rule so it still was violating the rule, removed the firewall rule while running the forseti scan inbetween each step. The end result was 2 findings regarding the rule and none of them went from active to inactive.
Today we upgraded to 2.14.2 and my colleague ran the tests again and the behaviour was the same but he f

[2019-05-01 14:03] hariram01 opened #2786 "Audit Log Scanner Giving Wrong Violations"
Hi

I am using forseti V2.14 in my project.

I having issue in Scanner. When i am trying to run Audit Log Scanner it is wrongly reporting violations for all services which all service Log type enable.

I am deployed forseti via local system .Please find attached error and screen of the screen.

[Audit Log Scanner Bug.xlsx](https://github.com/forseti-security/forseti-security/files/3134703/Audit.Lo

[2019-05-02 20:17] osandoval011 commented on #2708
@jf-marquis-Adeo Can you please confirm this is no longer an issue for you since terraform install?

[2019-05-02 22:30] dekuhn opened #2787 "Python 3 compatibility deadline considerations"
Google has a hard deadline to have specific parts of Forseti code base in Python 3 by EOQ2.

P0 Items are:
forseti-security/google/cloud/forseti/common/gcp_api/ & dependencies
forseti-security/google/cloud/forseti/enforcer/ & dependencies

P1 Items:
forseti-security/google/cloud/forseti/services/base/ & dependencies
forseti-security/google/cloud/forseti/services/inventory/ & dependencies

Target d

[2019-05-02 22:33] dekuhn commented on #1437
Related Python 3 migration concerns / timelines for Google: #2787

[2019-05-02 23:54] Red-Five commented on #1437
@hshin-g Is there a branch for the migration work? If not, would you be willing to create one
for community learning, change reviews, participation if you get stuck?

[2019-05-03 04:13] jf-marquis-Adeo commented on #2708
yes no more issue

[2019-05-03 04:13] #2708 closed

[2019-05-03 13:31] hariram01 opened #2788 "LogSink is not working and generating wrong Violations"
Dear Team

I am using Forseti V2.14 and I am having issue with Log Sink Scanner.
I am trying to run logsink scanner which is not working. I created one logsink of my one project but still it is showing in violation report.

I deployed Forseti on Local.

I am attaching supporting artifacts of this issue

Regards
Hari
[Log SInk Issue.docx](https://github.com/forseti-security/forseti-security/files/3

[2019-05-03 15:54] hshin-g commented on #1437
@Red-Five The migration branch is called `fs-future`.

[2019-05-03 21:54] #2750 closed

[2019-05-06 17:55] red2k18 commented on #2788
Size 1 as it needs to be investigated.

[2019-05-06 17:55] red2k18 commented on #2786
Size 1 as it needs to be investigated.

[2019-05-07 16:49] dekuhn commented on #2725
We need to make this change in the terraform repo as well for this release.
https://github.com/forseti-security/terraform-google-forseti/blob/master/modules/rules/templates/rules/group_rules.yaml

[2019-05-07 17:18] red2k18 commented on #2773
#2778 adds support for GlobalForwardingRule
#2791 adds support for RegionBackendService

[2019-05-08 19:49] #2773 closed

[2019-05-08 20:06] TaylorMutch opened #2798 "Unnecessary inventory errors when retrieving USER_MANAGED serviceAccountKeys from GCP-managed service accounts"
# Issue report
 - [x] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`  on the client).

`Version 2.14.1`
 - [x] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.

`Inventory`
 - [x] Include errors, log output, and host operating system, including installed packages.

Error message from Inventory,

[2019-05-09 05:42] red2k18 opened #2799 "Database column error reported by multiple customers after upgrading to 2.14"
Below id the complete error message reported by multiple customers after upgrading to 2.14.

Suggested user to reset the server VM and check if startup script is executed successfully. Error persists.

[code]

[2019-05-09 09:21] ocervell commented on #2291
Seeing the same from time to time, using `forseti scanner run`:

[code]

[2019-05-09 13:33] ocervell commented on #2740
To reproduce, just remote the location scanner yaml file, reload the server config, and run the scanners.

[2019-05-09 13:34] ocervell commented on #2737
+1 for this, those are just making users anxious :)

[2019-05-09 14:15] osandoval011 opened #2800 "A single scanner failure crashes entire scan and provides no log"
When a single scanner fails, it crashes whole scanning process (of all scanners), and no logs are provided even with debug set at log level

First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`
 on the client).
 - [ ] Which module(s) (invento

[2019-05-09 15:19] ocervell commented on #2800
+1 very hard to debug

[2019-05-10 16:30] blueandgold commented on #2697
External contributors used to get see output about build failures due to unable to decrypt secrets: #1913

[2019-05-10 17:14] nbards commented on #2798
I'm seeing similar events.  clarification would be appreciated.

[2019-05-10 17:29] nbards commented on #2785
Also, the `forseti-security/install/gcp/upgrade_tools/db_migrator.py` script fails in the default no-password configuration, this created a problem in the 2.13 to 2.14 upgrade.

if there is a way to properly store a secret like a db password, that would be great!  I haven't found one appropriate to deployment-manager templates, though.

Perhaps in `forseti-security/deployment-templates/compute-eng

[2019-05-10 17:37] nbards commented on #2758
Is GCP deprecating deployment-manager in favor of terraform generally?  As an enterprise customer, with my account team and Google Professional Services telling me to use Forseti, creating additional pre-reqs to installing and managing the tool is not very appealing.
(i don't have access to the document so only have the info in this issue.)

[2019-05-10 17:52] morgante commented on #2758
@nbards There are not plans to deprecate DM across the board, but maintaining two different installers is a substantial operational burden.

That being said, before deprecating the DM installer we plan to build a guided install experience in Cloud Shell (w/ Terraform pre-reqs installed) available—would that address your concerns?

[2019-05-10 18:50] nbards commented on #2799
for me this was due to setting a cloudsql password according to the faq.  the db_migrator.py script has no mechanism for getting a passworded connect string due to pulling code from github on reboot.  i manually ran the update script.

[2019-05-10 19:27] nbards commented on #2758
@morgante I understand that.  I have substantial operational burdens using forseti in my enterprise, too.  Glad to discuss.  I'm happy to participate, and trial the "guided install experience".
Since Google is telling me as a paying customer to use forseti, who from Google could participate in the discussion as well?

[2019-05-10 19:34] nbards opened #2802 "don't use root as the cloudsql db user"
- [ 2.13, 2.14, 2.14.1, 2.15 ] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py` on the client).
 - [ installer ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ n/a ] Include errors, log output, and host operating system, including installed packages.
 - [ deployment manager ] Note how you

[2019-05-10 19:58] morgante commented on #2758
@nbards Once we have the guided install, I'm happy to trial it with you. (I work at Google.)

[2019-05-10 23:36] joecheuk opened #2804 "Increase size of violation_data column in the violation table"
Text() is not enough to store some violation data

[2019-05-12 06:12] red2k18 commented on #2779
@supersmo Thanks. Please provide more details and/or screenshot if possible so we can investigate.

[2019-05-13 22:33] masonhensley opened #2813 "Hangouts Chat Notifications"
Hello,

I have a feature request for google hangouts chat integration in addition to the slack option.

- https://developers.google.com/hangouts/chat/quickstart/incoming-bot-python

## Here's a potential config:

[code]

[2019-05-13 22:36] osandoval011 opened #2814 "CLA check fails on website"
Upon initial creation of a forsetisecurity.org website pull request , if a valid base is not specified (for example if dev is left as base instead of changing it to  a website base) then the CLA check fails, asking for consent from numerous people who are uninvlolved with the change.  The Travis build fails to start as well.  This is even after changing the base branch to be another website branch

[2019-05-14 18:20] dekuhn commented on #2756
Lets move this to backlog until we have some other email provider examples we can publish along with blog post.

[2019-05-14 18:24] dekuhn commented on #2725
Change was made in other repo. Closing.

[2019-05-14 18:24] #2725 closed

[2019-05-15 05:45] joecheuk opened #2825 "key lifecycleState might not exist when crawling resources"
"[forseti-security][2.15.0] google.cloud.forseti.services.inventory.crawler(visit): 'key: lifecycleState, data: {}'
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.15.0-py2.7.egg/google/cloud/forseti/services/inventory/crawler.py", line 114, in visit
    resource.get_iam_policy(self.get_client())
  File "/usr/local/lib/python2.7/dist-packages/fo

[2019-05-15 10:28] marmolejo opened #2827 "Inventory fails with bucket ACLs permission errors for Composite Root"
v2.14.1 constantly fails in the inventory stage by not being able to get ACLs for buckets:

[code]

[2019-05-15 12:58] supersmo commented on #2779
Sure here's a screenshot: ![image](https://user-images.githubusercontent.com/12717958/57776608-401fde80-7720-11e9-9249-5ada62d05830.png)
We created a VM with an external network IP which triggered a finding at 2:02 PM.
Then we deleted the VM and ran forseti again at 2:38 PM but the old finding remains active.

We checked the logs generated with debug logging active, but didn't find any entries reg

[2019-05-15 17:48] TaylorMutch commented on #2798
I'm still having this issue; seeing my SQL database grow into the TBs full of errors 😿

[2019-05-16 15:28] blueandgold commented on #2798
@osandoval011 to investigate.

[2019-05-16 17:44] dekuhn commented on #2084
Linking here the Requirements and Design doc the team is collaborating on:
[Requirements/User Stories](https://docs.google.com/document/d/1HSR0IxgivoaCdAyTVM2vpNu-6tXm7eGg9RYRtEHKjhQ/)
[Forseti on GKE Design](https://docs.google.com/document/d/1EmFjjGzVcILb143q3ZTSigjMOR-_3TliNOM7lq-y17)

[2019-05-16 21:13] red2k18 commented on #2763
@hshin-g can this be closed?

[2019-05-16 21:14] #2763 closed

[2019-05-17 16:52] joecheuk opened #2835 "Handle expected errors when querying the google service account API"
Adjust the list service account keys response by handling warning messages and skip storing them in the database.

Issues: CAI is giving us = Google Managed Service accounts, when we attempt to list the service account key we get 404. Will ignore 404 errors and not log them in the database.

[2019-05-17 16:53] #2804 closed

[2019-05-17 16:54] joecheuk commented on #2798
Thanks for reporting the issue, we will look into handling the unnecessary warning messages, opened issue #2835 to track the problem

[2019-05-17 17:43] joecheuk opened #2837 "Suppress warning messages when doing an inventory list"
Instead, we want to let the user know whether or not there is a warning, user can use inventory get to see all the warnings.

[2019-05-17 17:43] joecheuk commented on #1730
#2837 for inventory list

[2019-05-17 17:44] joecheuk commented on #2837
relates #2798

[2019-05-17 22:17] #2837 closed

[2019-05-17 22:17] #2835 closed

[2019-05-17 22:20] joecheuk commented on #2798
Hi @TaylorMutch and @nbards ,

We have patched both 2.14 and 2.15 to handle this problem, do you mind upgrading your instance to the latest version (2.14.2 or 2.15.1) and see if you still have the problem?

If you used default forseti installer to install Forseti, you can simply reset both the client and server VM and it will pick up the latest patch. If you used terraform to install forseti, you

[2019-05-18 01:35] TaylorMutch commented on #2798
Thanks Joe, I will test this out now. Will report back after the next inventory runs.

[2019-05-18 02:48] TaylorMutch commented on #2798
Tested with v2.14.2, seems to be working now. I like that the errors are now retrievable on a "get" request rather than a list - getting all those errors really wasn't useful in the list view.

[2019-05-18 02:49] #2798 closed

[2019-05-21 15:10] ksulakh98 opened #2842 "facing issue when I use this code to provide Source IP Ranges"
When we use sourceRanges to blacklist any IP ranges
It does not work as expected and does not generate violation for that IP Range.
We have followed proper indentation.

Version: v2.15.0
Module: Scanner

[2019-05-21 16:46] red2k18 commented on #2779
@supersmo  Thanks for the information! Sorry for the delayed response. I was not tagged so I was not notified of your response.

Could you also share the screenshot which says that these violations were not generated when you ran the Notifier followed by the Scanner?

[2019-05-22 20:36] dekuhn opened #2843 "Broken links based on search results on forsetisecurity.org web site."
When clicking on search results on the forsetisecurity.org web site e.g. https://forsetisecurity.org/search/?q=diagram I get 404 error due to the link going to a specific version of the docs that have been pruned.

Error: Not Found
The requested URL /docs/v2.2/concepts/architecture.html was not found on this server.

[2019-05-22 20:37] dekuhn commented on #2843
If I know where to go I can browse and get to the content: https://forsetisecurity.org/docs/latest/concepts/architecture.html. Not sure why the search results are indexing or returning the pruned content/links vs using "latest".

[2019-05-22 21:01] dekuhn opened #2844 "Migrate website to its own repo in forseti-security github org."
Today the website managed through two branches in the forseti-security repo [forsetisecurity.org](https://github.com/forseti-security/forseti-security/tree/forsetisecurity.org)
and [forsetisecurity.org-dev](https://github.com/forseti-security/forseti-security/tree/forsetisecurity.org-dev)

Now that we have our own org we want to move this from a branch into its own repo and update the CI/CD system

[2019-05-23 02:00] dekuhn commented on #2843
I have requested via webmaster tools to reindex www.forsetisecurity.org -
https://search.google.com/search-console/inspect?resource_id=https%3A%2F%2Fwww.forsetisecurity.org

Based on https://support.google.com/webmasters/answer/9012289#url_not_on_google re-indexing may take a week or two.

[2019-05-23 02:43] dekuhn commented on #2843
In digging into this further I have found the sitemap.xml generated is not valid. The sitemap URLs should be the fully qualified url not relative paths.

Sitemap can be read, but has errors
Invalid URL
4739 instances
This is not a valid URL. Please correct it and resubmit.
Examples
URL:
/docs/latest/concepts/architecture.html
Line 4

[2019-05-24 15:23] abhishekupadhyaya opened #2849 "Unable to get KMS inventory and scanner output"
Hi,

We are using Forseti release-2.15.0

It seems like KMS inventory and scanner output is not supported. It would be great to have KMS related results.

Thank you,
Abhishek

Note: Could be similar to #2550

[2019-05-24 15:54] dekuhn commented on #2843
Sitemap PR submitted for 2.16 release. Still waiting for Webmaster Tools to reindex the site to address the broken search links. The Sitemap fix will also help in the future with broken links.

[2019-05-24 17:57] dekuhn commented on #2749
Just dismissed GitHub advisory on this topic for our repo (https://github.com/forseti-security/forseti-security/network/alert/setup.py/SQLAlchemy/closed).

We will be updating to 1.3 of this module as part of Python 3 migration.

NOTE: We don't run raw SQL queries via the IAM explain feature that uses the underlying sqlalchemy library. We feel we are not vulnerable to the injection attack.

[2019-05-24 18:34] joecheuk opened #2852 "Update forseti to not depend on older pip version."

[2019-05-25 16:58] joecheuk opened #2856 "Flaky tests cases causing Travis CI build to fail intermittently"
Fails on unit tests and pylint, unit tests worked locally and one of the travis push/pr also passed. If I were to update the unit test according to the output, it will fail the other one. Not sure if this is a problem on how we setup travis push/pr.

Note: if you re run it multiple times, it **might** pass once in a while.

Example error output:

[code]

[2019-05-28 16:06] joecheuk opened #2857 "Make forseti version easier to access"
maybe we can include --version flag to show the version.

[2019-05-28 17:50] joecheuk opened #2858 "Setup stackdriver monitoring for Forseti"
If forseti is not running for some reasons, users should receive an alert through email.

[2019-05-28 17:52] blueandgold commented on #2858
Duplicate of #108 .

[2019-05-28 17:52] #2858 closed

[2019-05-28 18:30] dekuhn commented on #2843
The site has been re-indexed and PR to build proper sitemap is merged for release.. Resolving!

[2019-05-28 18:30] #2843 closed

[2019-05-28 20:34] urbanenomad opened #2860 "Firewall source range rule applied to a Firewall that uses sourceTags"
- [ ] Which version of Forseti Security you're using
Forseti version: 2.13.1

 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
scanner

 - [ ] Include errors, log output, and host operating system, including installed packages.
NAME="Ubuntu"
VERSION="18.04.2 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.2 LTS"
VERSION_ID="18.04"
H

[2019-05-28 21:13] blueandgold commented on #2514
This flag has been removed, so closing the issue.

[2019-05-28 21:13] #2514 closed

[2019-05-29 00:20] umairidris opened #2862 "Forseti installer broken"
$ python3 /tmp/tmp9x6jw11z/install/gcp_installer.py --no-cloudshell

Traceback (most recent call last):
  File "/tmp/tmp9x6jw11z/install/gcp_installer.py", line 23, in <module>
    gcp_installer.run()
  File "/tmp/tmp9x6jw11z/install/gcp/gcp_installer.py", line 28, in run
    site.main() # Load up the package
  File "/usr/lib/python3.6/site.py", line 542, in main
    abs_paths()
  File "/usr/lib/p

[2019-05-29 02:15] joecheuk opened #2865 "Notifier error Object of type 'bytes' is not JSON serializable"
[code]

[2019-05-29 17:02] dekuhn commented on #2862
@joecheuk @red2k18  can we please ensure our release testing includes this type of installer test going forward.

[2019-05-29 17:04] dekuhn commented on #2856
@joecheuk Can we use this issue to track our flaky test cases which need to be improved.

[2019-05-29 18:04] dekuhn opened #2868 "Forseti Website URL checks need to test localhost vs prod website"
Since fixing the sitemap with #2847 when building a new release the httproof is checking for the latest version of the docs on the production site forsetisecurity.org, it should just look at the urls on localhost.

[2019-05-29 18:42] kbroughton commented on #2511
Looking forward to these landing.  One small note: 7.12 recommendation to use client certs has been reversed on the official documentation. It seems the latest guidance from the cluster creation page is to only access with IAM credentials because certs are hard to revoke and don't auto-rotate.

Best is to use apparently IAM access.
It seems the latest guidance from the cluster creation page is to

[2019-05-29 21:20] dekuhn commented on #2868
Add forsetisecurity.org as internal-domain for httpproofer currently it is treating them as external and when new docs are created for a new build these don't exist externally.

[2019-05-29 21:58] dekuhn commented on #2868
Fixed

[2019-05-29 21:58] #2868 closed

[2019-05-30 01:55] dekuhn commented on #2862
@joecheuk Does this fix need to be back-ported to previous versions?

[2019-05-30 01:57] dekuhn commented on #2852
@joecheuk Is this targeted in 2.16? If so can we just add that to the issue. Thanks

[2019-05-30 02:10] joecheuk commented on #2852
Yes, it is resolved in #2854

[2019-05-30 21:10] red2k18 commented on #2862
@blueandgold do we need to backport this to previous versions or close this issue?

[2019-05-30 21:11] red2k18 commented on #2865
@joecheuk can this issue be closed?

[2019-05-30 21:13] red2k18 commented on #2779
@supersmo Please share more information when you get a chance.

[2019-05-30 21:16] #1437 closed

[2019-05-30 21:29] red2k18 commented on #2727
Docker container is built and is working. Need to migrate over to use it.

[2019-05-30 21:29] #2727 closed

[2019-05-30 23:11] #2865 closed

[2019-05-30 23:11] #2852 closed

[2019-05-30 23:34] dekuhn commented on #2520
I have setup a Docker Hub org now that is building real-time-enforcer  https://hub.docker.com/r/forsetisecurity.

Currently docker hub is configured to build new containers on tagged releases.

[2019-05-30 23:37] dekuhn commented on #2520
As we work on #2084 we can use docker hub as the source.

[2019-05-30 23:37] #2520 closed

[2019-05-31 20:08] #2468 closed

[2019-05-31 20:08] #2123 closed

[2019-05-31 20:09] #2800 closed

[2019-05-31 21:01] #2710 closed

[2019-05-31 21:01] #2731 closed

[2019-05-31 21:19] joecheuk commented on #2862
This issue is py3 only, no need to backport.

[2019-05-31 21:19] #2862 closed

[2019-05-31 21:49] umairidris commented on #2862
@joecheuk has the fix been backported to dev from 2.16?

[2019-05-31 21:51] joecheuk commented on #2862
almost - once this PR is in https://github.com/forseti-security/forseti-security/pull/2877

[2019-06-03 23:27] dekuhn commented on #1437
Python 3 migration completed with release [v2.16](https://github.com/forseti-security/forseti-security/releases/tag/v2.16.0)

[2019-06-03 23:45] red2k18 opened #2880 "Group settings scanner gives violation even though all the settings match."
Below is the rule file config and group settings provided by the user.

rules:
  - name: All groups with iam policies should have all of these settings
    mode: whitelist
    only_iam_groups: True
    groups_emails:
      - '*'
    settings:
      #allowExternalMembers: True
      whoCanJoin: "INVITED_CAN_JOIN"
      whoCanInvite: "ALL_MANAGERS_CAN_INVITE"
      whoCanAdd: "ALL_MANAGERS_CAN_ADD"

[2019-06-03 23:46] dekuhn opened #2881 "Update Forseti docs to reference Python3"
Linking docs that need to be updated for Python 3.

https://forsetisecurity.org/docs/latest/develop/dev/setup.html#setting-up-a-local-environment
  brew install python@2

https://forsetisecurity.org/docs/latest/develop/dev/setup.html#troubleshooting
cd <virtual environment>/lib/python2.7/site-packages/google/cloud

Should we be running pylint --py3k - maybe this is addressed and I am missing where

[2019-06-03 23:46] red2k18 commented on #2880
<?xml version="1.0" encoding="UTF-8"?>
<entry xmlns="http://www.w3.org/2005/Atom" xmlns:apps="http://schemas.google.com/apps/2006" xmlns:gd="http://schemas.google.com/g/2005">
 <id>tag:googleapis.com,2010:apps:groupssettings:GROUP:it@domain.com</id>
 <title>Groups Resource Entry</title>
 <content type="text">IT</content>
 <author>
  <name>Google</name>
 </author>
 <apps:email>it@domain.com</apps:e

[2019-06-03 23:54] red2k18 commented on #2857
Is this really needed? Version can currently be viewed on Stackdriver logging.

[2019-06-05 16:00] blueandgold opened #2883 "Make "Contact Us" link more prominent on the front page."
Currently, it's not easy to find out how to contact the forseti team on the website.

When I go to the front page, nothing immediately sticks out, unless I do a lot of scrolling to the bottom, which seems not a good user experience since I am just guessing/hoping something might be down there.

I would expect to find a Contact Us link at the top menu bar.

[2019-06-05 21:41] abhishekupadhyaya opened #2884 "Unable to get scanner output results for multiple organizations using a single forseti_conf_server.yaml file"
Hi,

I am using Forseti release-2.15.1

I am trying to get scanner output for multiple GCP organizations using the same conf file [`forseti_conf_server.yaml`]https://github.com/forseti-security/forseti-security/blob/dev/configs/server/forseti_conf_server.yaml.sample

As mentioned on the instruction (`You must set ONLY one of root_resource_id or composite_root in your configuration. Defining both w

[2019-06-05 23:42] #2787 closed

[2019-06-06 02:31] red2k18 commented on #2884
Hi Abhishek, did you comment out `root_resource_id`? If not, what value did you provide for that field?

[2019-06-06 02:40] abhishekupadhyaya commented on #2884
I have commented out `root_resource_id`.

[2019-06-06 04:20] red2k18 commented on #2884
Could you try this instead and let me know if it works - `root_resource_id: ""`?

[2019-06-06 04:30] red2k18 commented on #2849
Hi Abhishek, could you elaborate what do you mean by KMS related results?

[2019-06-06 04:34] red2k18 commented on #2779
@supersmo We've fixed this issue in v2.13.0. Let us know if you're still seeing INACTIVE findings after checking the Active findings check box on CSCC.

[2019-06-06 04:35] red2k18 commented on #2842
Hi, is it possible for you to share with us the rule you have configured for this?

[2019-06-06 04:38] red2k18 commented on #2799
Did manually running the update script help?

[2019-06-06 04:40] red2k18 commented on #2761
#2810 fixes this.

[2019-06-06 04:40] #2761 closed

[2019-06-06 04:41] red2k18 commented on #2786
Hi, are you still seeing this issue? If so, could you share with us the rule you configured for this?

[2019-06-06 13:22] hariram01 commented on #2786
Hi,
Should l updated the forseti release ?

[2019-06-06 14:31] abhishekupadhyaya commented on #2849
Hi, this is regarding [kms_rules.yaml](https://github.com/forseti-security/forseti-security/blob/dev/rules/kms_rules.yaml) as we were unable to get scanner output and inventory for crypto keys that were not rotated for the given `rotation_period`

[2019-06-06 14:31] nbards commented on #2799
yes, manually running the update script with the password in the connect string per the FAQ on setting a db password fixed the problem.  (and looking at the data read audit trail for cloudsql when rebooting/resetting the server vm makes it clear that it was an authentication error when running the db_migrator.py script.)

[2019-06-06 17:45] red2k18 commented on #2849
Is it possible for you to share the rules file and let me know what you plan to enforce with that rule?

[2019-06-06 17:46] red2k18 commented on #2786
I'm not sure what you mean. Could you please rephrase?

[2019-06-06 17:55] abhishekupadhyaya commented on #2849
I have added content of yaml file below (I couldn't attach the file).

We are trying to get cryptographic keys within our organization that haven't been rotated in last one year.

[code]

[2019-06-06 17:56] hariram01 commented on #2786
Hi
I tested on release V2.14.0. So should I update forseti release to test it?

[2019-06-06 18:07] red2k18 commented on #2786
Hi, is it working on v2.13.0? Yes, we recommend to update as soon as the new version is released. We're on v2.16.0

[2019-06-06 18:36] red2k18 commented on #2883
I'm sure this will be super helpful to users.

[2019-06-06 21:10] red2k18 commented on #2849
Hi, I double-checked. You should be receiving violations for cryptographic keys that are not rotated in last 365 days or beyond that based on the rule you configured. Please check if you have keys in your GCP environment that were created over a year ago and weren't rotated. If yes, go ahead and check the `violations` table to see if there are KMS violations.

[2019-06-06 21:12] red2k18 commented on #2884
Did it work for you?

[2019-06-06 21:16] red2k18 commented on #2786
Also, is it possible for you to share with us the rule you have configured for this?

[2019-06-06 21:22] abhishekupadhyaya commented on #2884
@red2k18 thanks. It worked. I will close the issue.

[2019-06-06 21:22] #2884 closed

[2019-06-06 21:22] red2k18 commented on #2881
#2886 fixes this.

[2019-06-06 21:23] #2881 closed

[2019-06-06 21:24] abhishekupadhyaya commented on #2849
I have even tried by setting rotation_period as 1 day and didn't see any violations. There are cryptographic keys not rotated for more than 1 day in my environment.

[2019-06-07 00:08] red2k18 commented on #2799
Cool, thank you for the information.

[2019-06-07 00:08] #2799 closed

[2019-06-07 16:22] dekuhn opened #2889 "Address website commits without CLA"
There are a number of [commits](https://github.corp.google.com/prinfo?q=/https://github.com/forseti-security/forseti-security/pull/2807) that did not have proper CLA signed and creates issues when integrating the web site. We need to address the missing CLA or revert the commits.

[2019-06-07 18:04] red2k18 commented on #2635
#2888 fixes this.

[2019-06-07 18:04] #2635 closed

[2019-06-07 19:40] dekuhn commented on #2889
Can fix email address if we need to change to update someone's email to their CLA approved email for past commit.
https://www.git-tower.com/learn/git/faq/change-author-name-email

[2019-06-07 20:14] Red-Five opened #2890 "Python3 Installation Error"
Ref. https://forsetisecurity.org/docs/latest/setup/install.html

v2.16.0

Step 3. python3 install/gcp_installer.py

Generates error

Traceback (most recent call last):
  File "install/gcp_installer.py", line 23, in <module>
    gcp_installer.run()
  File "/home/<...>/forseti-security/install/gcp/gcp_installer.py", line 83, in run
    from .installer.forseti_server_installer import ForsetiServerIns

[2019-06-07 20:37] #860 closed

[2019-06-07 20:37] #862 closed

[2019-06-07 20:37] #867 closed

[2019-06-07 20:37] #1104 closed

[2019-06-07 20:37] #1125 closed

[2019-06-07 20:37] #1218 closed

[2019-06-07 20:37] #1225 closed

[2019-06-07 20:37] #1229 closed

[2019-06-07 20:37] #1338 closed

[2019-06-07 20:37] #1357 closed

[2019-06-07 20:37] #1368 closed

[2019-06-07 20:37] #1376 closed

[2019-06-07 20:37] #1387 closed

[2019-06-07 20:37] #1438 closed

[2019-06-07 20:37] #1525 closed

[2019-06-07 20:37] #1548 closed

[2019-06-07 20:37] #1613 closed

[2019-06-07 20:37] #1847 closed

[2019-06-07 20:37] #1879 closed

[2019-06-07 20:37] #1945 closed

[2019-06-07 20:37] #2092 closed

[2019-06-07 20:37] #2117 closed

[2019-06-07 20:37] #2147 closed

[2019-06-07 20:37] #2272 closed

[2019-06-07 20:37] #2447 closed

[2019-06-07 20:37] #113 closed

[2019-06-07 20:37] #780 closed

[2019-06-07 20:37] #829 closed

[2019-06-07 20:37] #843 closed

[2019-06-07 20:37] #853 closed

[2019-06-07 20:43] #1914 closed

[2019-06-07 20:43] #1920 closed

[2019-06-07 20:43] #1930 closed

[2019-06-07 20:43] #1938 closed

[2019-06-07 20:43] #1946 closed

[2019-06-07 20:43] #1952 closed

[2019-06-07 20:43] #1962 closed

[2019-06-07 20:43] #1972 closed

[2019-06-07 20:43] #1980 closed

[2019-06-07 20:43] #1981 closed

[2019-06-07 20:43] #2055 closed

[2019-06-07 20:43] #2056 closed

[2019-06-07 20:43] #2058 closed

[2019-06-07 20:43] #2076 closed

[2019-06-07 20:43] #2079 closed

[2019-06-07 20:43] #2121 closed

[2019-06-07 20:43] #2125 closed

[2019-06-07 20:43] #2131 closed

[2019-06-07 20:43] #2194 closed

[2019-06-07 20:43] #2330 closed

[2019-06-07 20:43] #2360 closed

[2019-06-07 20:43] #2362 closed

[2019-06-07 20:43] #2364 closed

[2019-06-07 20:43] #2371 closed

[2019-06-07 20:43] #2373 closed

[2019-06-07 20:43] #1124 closed

[2019-06-07 20:43] #1126 closed

[2019-06-07 20:43] #1147 closed

[2019-06-07 20:43] #1243 closed

[2019-06-07 20:43] #1259 closed

[2019-06-07 20:43] #1297 closed

[2019-06-07 20:43] #1307 closed

[2019-06-07 20:43] #1384 closed

[2019-06-07 20:43] #1410 closed

[2019-06-07 20:43] #1424 closed

[2019-06-07 20:43] #1425 closed

[2019-06-07 20:43] #1633 closed

[2019-06-07 20:43] #1644 closed

[2019-06-07 20:43] #1663 closed

[2019-06-07 20:43] #1671 closed

[2019-06-07 20:43] #1674 closed

[2019-06-07 20:43] #1675 closed

[2019-06-07 20:43] #1682 closed

[2019-06-07 20:43] #1694 closed

[2019-06-07 20:43] #1758 closed

[2019-06-07 20:43] #1806 closed

[2019-06-07 20:43] #1829 closed

[2019-06-07 20:43] #1838 closed

[2019-06-07 20:43] #1849 closed

[2019-06-07 20:43] #1850 closed

[2019-06-07 20:43] #727 closed

[2019-06-07 20:43] #752 closed

[2019-06-07 20:43] #765 closed

[2019-06-07 20:43] #770 closed

[2019-06-07 20:43] #774 closed

[2019-06-07 20:43] #781 closed

[2019-06-07 20:43] #791 closed

[2019-06-07 20:43] #796 closed

[2019-06-07 20:43] #799 closed

[2019-06-07 20:43] #806 closed

[2019-06-07 20:43] #810 closed

[2019-06-07 20:43] #826 closed

[2019-06-07 20:43] #827 closed

[2019-06-07 20:43] #859 closed

[2019-06-07 20:43] #933 closed

[2019-06-07 20:43] #964 closed

[2019-06-07 20:43] #1026 closed

[2019-06-07 20:43] #1032 closed

[2019-06-07 20:43] #1033 closed

[2019-06-07 20:43] #1037 closed

[2019-06-07 20:43] #1074 closed

[2019-06-07 20:43] #1075 closed

[2019-06-07 20:43] #1086 closed

[2019-06-07 20:43] #1087 closed

[2019-06-07 20:43] #1110 closed

[2019-06-07 20:43] #54 closed

[2019-06-07 20:43] #60 closed

[2019-06-07 20:43] #65 closed

[2019-06-07 20:43] #66 closed

[2019-06-07 20:43] #67 closed

[2019-06-07 20:43] #68 closed

[2019-06-07 20:43] #69 closed

[2019-06-07 20:43] #70 closed

[2019-06-07 20:43] #71 closed

[2019-06-07 20:43] #72 closed

[2019-06-07 20:43] #78 closed

[2019-06-07 20:43] #112 closed

[2019-06-07 20:43] #144 closed

[2019-06-07 20:43] #161 closed

[2019-06-07 20:43] #182 closed

[2019-06-07 20:43] #242 closed

[2019-06-07 20:43] #279 closed

[2019-06-07 20:43] #280 closed

[2019-06-07 20:43] #424 closed

[2019-06-07 20:43] #468 closed

[2019-06-07 20:43] #527 closed

[2019-06-07 20:43] #648 closed

[2019-06-07 20:43] #662 closed

[2019-06-07 20:43] #703 closed

[2019-06-07 20:51] ryanismert commented on #1382
This should align with any work that we do roundtripping status from CSCC. I'm going to close this issue (esp since we haven't worked on it since it was opened), and we'll add this to future work if/when we do the CSCC stuff.

[2019-06-07 20:51] #1382 closed

[2019-06-07 20:54] #2341 closed

[2019-06-07 20:54] ryanismert commented on #2341
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 20:57] ryanismert commented on #2229
Given that we have the FAQ, closing this.

Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 20:57] #2229 closed

[2019-06-07 20:58] ryanismert commented on #2199
@blueandgold to update this issue with CAI timeline.

[2019-06-07 21:00] ryanismert commented on #2003
Pending completion of the OpenCensus work.

[2019-06-07 21:06] dekuhn commented on #1915
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:06] #1915 closed

[2019-06-07 21:06] dekuhn commented on #1679
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:06] #1679 closed

[2019-06-07 21:07] dekuhn commented on #1678
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:07] #1678 closed

[2019-06-07 21:08] dekuhn commented on #1599
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:08] #1599 closed

[2019-06-07 21:09] dekuhn commented on #1100
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:09] #1100 closed

[2019-06-07 21:10] dekuhn commented on #825
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:10] #825 closed

[2019-06-07 21:10] dekuhn commented on #793
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:10] #793 closed

[2019-06-07 21:14] dekuhn commented on #653
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:15] dekuhn commented on #526
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:15] #526 closed

[2019-06-07 21:16] dekuhn commented on #518
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:16] #518 closed

[2019-06-07 21:17] dekuhn commented on #1394
Cleanup of old issues. Please re-open if there's still interest.

[2019-06-07 21:17] #1394 closed

[2019-06-07 21:21] dekuhn commented on #1076
Cleanup of old issues. Please re-open if there's still interest.

This is covered in manual testing today. Our efforts to automate our testing further will address this.

[2019-06-07 21:21] #1076 closed

[2019-06-07 22:04] red2k18 commented on #2883
#2887 fixes this.

[2019-06-07 22:04] #2883 closed

[2019-06-08 11:15] daenney commented on #653
Please re-open. This is a security product. It ought to come with signed release that I can verify before deploying it.

[2019-06-10 07:30] supersmo commented on #2779
Hi,
We are on Forseti 2.16.
The feature is not working for us at all.
As the screenshot I posted earlier indicates the old findings are not put in inactive when they are fixed. They remain active with an timestamp.

Here is an extraction of the log from the latest run. Doesn't show much except that we have debug logging on and that it finds violations and successfully sends them to cscc. It's hard

[2019-06-10 16:23] red2k18 commented on #2779
Hi, thanks for the information! I think it will be easier to hop on a call and see what is going on. Let me know your availability so I can schedule a call. Thanks!

[2019-06-10 17:14] blueandgold commented on #1601
There is no immediate plan to work on this. Please re-open if there's interest.

[2019-06-10 17:14] #1601 closed

[2019-06-10 17:28] dekuhn commented on #653
@blueandgold Henry this issue has sat since 2017. If is important to the project please triage and outline the eng effort needed for this. I took some time to link to a few details that should help us size this effort.

This is a good primer: https://gist.github.com/cyphar/21a1b213901a0a0ec19764ac03646ebe

- [ ] Goal: Sign tag and released binaries
- [ ] Establish a PGP signing key (Need to define

[2019-06-10 17:53] blueandgold commented on #653
@daenney, as a starter, we can add the release signing step for the release engineer to do, as part of our release process. We can start to do this for our next 2.17 release.

An example process of how to sign a release manually is here:
https://wiki.debian.org/Creating%20signed%20GitHub%20releases

[2019-06-10 18:14] joecheuk opened #2891 "Installer should use the get-ancestors method to look up the organization id"
It is currently using describe which will cause permission problem if the user only has project lvl access.

[2019-06-10 20:04] dekuhn commented on #2844
@red2k18 Rehana can you outline the specific tasks you believe need to be completed for the successful migration of the website to its own repo? If we need to we can create specific GitHub issues for these work items.

- [ ] Create new website specific repo in Forseti GitHub Org and ensure build process works
- [ ] Get website setup with nightly build in Travis CI
- [ ] Update internal release pro

[2019-06-10 21:26] red2k18 commented on #2890
Thanks @Red-Five for reporting this error! Submitted #2893 to update the documentation to incorporate this.

[2019-06-10 22:58] #2890 closed

[2019-06-10 23:06] ahoying opened #2895 "Add new compute Address resources from CAI to Forseti Inventory"
Resource | Availability
-- | --
compute.googleapis.com/Address | 2019-06-10: History since 2019-06-04
compute.googleapis.com/GlobalAddress | 2019-06-10: History since 2019-06-04

[2019-06-11 15:30] #2891 closed

[2019-06-11 16:27] joecheuk opened #2897 "Inventory depends on certain google apis to be enabled while CAI can support those resources w/o enabling those APIs."
e.g. to inventory GCS bucket, we first check and see if storage API is enabled :-

[code]

But if CAI is enabled, storage bucket info is coming from CAI instead, we need to update to make sure for resources that we support w/ CAI doesn't depend only on the enablement of google api for that resource.

[2019-06-11 18:54] red2k18 commented on #1783
Is this ready to go out in 2.17?

[2019-06-11 18:55] red2k18 commented on #2714
Can this be released next week?

[2019-06-11 19:19] dekuhn commented on #1783
This was already completed: https://forsetisecurity.org/docs/latest/concepts/architecture.html

[2019-06-11 19:19] #1783 closed

[2019-06-11 21:54] joecheuk opened #2898 "Update config validator binary to the latest version."

[2019-06-11 22:11] #2898 closed

[2019-06-11 23:26] red2k18 commented on #2779
We will prioritize this for next release.

[2019-06-12 16:30] ocervell commented on #2779
+1 running into this as well

[2019-06-13 00:18] katze120 commented on #2897
hi @joecheuk , adding further analysis here:

There are 3 iterator classes or function in ./google/cloud/forseti/services/inventory/base/resources.py that validates enablement of API in target projects:
- compute_iter_class_factory - this is fair because compute.googleapis.com has to be enabled for the project to have compute engine instances.
- KubernetesClusterIterator - similar reason as above

[2019-06-13 18:14] red2k18 opened #2903 "Rotate Forseti server service account key as it is a best practice."
- [ ] Investigate GAE push for docs
- [ ] Investigate integration testing environment
---
No service account keys are generated for the Forseti deployments (GCE + GKE). The service account is bound to the GCE VMs so that no keys are generated. For GKE uses something similar, which is the workload identity.

There might be some service account keys used for the builds on Travis. Investigate and sug

[2019-06-13 18:21] dekuhn opened #2904 "Python3 environment setup process is not working"
Our Python3 setup instructions appear to not working for the team. We need to figure out what is broken and update the public docs.

[2019-06-13 21:38] dekuhn commented on #2862
@red2k18 @joecheuk I believe this was fixed in 2.16 release if that is the case can we fix the targeted release here as it does not apply to 2.17.

Thanks.

[2019-06-13 23:16] dekuhn opened #2906 "Integration / Release Automation"
Automate the release process which is manual currently.  As much as feasible, this should involve automatically create the release branch, run the functional tests, sign the release, and then finalize the release.

[2019-06-13 23:21] dekuhn opened #2907 "Setup Travis Nightly build to run end2end integration tests"

[2019-06-13 23:22] dekuhn opened #2908 "Implement InSpec Tests in Nightly end2end integration test"

[2019-06-13 23:23] dekuhn commented on #2908
Core tests are located here: https://github.com/forseti-security/terraform-google-forseti/tree/master/test

[2019-06-13 23:26] red2k18 commented on #2862
Fixed it. Thanks Darrel!

[2019-06-14 15:39] Red-Five commented on #2700
This can probably be closed.

The new Helm approach (under development by @kevensen ) externalizes configs to k8s ConfigMap and removes the need for gsutil to be installed on the image.

[2019-06-14 16:07] Red-Five commented on #653
@kevensen We should consider 'signed' Docker images.

[2019-06-14 16:14] Red-Five commented on #2904
Is this a duplicate of https://github.com/forseti-security/forseti-security/issues/2890 or are their other issues?

[2019-06-14 16:23] blueandgold commented on #2904
Thanks @Red-Five This is separate, this relates to the local development env setup.

[2019-06-14 18:33] #2693 closed

[2019-06-14 20:57] katze120 opened #2909 "violation_data from CONFIG_VALIDATOR_VIOLATION have extra escape characters"
- version 2.16.0
 - module: scanner
 - violation data from CONFIG_VALIDATOR_VIOLATION have extra escape characters. They're not proper json format, keys cannot be sorted properly, causing duplicate violation_hash and subsequently duplicate findings on CSCC to be created

Example violation_data from CONFIG_VALIDATOR_VIOLATION in forseti_security.violation table and violation_data field of CSCC find

[2019-06-14 21:05] red2k18 commented on #2909
@joecheuk please determine the priority and add priority label to this issue.

[2019-06-14 21:06] red2k18 commented on #2907
Related to #2906

[2019-06-14 21:06] red2k18 commented on #2908
Related to #2906

[2019-06-17 04:27] Murcurio opened #2911 "Supporting whitelist mode for Cloud SQL networks scanner"
- [ v2.16.0 ] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`
 on the client).
 - [ scanner ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ terraform ] Note how you deployed (via Deployment Manage

[2019-06-17 15:06] abhishekupadhyaya commented on #2849
@red2k18 Is there an update on this issue?

[2019-06-17 15:33] red2k18 commented on #2849
@abhishekupadhyaya, yes, I double-checked and it is working for the same rule you posted. I set `rotation_period` = 1 day. I can hop on a call later today to see what is going on.

[2019-06-17 15:38] abhishekupadhyaya commented on #2849
@red2k18 lets have a call today.

[2019-06-17 16:13] #2909 closed

[2019-06-17 16:39] dekuhn commented on #2544
@joecheuk Can you review this request. I know you have been working on features in this area.

[2019-06-17 17:42] red2k18 commented on #2849
Is 3:30pm - 4pm PST today a good time to chat?

[2019-06-17 17:54] abhishekupadhyaya commented on #2849
That works.

[2019-06-17 19:15] red2k18 commented on #2849
I have sent you an invite. Talk to you then.

[2019-06-17 20:52] dekuhn commented on #2676
@joecheuk have you been able to get any customer data to help us understand where the problem is happening.

[2019-06-17 22:20] Red-Five commented on #2676
Now that we have migrated to Python3, we can consider including Stackdriver Profiling code in the standard codebase (with a flag to turn it on/off).

https://cloud.google.com/profiler/docs/profiling-python

[2019-06-18 18:13] abhishekupadhyaya commented on #2849
@red2k18 thank you for the call yesterday. I made changes based on your feedback. However, we are still not seeing any KMS results. We are getting `2019-06-18 17:13:23,036 INFO google.cloud.forseti.notifier.notifier(run): Resource 'kms_violations' has no violations` even though we have KMS resources with violations on our organization.

[2019-06-18 22:04] hshin-g opened #2919 "Bigquery commandline query produces SSLHandshakeError"
The following error is produced when running Bigquery command line queries: ```SSLHandshakeError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed```

Resolve this by updating the gcloud version, which is currently set to 212.

@blueandgold

[2019-06-19 01:57] red2k18 commented on #2772
#2916 adds kubernetes resources to inventory.

[2019-06-19 01:57] #2772 closed

[2019-06-19 02:00] red2k18 commented on #2779
Sorry for the inconvenience caused. The fix will be part of 2.17 scheduled to release this Thursday.

[2019-06-19 02:00] red2k18 commented on #2779
Feel free to reopen this issue if the issue persists.

[2019-06-19 02:00] #2779 closed

[2019-06-19 12:46] kevensen opened #2922 "Consider Moving to mysql-connector"
The current dependency "mysqlclient==1.4.2" relies on C libraries to compile the Python byte code.  The mysql-connector-python library doesn't have an C library dependencies: [https://pypi.org/project/mysql-connector-python/](https://pypi.org/project/mysql-connector-python/)

[2019-06-19 16:14] red2k18 opened #2923 "Automate installation of future module"
Right now, users need to run `pip install future` besides the installer to deploy Forseti in their environment. See if this can be automated and if yes, do so.

[2019-06-19 16:20] dekuhn commented on #2922
@kevensen Can you add some context how this benefits us in a GKE deployment? IIRC relying on the C lib means you had to make some considerations for this dependacy.

[2019-06-19 16:24] kevensen commented on #2922
I think this would benefit both the GCE and GKE deployments.  The fewer dependencies you install in a host or container, the smaller the surface of attack.

In the case of GKE, it's one less package installed resulting in a smaller container image (every MB makes a difference :-) ).  It's shorter time building the images as well.

[2019-06-19 16:47] joecheuk opened #2927 "update config validator binary to the latest version."
Resolves #2926

[2019-06-19 16:47] #2927 closed

[2019-06-19 16:49] joecheuk opened #2928 "Update installer to import gcp directly"

[2019-06-19 16:49] #2928 closed

[2019-06-19 17:06] #2825 closed

[2019-06-19 17:10] dekuhn commented on #2825
@joecheuk can we add a target Milestone for this Issue & PR.

[2019-06-19 17:45] dekuhn commented on #2772
This PR should be part of this issue for tracking: https://github.com/forseti-security/terraform-google-forseti/pull/184

[2019-06-19 18:11] red2k18 commented on #2772
Actually #184 will have all the 2.17 release changes including k8s changes. That's why I did not link this issue in that PR. Let me know if you want me to link it there.

[2019-06-19 19:40] red2k18 commented on #2849
Yesterday you said you're not running Forseti directly. Could you elaborate on how you're running Forseti?

[2019-06-19 20:53] kevensen commented on #2922
If opting for BigQuery as a data store, this is moot.

[2019-06-20 20:01] abhishekupadhyaya commented on #2849
We run forseti on containers using AWS ECS. The database in MySQL (AWS RDS) and bucket is AWS S3.

[2019-06-20 20:31] jeffaldinger opened #2934 "Ip Forwarding Rule"
Hello,
We're using version 2.15.1
We are trying to create a rule for scanning for instances which have "can_ip_forward" set to "True" and we're wondering if this is a field that can be supported. For example:
[code]
Any help on how to go about doing this would be greatly appreciated!
Thank you,
-Jeff

[2019-06-21 11:51] antoine-castex opened #2936 "Dont scan some Folder please"
Hello

Because now Google AppScript is fully integrated with GCP, all the GCP project created by AppScript are in GCP Org in a specific folder

because i have 7 000 projects in this folder ,  my global inventory my 10 000 projects (3 000 original GCP + 7000 AppScript) , takes now 7 hours, crazy with a lot of errors from theses 7000 projects that i dont need ...

i know i can install forseti only o

[2019-06-21 19:06] dekuhn opened #2937 "gcr"

[2019-06-21 19:06] #2937 closed

[2019-06-22 00:17] dekuhn commented on #653
Release [v2.17](https://github.com/forseti-security/forseti-security/releases) is our first signed release.

This is a great first step. Next steps is we need to work on having the automated build pipeline do this for us.

[2019-06-22 00:46] dekuhn commented on #2842
@ksulakh98 We can't do much to help fix this without more details. Please re-open the issue and provide us with your rule please.

[2019-06-22 00:46] #2842 closed

[2019-06-22 00:47] dekuhn commented on #2904
@red2k18 Did you figure this out, if so can can we update the docs and close this issue out. Thanks!

[2019-06-22 05:28] jf-marquis-Adeo opened #2938 "2.17 - Terraform install -missing variable db_migrator.py"
- [x] Update Forseti db_migrator.py to support custom database name for GCE
- [ ] Update Terraform and Helm Charts to support custom database name on GKE
---

Hello,
after installing 2.17 through terraform with specified db_name
 ` cloudsql_db_name                                    = "forseti-security"`
my forseti refuse to start...
after investigation i see that in /home/ubuntu/forseti-security/

[2019-06-22 12:20] daenney commented on #653
This is great, thank you! Is the GPG key documented somewhere so I can validate the signature?

[2019-06-23 23:22] kevensen opened #2939 "Wrong indentation for scanners block?"
I believe the "scanners" block has one indent too many.

https://github.com/forseti-security/forseti-security/blob/e8478d39e47d5f4b65a87aa611a8e924f9ef796e/configs/server/forseti_conf_server.yaml.sample#L198-L248

[2019-06-24 09:48] paskal opened #2940 "2.17.0: Missing permissions: roles/monitoring.metricWriter"
Hello, team!

After #2882 was merged, v2.17 (Google Deployment Manager instalaltion method) installs stackdriver monitoring agent which writes following messages in `/var/log/syslog` every minute:
[code]
The reason is missing `roles/monitoring.metricWriter` permission.

[General documentation](https://forsetisecurity.org/docs/v2.17/concepts/service-accounts.html#permissions) and [upgrade documenta

[2019-06-24 09:54] paskal commented on #2939
True! `scanners:` line should be indented with one less space, currently, it's causing YAML validation problems like that: `did not find expected key while parsing a block mapping at line 203 column 5 `.

[2019-06-24 16:14] cybermerc commented on #2802
There is a reason for the current setup documented here  https://github.com/forseti-security/forseti-security/issues/921

That being said, its a bit dated so going to look and see if this can be addressed now

[2019-06-24 16:17] #2939 closed

[2019-06-24 16:40] #2940 closed

[2019-06-24 18:19] dekuhn opened #2946 "Implement Forseti by default with Private IPs"
Feedback from @ahoying : The reason the VMs were deployed with public IPs by default was that this was the only way to allow interactive SSH access to the Forseti command line tool. With the release of Cloud IAP for TCP forwarding in beta, now is a good time to look at switching the default to always using private IPs, and changing the documentation to connect through IAP for SSH.

[2019-06-24 18:23] hshin-g commented on #2934
Hi @jeffaldinger,

You can create a custom constraint in our [policy-library](https://github.com/forseti-security/policy-library) to use with the [Config Validator](https://github.com/forseti-security/config-validator).

- [Config Validator user guide](https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md)
- [How to write a constraint](https://github.com/forseti-securit

[2019-06-24 23:00] dekuhn commented on #2946
@kevensen Not sure how the VMs are deployed in GKE and if there is something we can do in the GKE work to ensure default deployment does not include any public IPs?

[2019-06-24 23:38] hshin-g opened #2947 "Add Terraform-Google-Forseti to Pull Request template"
Add checklist item for users to verify they have created a corresponding pull request in the [Terraform-Google-Forseti ](https://github.com/forseti-security/terraform-google-forseti) repository, if applicable.

[2019-06-25 18:30] #2947 closed

[2019-06-26 01:47] #2897 closed

[2019-06-26 06:29] supersmo commented on #2779
Great! Thanks! Been on vacation and currently a bit overswamped with work. I'll report back when the fix is verified.

[2019-06-26 16:21] red2k18 commented on #2779
Looking forward to hearing from you.

[2019-06-26 16:51] red2k18 commented on #2849
@abhishekupadhyaya Please check if `cai` is enabled in `forseti_conf_server.yaml` and run the below query on the `gcp_inventory` table to ensure `kms_keyring` and `kms_cryptokey` data is in the inventory.

`select * from gcp_inventory where resource_type like '%kms%';`

[2019-06-26 18:15] red2k18 commented on #2676
Will add flag to #2317. Thanks @Red-Five for the suggestion.

[2019-06-26 22:20] joecheuk opened #2949 "Update ke_rules.yaml to scan for the following ke versions"
Vulnerabilities to mitigate:
CVE-2019-11477
CVE-2019-11478
CVE-2019-11479

The patch will be available in Kubernetes 1.11.8-gke.10, Kubernetes 1.12.7-gke.24, Kubernetes 1.12.8-gke.10 and Kubernetes 1.13.6-gke.13.

[2019-06-27 16:18] pvangara commented on #2849
MySQL [forseti]> select * from gcp_inventory where resource_type like '%kms%';
Empty set (0.09 sec)

snippet from conf file:

    cai:
        # The FORSETI_CAI_BUCKET needs to be in Forseti project.
        enabled: true

[2019-06-27 21:32] hshin-g commented on #2676
@joecheuk to write separate issue detailing technical challenges related to this.

[2019-06-27 21:38] joecheuk opened #2951 "Optimize inventory process when CAI is enabled."
The current crawling design pattern is not needed when CAI is enabled and it will drastically increase the inventory time as it runs a lot of unnecessary queries.

The ideal pattern is to read from CAI data directly and extract the parent information on the fly then inserting it into the database to avoid running more queries per insert.

#2676

[2019-06-27 22:12] red2k18 opened #2952 "Add flag to turn on/off opencensus profiling"
#1845

[2019-06-28 20:54] joecheuk opened #2954 "Update Forseti inventory to use cai gcp client to get GKE data."
Uncomment this block of the code:
https://github.com/forseti-security/forseti-security/blob/ce15e9c6902f4f785ad92686f22afeb4ae17c960/google/cloud/forseti/services/inventory/base/cai_gcp_client.py#L842

Assuming the data is identical to the data returned from the GCP API

[2019-07-01 16:49] ahoying opened #2957 "Add new compute.interconnect, compute.interconnect_attachment resources from CAI to forseti inventory"
The following resource type(s) have been onboarded into the Cloud Asset Inventory and are now publicly available through the CloudAsset APIs:

Resource | Availability
-- | --
compute.interconnect | 2019-06-26
compute.interconnect_attachment | 2019-06-26

[2019-07-01 19:56] joecheuk commented on #2954
Relates #2704

[2019-07-01 19:59] joecheuk commented on #2954
Verified in the latest CAI data, nodepools is included in the returned value.

[2019-07-01 20:06] #2949 closed

[2019-07-01 20:07] hshin-g commented on #2714
As per comment in #2715, closing relevant PRs until more investigation is done.

[2019-07-01 20:57] #2954 closed

[2019-07-02 15:18] supersmo commented on #2779
It works! Thanks for the fix! :-)

[2019-07-02 17:40] red2k18 commented on #2779
Awesome! Thanks for letting me know. :)

[2019-07-08 18:17] hshin-g commented on #2786
Forseti Engineering team will try to reproduce this issue.

[2019-07-08 18:44] hshin-g opened #2960 "Design Doc for Excluding Folders/Projects in Inventory"
Write up a design doc for excluding folders and projects as mentioned in Issue #2936.

[2019-07-08 18:49] dekuhn opened #2961 "Research and size the work required Forseti to by default use only Private IPs"
Related to: Implement Forseti by default with Private IPs#2946

Goal is to understand the required changes to both GKE/VM deployments

[ ] What changes are required to installers (Terraform/DM)
[ ] What changes are required to proxy
[ ] Are there changes to IAM
[ ] How to enable Private IP Access for Forseti project (likely related to installers)

[2019-07-10 10:52] rich-boyce opened #2969 "G Suite group membership is not expanded for certain users"
- Forseti version: 2.17.0
 - Module: explainer
 - No relevant errors are presented in either the client or server logs.
 - Deployed via Deployment Manager following https://forsetisecurity.org/docs/latest/setup/install.html and https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html.
 - Reporting this bug as requested in the Slack channel by @joecheuk

We're seeing an issue where F

[2019-07-10 21:04] joecheuk opened #2971 "Appengine instances list api returning 501"
Example:
<HttpError 501 when requesting https://appengine.googleapis.com/v1/apps/policyscanner-henry/services/default/versions/1/instances?alt=json returned \"Managed VMs is not supported. Please contact support.\">\n{\n  \"error\": {\n    \"code\": 501,\n    \"message\": \"Managed VMs is not supported. Please contact support.\",\n    \"status\": \"UNIMPLEMENTED\"\n

Should investigate and mute th

[2019-07-10 21:47] hshin-g commented on #2749
We don't run raw SQL queries via the IAM explain feature that uses the underlying SQLAlchemy library. The only access to call those SQL queries is via GRPC to the Forseti server, and there is no internet exposure.

We feel we are not vulnerable to the injection attack.

[2019-07-10 21:55] hshin-g opened #2972 "Update SQLAlchemy queries to be compatible with SQLAlchemy v1.3+"
Currently, Forseti Security uses SQLAlchemy v1.2.18. Upgrading from 1.2 to 1.3 results in [breaking changes](https://docs.sqlalchemy.org/en/13/changelog/migration_13.html), so we will need to update the SQLAlchemy queries in the codebase to be compatible with SQLAlchemy v1.3+.

This includes explicitly using an ON clause when joining tables, as mentioned [here](https://docs.sqlalchemy.org/en/13/ch

[2019-07-10 22:16] kevensen commented on #2922
If I understand correctly, Forseti will continue to use MySQL as a data store.  I think we should continue to  consider this.

[2019-07-10 22:22] kevensen opened #2973 "Use MySQL in a container instead of CloudSQL?"
Using MySQL in a container instead of CloudSQL may increase performance.  Investigation is required to assert this.

[2019-07-12 11:32] manojawapv-biarca opened #2974 "It would be very useful to have root_resource_id as part of forseti-alert Inventory Summay email"
Hello,

I am using Forseti 2.16. I configured forseti to monitor all the projects in my organization. Not all projects need to be scanned every time. Some times I change the root_resource_id and scan only one project. After the scan I get forseti-alert notification email with inventory index. This email does not have the root_resource_id. Now, at a later point of time, if I check the forseti notif

[2019-07-15 15:34] blueandgold opened #2975 "Add notification for the continuous build of the website."
A daily continuous build on travis is already in place for the forseti website.  We need to close the loop by adding a notification when a build has failed.

[2019-07-15 15:58] blueandgold commented on #2974
Hi Manoj, thanks for you feedback. This sounds like a great idea.  The change is not too difficult.  Is this something that you are wiling to contribute?  We can definitely help you to get setup and other pointers. Otherwise, let me added it our sprint planning.

And just to confirm, what you want is the `root_resource_id` from the `forseti_conf_server.yaml` like in this screenshot?

![image](http

[2019-07-15 19:53] blueandgold commented on #2973
Thanks for the idea, putting into our planning backlog.

[2019-07-15 20:49] hshin-g commented on #2626
@kevensen What are your thoughts on implementing?

[2019-07-15 20:57] #2641 closed

[2019-07-16 01:48] MartenvanWezel opened #2976 "Make no-external-ip the default"
Subject says it all - from a security standpoint, using internal IPs only is best practice - both for VMs as well as SQL, so this should be the deployment default, unless there's compelling reasons not to..

[2019-07-16 04:23] blueandgold commented on #2788
Hi @hariram01 , I am able to reproduce your issue.  It looks like you have a line break in your log sink rule.

![image](https://user-images.githubusercontent.com/6977544/61265671-1dbd3800-a746-11e9-853d-055a894e2997.png)

So, combine the `filter` value into one line, and the scanner will match it correctly to your log sink, and then no violation will be found.

I will go ahead and close this issu

[2019-07-16 04:23] #2788 closed

[2019-07-17 07:54] Abdennebi opened #2977 "Doc Fix: Missing files for deploying Forseti on Kubernetes POC"
Hi,

I'm trying to deploy Forseti on Kubernetes by following this guide: https://forsetisecurity.org/docs/latest/setup/kubernetes.html.

The guide references a script ``k8s_setup_forseti.sh`` that is not more present in ``dev`` branch. After doing some searches it appears that this file has been deleted in this [commit](https://github.com/forseti-security/forseti-security/commit/2c62f000c33cf83527

[2019-07-17 08:48] Abdennebi commented on #2977
I just noticed that there is upstream Helm chart (https://github.com/forseti-security/upstream-helm-charts). Any update about the official release ?

[2019-07-17 11:35] kevensen commented on #2977
Hi @Abdennebi,

I apologize for the missing files and confusion.  We are in the process of re-architecting "Forseti on GKE" into a stable, supportable feature.  We hope to have the documentation updated within the next couple of weeks.

I am glad you noticed the "upstream-helm-charts" repo.  We will be deprecating this repo soon in favor of https://github.com/forseti-security/helm-charts.  If you

[2019-07-17 13:13] Abdennebi commented on #2977
Hi @kevensen,

No worries! glad that there is a stable Helm version, I will try it readily!

[2019-07-17 13:38] kevensen commented on #2977
@Abdennebi, any feedback you have on the Helm piece is appreciated.

[2019-07-17 17:51] hariram01 opened #2978 "In Firewall IP Range is open for all IP range"
Hi Team

After Forseti Installation I noticed that this issue.

1. I installed forseti V2.18
2. I am having issue with Firewall -IP Range which is open for 0.0.0.0/0
3. Screen attached
4. I used deployment Manager

Thanks
Hari
![Firewall-IpRange](https://user-images.githubusercontent.com/50173659/61398383-e52e7300-a899-11e9-9610-12b7db340ea3.PNG)

[2019-07-17 21:23] hshin-g opened #2981 "Update CSCC setup in Forseti website to match Terraform-based install path"
Update CSCC setup instructions in Forseti website documentation [here](https://forsetisecurity.org/docs/latest/configure/notifier/#cloud-scc-notification) to match Terraform-based install path.

[2019-07-18 03:17] blueandgold commented on #2786
@hariram01, I am able to reproduce this issue, and confirms that this is a problem.

I am going to assume that you are using cloud asset inventory (CAI) to build the inventory data (this is the default option).  So, the problem is that the audit log data provided by CAI is differing from the data provided via the API call. (Please see the screenshot below)

So, for example, you can see the key nam

[2019-07-18 05:31] blueandgold commented on #2655
I am unable to reproduce the problem.

How this was tested:

1. Created a new dataset in an existing project.
2. No table is created in the new dataset.
3. Built a new inventory.
4. Inventory completed successfully.  Dataset data looks like the following.
[code]
5. Built a new model using this inventory.
6. Dataset data look like the following.
[code]

Closing this as problem can not be reproduced

[2019-07-18 05:31] #2655 closed

[2019-07-18 14:48] hariram01 opened #2984 "Forseti Inventory getting failed and taking long time to complete"
Hi Team

I have been installed forseti version 2.18 with deployment manager   last week. Forseti getting failed when creating Inventory. And it is taking too long time to complete (Around 20 hours in a day).
I am attaching a error log of forseti failure.

Thnaks
Hari
[Eror-Log.txt](https://github.com/forseti-security/forseti-security/files/3407071/Eror-Log.txt)

[2019-07-18 15:19] blueandgold commented on #2984
@hariram01 Thanks for providing the log.  It seems the error is related to gsuite.  We have a section in our website doc that covers this.  (https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html#troubleshooting)

Specifically, please look at this section:
![image](https://user-images.githubusercontent.com/6977544/61469702-89fd8e80-a934-11e9-914a-5f5e28f93b59.png)

The actual scop

[2019-07-18 15:19] #2984 closed

[2019-07-18 16:12] blueandgold commented on #2978
Thanks for reporting this.  I believe the `Source filters` there only indicates where ssh is allowed from.  But actual access by ssh is managed and granted by IAM roles to resource owners, or the os-login role to non-resource owners.

![image](https://user-images.githubusercontent.com/6977544/61473082-8bca5080-a93a-11e9-8df3-7f0e9b41b0d3.png)

Do you have any input on what alternative `Source filt

[2019-07-18 16:14] blueandgold commented on #2977
@Abdennebi we also have a weekly meeting on the GKE workstream, that you are welcome to attend and provide more direct feedback.  Please let us know if you like to join.

[2019-07-18 16:21] blueandgold commented on #2976
Great idea here.  But there is already another earlier issue that tracks that this.  Relates to #2946 So, I will close this off, in favor of that.

[2019-07-18 16:21] #2976 closed

[2019-07-19 02:15] Red-Five commented on #2162
Closing this as it is now out of date and replaced with the Helm deployment approach.
Ref. https://github.com/forseti-security/helm-charts

[2019-07-19 02:15] #2162 closed

[2019-07-19 02:21] #2700 closed

[2019-07-19 14:11] hariram01 opened #2986 "Lost connection to MySQL server during query"
Hi Team

I installed forseti V2.18 via deployment manager. I noticed that forseti is running since last 24+ hours in production. I checked the stack driver log and found error "MySQLdb._exceptions.OperationalError) (2013, 'Lost connection to MySQL server during query') ".
Please find attached log also.
[Forseti Error.txt](https://github.com/forseti-security/forseti-security/files/3411416/Forseti.E

[2019-07-19 14:14] rich-boyce commented on #2969
Hi all, any idea when this issue will get any attention? It's blocking a primary use case we have for Forseti.

Thanks.

[2019-07-19 14:25] hariram01 commented on #2978
Hi Team

It is critical to open for all. All VPN should be update when installing forseti.

[2019-07-19 16:18] joecheuk commented on #2986
Working with Hari to resolve the problem, seems like the default cloud sql instance is not sufficient for bigger gcp orgs.

[2019-07-19 17:06] hshin-g commented on #2960
The design doc is completed.

[2019-07-19 17:06] #2960 closed

[2019-07-19 17:43] hshin-g commented on #1971
If it turns out that error handling needs to be implemented, it may also have to be implemented in the Orchestrator container so please notify @kevensen.

[2019-07-21 19:23] hariram01 opened #2988 "Inventory Creation is very slow"
Hi Team

I installed forseti v2.18 in home depot production server. It is executed 07/19/19 12:27 EDT. Since last 46+ hours still it is running without a output and it is second time i am running  Forseti.

Last stack driver log updated on 2019-07-20 02:12:48 with below error

 "<HttpError 404 when requesting https://www.googleapis.com/compute/v1/projects/194530239960/regions/us-east1/instanceGrou

[2019-07-22 16:36] blueandgold commented on #2737
This issue should not be closed, until the PR is actually merged.  Which will be done automatically for you when you use the keyword `fixes`.
https://help.github.com/en/articles/closing-issues-using-keywords

[2019-07-22 18:06] blueandgold commented on #2978
Hi @hariram01 , did you mean for the last comment to be for your team?  If it's for us (the forseti team), please let us know, and reopen this issue.

Thanks.

[2019-07-22 18:06] #2978 closed

[2019-07-22 18:36] blueandgold commented on #2988
Thanks @joecheuk for looking into this.

[2019-07-22 18:37] blueandgold commented on #2988
Relates to #2676

[2019-07-22 20:07] #2981 closed

[2019-07-22 21:19] hshin-g commented on #2911
@joecheuk Is this something that we can implement in the Config Validator?

[2019-07-22 21:25] hshin-g commented on #2593
@joecheuk Is this something that can be addressed by Config Validator?

[2019-07-22 21:26] joecheuk commented on #2911
Hi @Murcurio , this constraint template should address your use case:
https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_sql_allowed_authorized_networks_v1.yaml

You can read more [here](https://forsetisecurity.org/docs/latest/configure/scanner/descriptions.html#config-validator-scanner) on how to enable config validator scanner in Forseti.

[2019-07-22 21:55] joecheuk commented on #2599
Verified it's part of the TF variables. Would be nice to have some documentation around that as TF has many variables.

[2019-07-23 12:34] kevensen commented on #2625
By default, I believe this should point to rules in GCS.  Thoughts?

I'll open a PR today.

[2019-07-24 08:56] rich-boyce opened #2993 "Prevent violations being sent for resources that are pending deletion"
- Forseti version: 2.17.0
 - Module: notifier or scanner
 - No relevant logs

It seems like Forseti should _not_ send violations for resources that are in the state 'pending_delete'.

Example: A violation is raised for a Cloud SQL instance that is accessible by 0.0.0.0/0. This particular instance was created for testing purposes and is no longer required, so it is deleted. The resource is put into

[2019-07-24 12:06] kevensen commented on #2625
It is possible to address this in the Helm charts.  I am working to fix it there and have opened a new issue in that repository.

[2019-07-25 04:45] blueandgold commented on #2993
Thanks for filing this!  I would think that making the change in the scanner would make sense, as we don't want the violation to be created in the first place.

[2019-07-25 15:59] joecheuk opened #2996 "Use WatchedFileHandler to better handle log rotation of forseti.log"
[FileHandler](https://docs.python.org/3/library/logging.handlers.html#filehandler) has issue with rotating logs. It sometimes continues to write to the old log file [1] also loses some logs [2].

[WatchedFileHandler](https://docs.python.org/3/library/logging.handlers.html#watchedfilehandler) works better with logrotate, to ensure the application detects changes in log file and continue to write to

[2019-07-25 16:19] #2996 closed

[2019-07-26 12:27] kevensen commented on #2973
Just a stream of thoughts....

1. Installation times will be faster if not dependent on a CloudSQL instance
2. Decreased cost
3. Less network traversal

[2019-07-26 16:08] kevensen opened #2998 "forseti-orchestrator endpoint by variable is not scalable"
As it stands, the forseti-orchestrator sets its endpoint via an environment variable injected into the pod by Kubernetes.

https://github.com/forseti-security/forseti-security/blob/fa0ace0ad33af23e5b3a652e8695bbcc1e9e30b6/install/scripts/docker_entrypoint.sh#L116-L120

This only works if the Helm release is named **Forset**, hence the **FORSETI**_SERVER_SERVICE_HOST.

This is not scaleable and sho

[2019-07-26 18:46] joecheuk commented on #2986
It doesn't happen any more after increasing the size of the cloudsql instance.

[2019-07-26 18:46] #2986 closed

[2019-07-26 18:47] dekuhn opened #3000 "Update Forseti UserAgent to include context of running on GKE/VM"

[2019-07-26 19:12] #2998 closed

[2019-07-29 15:22] MartenvanWezel opened #3001 "Docs point JMESPath to wrong scanner file"
Doumentation- https://forsetisecurity.org/docs/latest/configure/scanner/descriptions.html#kubernetes-engine-scanner

the JMESPath scanner config should point to
https://github.com/forseti-security/forseti-security/blob/master/rules/ke_scanner_rules.yaml

(it is now pointed at ke_rules.yaml)

[2019-07-30 06:13] blueandgold commented on #2969
I looked into this, and can repro the problem.  Digging deeper, I am able to find a bug, where not all the group members are not fully inventoried.  i.e. some members are not listed in the group.

For example:
* Suppose we have Group `XYZ`, with members `111`, `222`, `333` in the actual Google Groups.
* I expect members `111`, `222`, `333` to be members of Group `XYZ` in the Forseti `gcp_inventory

[2019-07-30 17:28] hshin-g opened #3003 "Create instrumentation for GKE"
Should also include VM.

[2019-07-30 17:33] hshin-g opened #3004 "Update reporting pipeline to process new user agent"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `/home/ubuntu/forseti-security/google/cloud/forseti/init.py`
 on the client).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed

[2019-07-30 18:30] #2737 closed

[2019-07-30 19:10] #1600 closed

[2019-07-30 19:10] dekuhn commented on #1616
@blueandgold Is there still work here or does the PR and the composite root feature resolve this spirit of this issue?

[2019-07-30 19:14] dekuhn commented on #1817
This was reviewed as part of the integration testing work. I think we will resolve this based on that work. Closing this issue.

[2019-07-30 19:14] #1817 closed

[2019-07-30 19:21] dekuhn commented on #2190
@kevensen @hshin-g can you review this issue and if this is no longer an issue with the new containers for the work we are doing close this as obsolete.

[2019-07-30 23:26] umairidris opened #3005 "Email send error"
Terraform config (JSON):
[code]

Error:

Since an email is not set I would expect the behaviour to be that Forseti does not try to send an email.

[2019-07-31 05:35] blueandgold commented on #3005
Hi Umair, as you can see from the code / screenshot here, there are various checks before the inventory summary email will be sent. What does your actual populated `forseti_conf_server.yaml` look like?

https://github.com/forseti-security/forseti-security/blob/dev/google/cloud/forseti/notifier/notifiers/inventory_summary.py#L261-L300
![image](https://user-images.githubusercontent.com/6977544/62186

[2019-07-31 06:36] blueandgold commented on #2969
I also checksummed all the resources by type in the DB.

[2019-07-31 12:57] kevensen commented on #2922
This will enable us to use distroless containers.

[2019-07-31 12:59] kevensen commented on #2190
TL;DR - Base container images are immutable.  Over time, as new vulnerabilities are discovered, the registry scanner will reflect this.  This is an unfortunate inevitability.

That said, there are ways to address this.
1. Use a distroless container.  This is dependent on addressing https://github.com/forseti-security/forseti-security/issues/2922.
2. Keep updating the base image as new versions bec

[2019-07-31 14:40] umairidris commented on #3005
Ah, I think I see it:

[code]

In the Forseti Terraform module, `inventory_email_summary_enabled` is enabled by default. But I would assume it requires `sendgrid_api_key`, `forseti_email_sender`, and `forseti_email_sender` to work.

Perhaps email notifications should be false by default?

cc @morgante

[2019-07-31 14:48] morgante commented on #3005
That's a good idea - we should disable it if sendgrid_api_key isn't provided.

[2019-07-31 16:58] dekuhn opened #3010 "Add CAI Resource container.googleapis.com/NodePool"
- [ ] Pre-req" container.googleapis.com/NodePool needs to be GA and available in the CAI python library.

[2019-07-31 17:53] dekuhn opened #3011 "Implement Q2'19 CAI Resources in Forseti Inventory"
https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview

| Resource | Release Date |
| ------------- | ------------- |
compute.googleapis.com/RegionDisk | (2019-07-24) [Already implemented]
compute.googleapis.com/Autoscaler | (2019-07-16) [Already implemented]
compute.googleapis.com/InstanceGroup | (2019-07-16)  [Already implemented]
compute.googleapis.com/InstanceGroupManage

[2019-07-31 17:56] dekuhn opened #3012 "Implement Q3'19 CAI Resources in Forseti Inventory"
- [x] Identify all CAI resources launched in this quarter and add to list below.
- [x] Break work down as needed into smaller issues to fit into team sprints and add them to this Epic
- [x] Before closing this issue for the quarter. Open new issue and convert to Epic to track CAI resources for the next quarter.

CAI Content Type | Availability | GitHub Issue
-- | -- | --
ORG_POLICY | 2019-08-27: L

[2019-08-01 05:15] blueandgold commented on #2971
I see this error in the UI and gcloud for this resource in `policyscanner-henry`, but not in other projects.  So, this does not seem to be a forseti problem

![image](https://user-images.githubusercontent.com/6977544/62267296-83652180-b3e0-11e9-95ab-e6eb58257fdc.png)

![image](https://user-images.githubusercontent.com/6977544/62267285-79432300-b3e0-11e9-8974-a226c4ee51d0.png)

[2019-08-01 05:59] blueandgold commented on #2971
This is what the log message would look like:
[code]

[2019-08-01 15:33] #2974 closed

[2019-08-01 16:50] #2936 closed

[2019-08-01 18:44] dekuhn opened #3015 "Update ForsetiSecurity.org contact us link"
Current link for "Constact Us" currently it goes to Using Forseti which has a sub link to get help / contact us. This link should go direct to https://forsetisecurity.org/docs/latest/use/get-help.html

[2019-08-01 22:18] #2971 closed

[2019-08-02 05:47] #2969 closed

[2019-08-02 17:35] #2625 closed

[2019-08-02 17:41] #2599 closed

[2019-08-02 17:45] #2626 closed

[2019-08-02 17:45] kevensen commented on #2626
I think this is resolved in the Helm charts as well as Terraform.  Please re-open if this needs further consideration.

[2019-08-02 18:06] hshin-g commented on #524
@ryanismert Can we prioritize this by the 2.20 release (August 19, 2019)?

[2019-08-05 15:10] Gribel opened #3025 "Error getting Inventory Gsuite data"
I'm trying to install and configure Forseti using all info provided from Forseti manual.

There's already some days I'm trying to create Inventory list but it still with PARTIAL_SUCCESS status. When I get an inventory detail it says:

"warnings": "GCP API Error: unable to get groups from GCP:\n<HttpError 403 when requesting https://www.googleapis.com/admin/directory/v1/groups?customer=XXXXXXXXXXX&

[2019-08-05 19:43] abhishekupadhyaya opened #3026 "TypeError in notification process"
Hi,

We just migrated to release-2.18.0, which uses Python3. We use this in our production system for security reporting, and has been impacted.

We are seeing the following error as part of notification process:

[code]

Could you please help in figuring this out?

Thank you,
Abhishek

[2019-08-05 19:58] #3001 closed

[2019-08-05 22:40] red2k18 commented on #3015
#3016 fixes this.

[2019-08-05 22:40] #3015 closed

[2019-08-05 23:08] #2441 closed

[2019-08-06 00:23] dekuhn opened #3031 "Implement Bigtable CAI Resources in Forseti Inventory"
https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview

| Resource | Release Date |
| ------------- | ------------- |
| bigtable.Cluster | (2019-02-28)
| bigtable.Instance | (2019-02-28)
| bigtable.Table | (2019-02-28)

[2019-08-06 00:40] dekuhn opened #3032 "Audit GA CAI resources ensure all are supported in Forseti Inventory"
https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview

[2019-08-06 03:58] #3005 closed

[2019-08-06 04:13] #2372 closed

[2019-08-06 15:24] hshin-g commented on #3026
@abhishekupadhyaya Would you be able to change the following line [here](https://github.com/forseti-security/forseti-security/blob/ee59008042be32726851d6850ea559a9b9ab25e6/google/cloud/forseti/notifier/notifiers/inventory_summary.py#L192) in your server VM to:

`return sorted(template_data, key=lambda k: (k['resource_type'] is None, k['resource_type']))`

Then run the below to apply the changes:

[2019-08-06 17:33] kevensen commented on #2714
Per the [cloud_sql_proxy](https://cloud.google.com/sql/docs/mysql/sql-proxy#private-ip) docs, the ` --ip_address_types=PRIVATE` is used when a CloudSQL instance has BOTH a public and private IP.  The reason for this is without the switch, the cloud_sql_proxy will default to using the public IP.

That said, the open PR for this, https://github.com/forseti-security/terraform-google-forseti/pull/144,

[2019-08-06 17:41] abhishekupadhyaya commented on #3026
Thanks for your reply.

We disabled inventory summary in config file, which took care of the error since `inventory_summary` was not called.

However, could you please fix this as part of your next release.

Thank you.

[2019-08-06 17:48] kevensen commented on #1470
An update here, the alpha is going out with Forseti 2.19.  I'll wait to that happens, then close this issue, but continue tracking in #2084.  If there are further thoughts, please share.

[2019-08-06 17:50] abhishekupadhyaya opened #3034 "TypeError: a bytes-like object is required, not 'str' in file_uploader"
Hi,

We are using `release-2.18.0`. We found a following error in `upload_json` method of [`file_uploader.py`](https://github.com/forseti-security/forseti-security/blob/release-2.18.0/google/cloud/forseti/common/util/file_uploader.py):
[code]
Line 38 in file_uploader.py should instead be:
[code]
This can also be modified in `json_stringify` method in `parser.py`

Thank you,
Abhishek

[2019-08-06 23:40] dekuhn commented on #3031
Added these added resources to https://github.com/forseti-security/forseti-security/issues/3011

[2019-08-06 23:40] #3031 closed

[2019-08-06 23:42] dekuhn opened #3035 "Implement BigQuery CAI GA Resources in Forseti Inventory"
https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview

bigquery.googleapis.com/Dataset
bigquery.googleapis.com/Table

[2019-08-06 23:51] dekuhn opened #3036 "Create mock dataset and inject into inventory import process"
- [x] Create mock dataset of CAI export to profile performance (e.g. 2M BQ Resources)
- [ ] Enable import process of mock data set vs CAI export for inventory process
   - [ ] Extend Inventory Config Object to fetch existing CAI export
   - [ ] Process should be reusable in release and test automation to profile performance
- [x] Create repo in Forseti Security repo for mock data generator tool
-

[2019-08-06 23:55] dekuhn opened #3037 "Audit Forseti Inventory API data not currently supported by CAI"
- [ ] Audit data obtained by Forseti and which are only supported via APIs that are not available via CAI
- [ ] Work with CAI to add to roadmap and help with prioritization of these missing datasets for Forseti

Review commonly used APIs here: http://shortn/_pNbrtYV7rj

[2019-08-07 00:10] dekuhn opened #3038 "Improve SQL Server write bottlenecks"
- [ ] Improve Cloud SQL Server single write bottlenecks to improve Forseti Inventory performance
- [ ] Break apart the storage class into storage writer (use sqlalchemy core, optimize for fast bulk writes) and the storage reader class, which can remain using ORM as it does today.
- [ ] Update inventory and crawler initialization to use the new writer class with a a sqlalchemy engine that maintains

[2019-08-07 16:00] dekuhn commented on #1845
@red2k18 Do we need to add to the plan here updates to enable this through our Terra-form installer? If so can you please add those.

[2019-08-07 17:51] red2k18 commented on #1845
@dekuhn Support to enable/disable tracing using Terraform has been added.

[2019-08-07 18:54] vitali-shcharbin opened #3042 "Support for Individual accounts (not organization)"
## Feature Request
Forseti right now is only available for organization accounts, but not for individual one. There are many cases, when we need test some features or play with inventory outside production organization, or have limit/no access to it. Creating organization sandbox is hardly possible, as it requires purchase of Cloud Identity + dedicated domain.

It is possible to support individual

[2019-08-07 22:20] hshin-g opened #3046 "Limit CSCC calls"
Need to limit our CSCC calls, as this error is run into multiple times when trying to utilize CSCC in Stackdriver logs:

[code]

[2019-08-08 20:52] joecheuk opened #3052 "Investigate if 2048 characters are enough for full resource name"

[2019-08-09 03:26] blueandgold commented on #3037
The result of the audit is in this doc.
https://docs.google.com/spreadsheets/d/1WgG4T9IDtXfp-8MJcZvyRGExOIdVZPZwDaAQ9hNgo94/edit#gid=0

[2019-08-09 03:26] #3037 closed

[2019-08-09 03:36] blueandgold commented on #3026
Thanks @abhishekupadhyaya we have tagged this issue to be fixed at our next Sprint planning.

[2019-08-09 03:48] blueandgold commented on #3034
@abhishekupadhyaya Can you give us the entire stacktrace so that we can see what is the caller the caused this error?

[2019-08-09 22:21] dekuhn opened #3058 "Profile Cloud SQL Server sizes for large GCP orgs"
- [ ] Perform profile testing with larger Cloud SQL instances for orgs that are very large numbers of GCP resources
- [ ] Propose optimal default Cloud SQL Size for large orgs.

[2019-08-09 22:24] dekuhn opened #3059 "Increase Default Forseti VM size"
- [x] Recommend new default Forseti VM size eg. (8 CPU / 8 GB RAM / 50 GB SSD)
- [x] Add support during deployment with Terraform config options
- [ ] Document recommend Terraform settings for customer size (simple table 100k vs 1M)

[2019-08-09 22:26] dekuhn opened #3060 "Increase Default Cloud SQL size"
- [ ] Recommend new default Cloud SQL size
  - [ ] Need some bench-marking data to answer the changes to recommended size.
- [ ] Document recommend Terraform settings for customer size (simple table 100k vs 1M)

[2019-08-09 22:28] dekuhn commented on #3060
Need profile data results from #3058 to recommend new default sizing

[2019-08-09 22:31] dekuhn opened #3061 "Smart use of CAI vs GCP resource APIs for Inventory data collection"
CAI vs API *Smart Behavior* - Default behavior should be to use CAI for all resources and disable getting data from APIs if the data supported through CAI

[2019-08-09 22:34] dekuhn opened #3062 "Profile and optimize process when building Inventory Model"
Profile the Inventory Model process and look to where we can optimize the processing performance time for GCP orgs with large numbers of resources.

[2019-08-09 22:40] dekuhn opened #3063 "Establish performance baseline pre (2.19) and post releases w/ inventory enhancements"
- [ ] Profile inventory performance on 2.19 with OpenCencus
- [ ] Profile inventory performance on post 2.19 releases that include Inventory processing enhancements / changes.

Background:
We are focused on making significant improvements in the Forseti Inventory process for GCP orgs with large numbers of resources.

Goal:
Profile and establish a performance baseline with the 2.19 release and meas

[2019-08-10 16:22] kevensen opened #3067 "Investigate External Project Access Scanner Compatibility with CAI"
The External Project Access Scanner (referred to hereafter as EPAS) doesn't function the same as other scanners.  Consider the following.  We are in Organization A with Forseti deployed.  A user has access to a project in Organization B.  No logs and no API data in Org A expose this fact.  Therefore, this information never ends up in Forseti's inventory.

In order to over come this, EPAS iterates

[2019-08-12 15:42] kevensen opened #3069 "Need to fix container build for 2.18.0"
The Dockerfile for v2.18.0 specified `FROM python:3.6-slim` as the base image.  At the time, this was based on Debian Stretch.  The current Debian version on which **pyton:3.6-slim** is based is buster.  The reason this is important is because the package containing the mysql shared library changed between the two versions.

Forseti 2.18.0 - Stretch - libmariadbclient18
Forseti 2.19.0 - Buster - l

[2019-08-12 15:52] kevensen opened #3070 "Forseti Explainer data-discrepancy"
Looking at IAM, a user has been removed as project/owner (in fact has no privileges, inherited or otherwise). However, Forseti Explainer is reporting that a user does have the role/owner.

[2019-08-12 16:59] ahoying commented on #3038
Additional work completed in PR #3068. Closing issue.

[2019-08-12 16:59] #3038 closed

[2019-08-12 19:26] hshin-g opened #3072 "[CAI] Add compute.googleapis.com/RegionDisk from CAI to Forseti Inventory"
Add compute.googleapis.com/RegionDisk from CAI to Forseti Inventory.

[2019-08-12 19:34] blueandgold commented on #1997
The key in question is used for deploying a new appengine version.  If this deployment is happening when someone just want to make a doc change, then we should uncouple this.

[2019-08-12 20:46] hshin-g commented on #3032
@blueandgold Can you update this issue with the audit you have done?

[2019-08-12 20:48] blueandgold commented on #3032
This is the spreadsheet with the audit result.
https://docs.google.com/spreadsheets/d/1WgG4T9IDtXfp-8MJcZvyRGExOIdVZPZwDaAQ9hNgo94/edit#gid=0

[2019-08-12 20:48] #3032 closed

[2019-08-13 13:32] marciosian commented on #3034
I'm facing the same issue. v2.18

2019-08-13 10:05:34,283 ERROR [forseti-security][2.18.0] google.cloud.forseti.common.util.file_uploader(upload_json): Unable to upload json document to bucket gs://forseti-server-***/scanner_violations/violations.ke_version_violations.1565690410195284.20190813T100534Z.json:
[{'id': 859, 'created_at_datetime': '2019-08-13T10:05:32Z', ***
Traceback (most recent call

[2019-08-13 13:58] Ameurdx opened #3076 "GCP API Error - The caller does not have permission"
Hi,
I have installed forseti on a Folder (from Non-Organization Root)
i have make all the instruction here https://forsetisecurity.org/docs/latest/configure/general/non-org-root.html.

The problem is that when i do inventory i get PARTIAL_SUCCESS.
then it show that the there is a problem with the API Authentication

Thanks and sorry for my bad English!

{
  "inventory": {
    "id": "XXXXXXXXX",

[2019-08-13 14:21] kevensen commented on #3025
Hi @Gribel.  Thank you for submitting this issue.  Using the API explorer is a good first step in diagnosing the issue.  In this case you likely invoked the API explorer as your user identity.  The Forseti Server calls the API as the Forsti Server service account.  This is a possible reason why you are seeing two different results.

I see that you've reviewed the documentation.  Can you please con

[2019-08-13 16:05] blueandgold opened #3078 "Automate Inventory Performance Testing"
## Story
Automate performance testing of Forseti inventory creation by processing a large CAI export.

## Proposed Solution
Use mock CAI exports to be processed by Forseti to create inventory.

## Acceptance Criteria
- The inventory should take less than 12 minutes to complete.
- The resource counts should match the expected values in the inventory table.

[2019-08-13 16:16] kevensen commented on #3076
Hi @Ameurdx

Thanks for submitting this issue.  The screen shots are helpful.  Could you please provide the following information:

1. Was Forseti installed by a user with "Org Admin" credentials?

2. Did you install Forseti via the Python Installer or Terraform Installer?

[2019-08-13 16:44] kevensen commented on #3070
Issue OBE.  User indicated they are no longer receiving the notifications.  I've asked for additional information if available.  Will post the info here.

[2019-08-13 16:44] #3070 closed

[2019-08-13 16:45] kevensen commented on #1470
Closing issue.  Please re-open if further discussion is required.  Otherwise we will track with #2084.

[2019-08-13 16:45] #1470 closed

[2019-08-13 16:48] kevensen commented on #2977
Hi @Abdennebi .  We released updated documentation for Forseti on-GKE.

https://forsetisecurity.org/docs/latest/concepts/forseti-on-gke.html

https://forsetisecurity.org/docs/latest/setup/forseti-on-gke.html

I will close this issue for the time being.  Please feel free to re-open if further discussion is desired.  As an aside, if you have the opportunity to try the on-GKE Alpha, I'd be grateful f

[2019-08-13 16:48] #2977 closed

[2019-08-13 18:02] Ameurdx commented on #3076
Thank you @kevensen
Forseti was installed by a Folder Admin (that's why No-Organi Root install)
i have installed Forseti via Python installer (The tutorial just show how to do it with Python , not with Terraform ...)

https://forsetisecurity.org/docs/latest/configure/general/non-org-root.html

[2019-08-13 18:05] kevensen commented on #3026
Hi @abhishekupadhyaya we will attempt to get this in in the 2.20 release.  In any case we will keep you apprised.

[2019-08-13 18:17] kevensen commented on #3069
Build successful.

[2019-08-13 18:17] #3069 closed

[2019-08-13 18:28] kevensen opened #3079 "Cloud Audit Logging Rule at the Org Level"
I'm having difficulty in getting the Cloud Audit Logging rule to work properly. There are some examples on folder and project level rules, but not on org level. Can someone please provide an example org level rule? Every time I build one in the same formatting as the project or folder level rule, it causes my scanner to break with "serverMessage": "Error occurred during the scanning process."

[2019-08-13 18:29] kevensen commented on #3079
Example rule:
[code]

[2019-08-13 19:34] kevensen commented on #3079
Organizations are an acceptable resource type.  I'll continue to dig.
https://github.com/forseti-security/forseti-security/blob/b54faf68d869842e8a43472ff980e28e2ce8d3c6/google/cloud/forseti/scanner/scanners/audit_logging_scanner.py#L125-L130

[2019-08-13 21:41] dekuhn commented on #1997
Looks like the Travis config has been updated since this bug was opened, it is skipping the deploy and before_deploy which does the decryption:
- openssl aes-256-cbc -K $encrypted_5d3a31857ace_key -iv $encrypted_5d3a31857ace_iv -in client-secrets.json.enc -out client-secrets.json -d

I just submitted a PR as outside contributor and the Travis build timed out twice, but no error related to the decr

[2019-08-13 22:04] dekuhn opened #3083 "Publish how to documentation to use OpenCencus to profile and gather performance data"

[2019-08-14 11:55] kevensen commented on #3079
The rule provided is valid.  The next step is to change the verbosity of the server logs, if applicable.

1. Open an SSH session to the server VM

2. Sudo to root
[code]
3. Open the Forseti server system unit file for edit
[code]
4.  At the end of the **ExecStart** clause, append **--log_level=debug**.  It should resemble the following.
[code]
5. Restart the Forseti server process
[code]
Re-run th

[2019-08-14 12:02] kevensen commented on #3076
@Ameurdx Thank you for the clarification.  I am spinning up a new Forseti environment to recreate this scenario.

[2019-08-14 14:21] kevensen commented on #3076
@Ameurdx I have been able to recreate this issue.  The screen shot you provided lists the correct IAM permissions.  However, they appear to be applied at the project level.  This is the default behavior when installing Forseti without Org Admin credentials as you noted you did not have.

Step 4 of the [Configure Forseti to Run on a Folder](https://forsetisecurity.org/docs/latest/configure/general/

[2019-08-14 14:29] kevensen commented on #3034
@marciosian Thank you for providing the stack trace.  I'll investigate.

[2019-08-14 15:22] kevensen commented on #3034
I have reproduced the issue.  Continuing to investigate.

[2019-08-14 16:35] kevensen commented on #3034
@abhishekupadhyaya @marciosian The culprit is indeed line 38 of file uploader.

https://github.com/forseti-security/forseti-security/blob/b54faf68d869842e8a43472ff980e28e2ce8d3c6/google/cloud/forseti/common/util/file_uploader.py#L36-L39

In file_uploader.py, could you please change line 38 to be:

[code]

Then run the below to apply the changes:
[code]

We'll put this in our backlog to fix.

[2019-08-14 17:35] pvangara commented on #2849
Hi,
Is there some setting that we are missing. Feels like we have all the settings, but none of the KMS related resources are getting discovered in the inventory.

Really appreciate any help on this.
Thanks,
Ranga.

[2019-08-14 18:53] kevensen commented on #2849
@pvangara I can look into this some more.  Is your rule still the same as above: 365 days?

[2019-08-14 19:49] red2k18 commented on #3083
#2144 addresses this.

[2019-08-14 19:56] pvangara commented on #2849
We changed it to 1 day to see if we can some results, but it didn't give any results.

[2019-08-14 20:29] kevensen commented on #2849
@pvangara Understood.  Because I have keys that are less than a day old, it will be Friday before I have something demonstrable.  I'll provide an update by the end of the day 8/16,

[2019-08-14 20:32] Ameurdx commented on #3076
I appreciate your help!  @kevensen
thank you

[2019-08-14 20:32] #3076 closed

[2019-08-14 20:53] kevensen commented on #3076
@Ameurdx My pleasure.

[2019-08-15 05:04] blueandgold opened #3085 "Find Common Members Among a Set of Google Groups"
Just an idea here that would help with group management.

[2019-08-15 15:26] kevensen commented on #3079
[forseti-security][2.16.0] google.cloud.forseti.services.scanner.service(_run_scanner): 'list' object has no attribute 'get' Traceback (most recent call last): File "/usr/local/lib/python3.6/dist-packages/forseti_security-2.16.0-py3.6.egg/google/cloud/forseti/services/scanner/service.py", line 121, in _run_scanner scanner_name) File "/usr/local/lib/python3.6/dist-packages/forseti_security-2.16.0-p

[2019-08-15 16:01] dekuhn commented on #1913
I tested and the website build with Travis today can work for external contributions. I believe the changes added to test for secure and unsecure variables  addresses this problem.

https://github.com/forseti-security/forseti-security/blob/83275a92f67419cdf855137dca14a4ecf9d45906/.travis.yml#L21

However when I tested this theory I found that the build would timeout on
https://github.com/forseti-s

[2019-08-15 16:13] dekuhn commented on #2697
I have tested this and external contributors are no longer getting the errors on the PR builds for the website. However the website build is timing out with no screen output.

To address this issue #3086 will add the travis_wait command to resolve the timeout issue.

[2019-08-15 16:13] #2697 closed

[2019-08-15 16:17] dekuhn commented on #1913
The website builds fine now with external contribution. I tested with this PR #3082 https://travis-ci.org/forseti-security/forseti-security/builds/572105858

However I found the build would timeout on:
https://github.com/forseti-security/forseti-security/blob/83275a92f67419cdf855137dca14a4ecf9d45906/.travis.yml#L22

Adding travis_wait in PR #3086 to address this issue.

[2019-08-15 16:17] #1913 closed

[2019-08-15 16:26] dekuhn commented on #2581
Consider fix #3086 for the secure build of the website.

Only downside with [travis_wait](https://docs.travis-ci.com/user/common-build-problems/#build-times-out-because-no-output-was-received) is you don't get stdout logging right away, it comes post processing of the command executed by travis_wait.

For the secure build: https://github.com/forseti-security/forseti-security/blob/83275a92f67419cdf

[2019-08-15 18:11] #2714 closed

[2019-08-15 19:01] hshin-g commented on #524
Create a new page to host the roadmap.

[2019-08-15 19:46] gkowalski-google commented on #524
Hi @ryanismert, can you share the roadmap doc with me? I will be working on putting the info on the website.

[2019-08-16 12:32] kevensen commented on #3079
audit_logging_rules.yaml was missing **rules:** as first line in file.

[code]
Corrected to be:
[code]

[2019-08-16 12:32] #3079 closed

[2019-08-16 13:21] kevensen commented on #2849
@pvangara @abhishekupadhyaya I was able to use your rule, modify it to BLACKLIST keys older than one day, and received output.  No doubt you have tried this, but please indulge me; could you  re-create your inventory and a new model and re-running your scan?

[2019-08-16 13:48] pvangara commented on #2849
So, one thing that I can think of is permissions issue. If we have permissions issue while getting the KMS inventory, what error should we look for?

[2019-08-16 13:49] pvangara commented on #2849
Thanks Ken for looking into this. Really appreciate it.

[2019-08-16 14:35] kevensen commented on #2849
It may be permissions.  If you run
[code]
Then
[code]
Does it show any messages like "PARTIAL_SUCCESS"?

Does Stackdriver show any errors during the `inventory create` or `scanner run` steps?

[2019-08-16 16:13] #3034 closed

[2019-08-16 17:38] hariram01 opened #3087 "Forseti Violations not Generated"
Hi Forseti Team

I  installed Forseti V2.18 via Deployment Manager. Scanner did not generate any violation report after a long run. Even there is no violation bucket  created also.

It is completed after 25 days long run without any violations.
![Forseti Bucket](https://user-images.githubusercontent.com/50173659/63186663-07e3b100-c02b-11e9-8fb2-765dd2379eb7.PNG)

Thanks!

[2019-08-16 17:45] dekuhn opened #3088 "Start both CAI data and GCP resource API inventory (e.g. GSuite) as soon as inventory process starts."
When the inventory process starts we should start both the collection of data from CAI and any GCP Resources APIs (e.g. GSuite). We should not wait for CAI exports to complete before we start the collection of GSuite data.

[2019-08-16 19:07] dekuhn opened #3089 "Update Forseti deployment to support custom disk sizing and type for Terraform installations"
- [x] Add support to Forseti Terraform to customize both disk size and type (HDD vs SDD)
- [x] Increase the current deployment default disk size and format to SSD / 100GB
- [ ] Update the Forseti on GKE deployment to mirror these same changes.

[2019-08-16 22:20] mirons-google commented on #2581
Even with 10 versions the website build still takes ~10m.

As noted in #2329 if you want to speed up the website build running with the `--profile` flag will tell you what's slow.

[code]

[2019-08-16 22:39] dekuhn commented on #2581
The other thing you have to consider is [Travis docs](https://docs.travis-ci.com/user/reference/overview/) show you only get 2 cores to run on.

[2019-08-17 14:14] kevensen opened #3093 "Deprecation of docker_entrypoint.sh"
The configuration of the execution behavior of Forseti on GKE can and should be done via Kubernetes.  Altering the docker_entrypoint.sh script, thus changing the execution behavior, can inadvertently break the deployment in Kubernetes.  If a breaking change were made here, at the very least, the Helm charts would need to be updated.  This means making changes in two repos.

[2019-08-18 18:48] red2k18 commented on #2952
Tracing is disabled by default. gRPC services cannot enable/disable tracing as tracing interceptor needs to be added to the gRPC server when it boots up.

[2019-08-18 18:48] #2952 closed

[2019-08-18 18:50] red2k18 commented on #2907
#3053

[2019-08-19 13:19] kevensen commented on #2973
https://github.com/forseti-security/helm-charts/issues/28

[2019-08-19 14:11] kevensen commented on #2961
Can we push this to 2.22?

[2019-08-19 14:12] kevensen commented on #2957
Can this be pushed to 2.21?

[2019-08-19 16:00] kevensen opened #3097 "Auto-close stale issues"
- [x] Create and check-in stale-bot configuration
- [x] Enable stale-bot GitHub to begin processing

As a maintainer of Forseti, I would like a GitHub bot to automatically close stale issues older than 90 days in order to help manage the backlog.

Important issues can either be re-opened or a new issue can be created.

[2019-08-19 16:39] lukwam opened #3099 "convert_bigquery_policy_to_iam generating a "KeyError: 'role'" error"
Since upgrading to Forseti `v2.19.0` about a week and a half ago, I'm getting lots of errors about `KeyError: 'role'` for the `convert_bigquery_policy_to_iam` process.

From Cloud Error Reporting:

![image](https://user-images.githubusercontent.com/1765418/63283073-3dcca380-c27e-11e9-8fad-7f0220a11caa.png)

Currently using the default bigquery rules defined here, with the organization_id set to ou

[2019-08-19 16:44] kevensen commented on #3099
@lukwam Thank you for reporting this issue.  I am looking into this now.

[2019-08-19 16:58] kevensen commented on #3099
@lukwam Do you mind providing the error from the Stackdriver logs?

For your reference: https://forsetisecurity.org/docs/latest/faq/index.html#where-are-the-logs-stored-for-forseti

[2019-08-19 17:21] lukwam commented on #3099
```textPayload:  "[forseti-security][2.19.0] google.cloud.forseti.services.inventory.base.iam_helpers(convert_bigquery_policy_to_iam): unknown role in access policy..." ```

Removed the user and the project name from the rest of the error.

The role listed in the policy is `'*'`.

[2019-08-19 17:24] kevensen commented on #3099
@lukwam That helps to provide some context, thank you.  I should have been more clear; can you please provide the stack trace as well?  It should be in the Stackdriver log message.

[2019-08-19 17:25] lukwam commented on #3099
[code]

[2019-08-19 19:11] kevensen commented on #3099
Thanks for the stack trace.  On your server VM, can you please:

1. Sudo to root

`sudo -i`

2. Change directory to the forseti-security source directory

`cd /home/ubuntu/forseti-security`

3. Open `iam_helpers.py` for edit

`vi /home/ubuntu/forseti-security/google/cloud/forseti/services/inventory/base/iam_helpers.py`

4. Edit lines 69 and 70

https://github.com/forseti-security/forseti-security/

[2019-08-19 20:35] hshin-g commented on #3052
Addressed by PR #3050.

[2019-08-19 20:35] #3052 closed

[2019-08-19 21:12] lukwam commented on #3099
The new thing is this:

```"[forseti-security][2.19.0] google.cloud.forseti.services.inventory.base.resources(get_iam_policy): Could not get Dataset IAM Policy: Bigquery Dataset IAM policy is not supported by this API client"```

[2019-08-20 15:34] blueandgold opened #3102 "Remove API Fallbacks in CAI Iterators"
The code fall back to the live API if an IAM policy is missing, which was added when we had problems with CAI not including all the data. That issue has been fixed, so all API fallbacks in the CAI iterators for IAM data should be removed as another way to reduce inventory time.

[2019-08-20 15:38] kevensen opened #3103 "Remove GCS as a datastore"
As a user of Forseti I want to use a git repo as a store for my config files and rules in order to take advantage of true version control and git-sync to keep my files up to date.

[2019-08-20 15:46] blueandgold opened #3104 "Add Cloud Profiler to Forseti Server"
The sample code here worked for me:
https://cloud.google.com/profiler/docs/profiling-python#using-profiler

And below is what I got from inventory create.  Should add a flag `enable_profiler` to only run the profiler when needed.

![image](https://user-images.githubusercontent.com/6977544/63362403-9bb4c600-c326-11e9-8dd7-e45193b48421.png)

[2019-08-20 16:00] blueandgold commented on #3103
+1 This has been asked by other customers before as well.  We have to think how to best organize & structure our repo(s) for best maintenance.  I made a comment to Gregg's design doc on this last night, and had a further chat with Gregg.  So, he has some ideas that he can propose here.  @gkowalski-google

[2019-08-20 16:57] erikwalker opened #3106 "Scanner errors when running: "forseti scanner run" command"
- [ ] Fix IapScanner
- [x] Fix KeScanner (v2.21)
- [x] Fix KeVersionScanner (v2.21)
---

Installed forseti with terraform "Terraform v0.11.13"
The version of forseti security that is installed is:
__version__ = '2.18.0'
__package_name__ = 'forseti-security'

Having problem running forseti scanner:

when running "forseti scanner run":

The error output from the client is:

{
  "serverMessage": "Err

[2019-08-20 17:14] kevensen commented on #3099
Thanks for the update.  Just a few questions.

1. Did this occur before or after you added the new log line?
2. Did that new log line produce new output?
3. How did you initially install Forseti?  The Python installer or Terraform?

[2019-08-20 17:27] kevensen commented on #3106
Hi @erikwalker.  Thank you for reporting this issue.  We might have a couple of different problems here.  The first appears to be a string conversion error in the IAP scanner.  The second is with the KE version scanner.

If you could please answer a few questions, it will help provide me some context.

1. There is a new version, 2.19.0.  However, I don't see any updates between the two versions th

[2019-08-20 17:33] lukwam commented on #3099
1. I don't see any occurrences of that `Could not get Dataset IAM Policy: Bigquery Dataset IAM policy is not supported by this API client` from before I made the change you described.
2. When I search for `text:"POLICY:"` those are the only entries I see.
3. This is a long-standing forseti instance that I've had since early 2.0 days and I've steadily upgraded from version to version and it pre-exi

[2019-08-20 19:28] joecheuk opened #3107 "Remove session usage in Storage class in storage.py"
Executing sql commands directly using the engine is sufficient.

[2019-08-20 22:54] blueandgold opened #3109 "Update Forseti Docker Container"
One of the reason the website build speed is slow, is because the docker container is out of date, and can be updated to improve the website build speed.  These are the 2 files can need to be updated.

https://github.com/forseti-security/forseti-security/blob/master/install/docker/base
https://github.com/forseti-security/forseti-security/blob/master/install/docker/forseti

[2019-08-20 22:58] blueandgold opened #3110 "Optimize Website Build with include_cached"
Instead of just using `include`, we should be using `include_cached` where possible to optimize the website build.

[2019-08-20 23:02] blueandgold opened #3111 "Improve Website Build for Non-Admin PRs"
When non-admin contribute PRs for the website, the build should only do the following:
- jekyll build
- htmlproofer

[2019-08-20 23:04] blueandgold opened #3112 "Website Images Should Use Proper Tags"
The proper way to use image tags is below, so the images resize properly:
[code]
Audit everything in our doc, and make sure all images use this tag.

[2019-08-20 23:05] mirons-google commented on #3109
@blueandgold it should be noted that the docker container isn't out of date but all of the actions take within it needed audited for the need relative to their contribution to the build time.

It should also be noted this is the same container for which Travis uses for unittests and linting of the application code and therefore should be considered carefully.

[2019-08-20 23:08] mirons-google commented on #3110
@blueandgold it should be noted the implications of using cached and where it can help.

Optimizations should be prioritized by running jekyll build with --profile so see liquid inefficiencies. Those should be tackled separately.

[Here's](https://forestry.io/blog/how-i-reduced-my-jekyll-build-time-by-61/) an example of a methodical approach to improving the build time using various strategies (th

[2019-08-21 00:13] kevensen commented on #3109
@mirons-google Just FYI, the Docker container image used for unittests and linting is now derived from the Dockerfile in the root of the repository and not these files.  These files are actually slated for deprecation on 9/30 per https://github.com/forseti-security/forseti-security/blob/dev/install/docker/README.md.

I do agree that using this same container image for the purpose of building the w

[2019-08-21 00:21] kevensen commented on #2844
@dekuhn @red2k18 Is there something I can do to help move this along?

[2019-08-21 00:25] kevensen commented on #3109
This is the file that should be updated if anything and should not be based on the Forseti container image.  https://github.com/forseti-security/forseti-security/blob/forsetisecurity.org-dev/scripts/docker/generate_sphinx_docs.Dockerfile

[2019-08-21 01:40] red2k18 commented on #2844
Hi @kevensen! Integration testing work has been prioritized and so this issue is in the backlog.

[2019-08-21 15:42] marciosian commented on #3034
It works!

[2019-08-21 15:58] kevensen commented on #3034
@marciosian Great!  This fix will be included in v2.19.1

[2019-08-21 16:39] katze120 commented on #2856
I ran into the same issue with test_cud_firewall_rule_read_only tests in the last 2 days, occasionally passing these tests but failing most of the time.

My conclusion:

- Looks like this is due to googleapiclient.discovery.build returning different _baseUrl intermittently

- According to [this block](https://github.com/googleapis/google-api-python-client/blob/master/googleapiclient/discovery.py#L

[2019-08-21 19:09] kevensen commented on #3106
I am now seeing the second error in testing.

[2019-08-21 19:58] joecheuk opened #3117 "Investigate why replay unit test failing inconsistently in travis build"
The following unit tests fail sometimes and need multiple restart of the build to pass.

[code]

[2019-08-21 19:59] kevensen commented on #3117
Possibly related to #2856 ?

[2019-08-21 20:05] erikwalker commented on #3106
Hi @kevensen. Thanks to answer your questions.
1. Ah i have not attempted newer update yet but could if it turns out to make a difference.
2. Have not enabled CAI on the server config because currently have installed and deployed on non-org root folder
3. I don't seem to have any other errors in the stackdriver log that could be related to this problem.
4. It was deployed with terraform v11

[2019-08-21 20:46] erikwalker commented on #3106
@kevensen  So i updated the CAI configuration to be "false"  and reloaded the configuration and restarted the server.
When I run "forseti scanner run" I seem to have the same errors as above.

So I don't think having CAI as true or false is making a difference with the error. I will put back to "true" since this is the value that was provided when installing with terraform. Unless you advise diffe

[2019-08-21 21:40] #3102 closed

[2019-08-21 22:23] joecheuk commented on #2993
Hi @rich-boyce , thanks for reporting the issue, I was doing some investigation but can't seem to find `pending_delete` state  (or any state related to delete) for cloud sql instance.

ref: https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/instances#resource

state | string | The current serving state of the Cloud SQL instance. This can be one of the following. **RUNNABLE**: The instance i

[2019-08-22 07:38] blueandgold commented on #3117
The firewall test is related to #2856.  But not the replay test.  Renaming this issue to differentiate.

[2019-08-22 07:51] blueandgold commented on #3117
A little more information after adding some print statements, looks like the recorded file is not being loaded correctly, and live external api call is made.

![image](https://user-images.githubusercontent.com/6977544/63496498-e3e2fe00-c476-11e9-8ff3-13349dc2f943.png)

[2019-08-22 08:06] blueandgold commented on #3117
Looks like the request key is not matching.
[code]
[code]

[2019-08-22 13:04] kevensen commented on #3103
As I mentioned in the doc, I'll mention here for posterity.  The config-validator can be and is used independently of Forseti.  It follows that the policy-library can be and is used independently of Forseti.  Therefore we should keep the policy library separate from the "forseti-config" repo.

We can, however, accomplish the effect with the use of git-submodules.  For example

policy-library
|\lib

[2019-08-22 13:50] kevensen commented on #3106
@erikwalker Thank you for the additional information and trying those suggestions.

When you set the CAI to false and restarted the server, did you create a new inventory model?

When I disabled the CAI, recreated the model and inventory, the issue went away (obviously not the fix).  But I'd like confirmation.  For moment, I am interested in the ke_base_scanner.

[2019-08-22 13:53] marciosian opened #3121 "bigquery violations is not working after install v2.18"
I am using the default rule configuration for big query violations.
I have opened one dataset to public using allUsers, allAuthenticatedUsers and shared with @gmail
It has worked in v2.12

But i got :
[forseti-security][2.18.0] google.cloud.forseti.notifier.notifier(run): Resource 'bigquery_acl_violations' has no violations
-----
forseti_conf_server.yaml:
    scanners:
        - name: bigquery

[2019-08-22 14:06] kevensen commented on #3121
Hi @marciosian.  Thank you for bringing this issue to our attention.  One thing we might try is making the logs more verbose.

On the Forseti client VM, can you please run:

`forseti server log_level set debug`

Then run the scanner and notifier again?

[2019-08-22 15:27] mschlanser commented on #3106
I'm seeing the same error on the Kubernetes scanner.  Anything I can do to resolve this?

Thanks,
Mike

[2019-08-22 15:29] hariram01 opened #3123 "Scanner hang up after a long run"
Hey Forseti Team

I installed Forseti V2.19 via deployment Manager. Inventory creation has been completed after 25 days but scanner is not auto execute.

I started scanner couple of times but every time it hang up and violations table is also empty.

Thanks!
Hari

[2019-08-22 15:29] erikwalker commented on #3106
@kevensen yes i will try your suggestion and revert back

[2019-08-22 15:37] erikwalker commented on #3106
@kevensen Actually after setting CAI to false and creating a new model and inventory I am still seeing the same errors as above.

[2019-08-22 17:58] joecheuk commented on #2288
We haven't seen this issue for awhile, will go ahead and close this. Feel free to reopen if the the issue still exists in the latest version.

[2019-08-22 17:58] #2288 closed

[2019-08-22 18:04] blueandgold commented on #3103
@gkowalski-google have confirmed with the Config Validator PM and Terraform Validator team @morgante that all the validator clients will be using the same repo.  So in this model, pulling in the policy library repo into the forseti repo is the right approach.

[2019-08-22 18:49] dekuhn opened #3126 "Implement smart threading improvements"
- [ ] Start pulling gsuite resources as soon as inventory starts, do not wait for CAI export to complete.
- [ ] Remove blocking API calls from the visit() function and move them all into child resources
- [ ] Aggressively fork API requests into a separate thread queue from CAI sourced data

[2019-08-22 19:19] marciosian commented on #3121
Hi again,

Nothing weird in logs , just informations like:
[forseti-security][2.18.0] google.cloud.forseti.common.gcp_api.bigquery(get_tables): Getting tables for the project **** and dataset

[2019-08-22 19:23] ahoying commented on #3126
1) Start pulling gsuite resources as soon as inventory starts, do not wait for CAI export to complete.
2) Remove blocking API calls from the visit() function and move them all into child resources
3) Aggressively fork API requests into a separate thread queue from CAI sourced data

[2019-08-23 03:57] sanjogpandasp commented on #2676
+1 to this issue. Same here. Inventory creation is not stuck (as i tail -f on the logs) but it just keep creating in slow pace. I am running it on 25 GCP projects and have multiple huge bigquery resources in some of the projects.

[2019-08-23 15:47] gkowalski-google commented on #2676
Hi @sanjogpandasp, thanks for letting us know. Do you know how many resources are in the inventory? If you can provide any breakdown on the types of resources that would be helpful too. We have been working on this issue and are testing some changes that appear to be drastically improving the inventory time; the test org we are testing with has 2 million resources. Our hope is to include these imp

[2019-08-23 16:26] #3117 closed

[2019-08-23 16:43] #2856 closed

[2019-08-23 19:38] topiux opened #3133 "Installer should support specifying existing service accounts"
Install should support specifying existing Service Accounts to be used for forseti-client and forseti-server.

Since IAM is normally delegated to a different team than the one deploying Forseti, this would reduce the number of Service Account request/approval/provisioning cycles when the individual deploying Forseti already has an account with the necessary permissions but lacks SetIAM permissions

[2019-08-23 19:42] kevensen commented on #3133
Hi @topiux, thank you for opening this issue.  At your convenience, could you please open an identical issue in the [terraform-google-forseti](https://github.com/forseti-security/terraform-google-forseti/issues/new) repo?

The Python installer is soon to be deprecated and Terraform will be the supported installer.

[2019-08-26 12:21] sanjogpandasp commented on #2676
I am currently scanning 25 projects in the Organization and the total assets number is **301967**

Let me know if you want the breakdown of those, or the number is enough. Just to let you know...I was looking into the logs and it generally takes time while going through the bigquery datasets, rest of the assets is really fast.

[2019-08-26 19:53] t12g opened #3140 "Define config validator upgrade process"
This is a feature request.

Config validator exists as a binary under the [external dependencies directory](https://github.com/forseti-security/forseti-security/tree/dev/external-dependencies/config-validator). Upgrading to a new version is ad hoc. We should define and automate an upgrade process. As part of the process, it should also stamp the config validator version in Forseti's user agent str

[2019-08-27 04:49] sanjogpandasp commented on #2676
I have installed forseti using terraform. Is an upgrade already available or should I wait for some more time?

[2019-08-27 16:22] GitJumpin opened #3142 "Compute Engine Resource: Image Creation Time checks"
Feature request to include Compute Engine resource checks, including Image Creation Time as a criteria to validate.

Idea is to have no VMs running that have an image >30 days. If one exists, produce finding.

[2019-08-27 17:50] kevensen opened #3143 "Unable to perform unit tests locally on updated code"
As a developer of Forseti I want to be able to edit code and copy it to the running docker container so that I can efficiently perform unit and pystyle tests as described [here](https://forsetisecurity.org/docs/latest/develop/dev/testing.html#update-code-and-re-run-test).

**Background:**
When files are copied to the running container via `docker cp` they retain the uid:gid ownership that they hav

[2019-08-27 18:13] red2k18 commented on #2849
When you install Forseti, required permissions are already granted. No
special permission is needed to run KMS Scanner. Could you answer Ken's
questions from the previous comment? We need to know if you have an
inventory with status `SUCCESS`. If there is one, please below query on
`gcp_inventory` table to check if Crypto key is in the inventory.

`select * from gcp_inventory where resource_type l

[2019-08-27 20:35] red2k18 commented on #2849
Thanks for sharing the results! The reason you're not seeing any violations
is because crypto keys are not in the inventory. Could you double check you
have crypto keys created in the same organization?

On Tue, Aug 27, 2019 at 3:21 PM Abhishek Upadhyaya <notifications@github.com>
wrote:

[2019-08-27 21:45] GitJumpin opened #3144 "Firewall exceptions"
Feature Request: Due to the nature of the firewall rules, creating a firewall rule to trigger on "allow all ingress" creates findings from GKE. GKE dynamically creates FW rules with this ruleset, and we would like to create an exception based off of rule name. An example of how this might look would be as follows;

[code]

[2019-08-28 00:35] dekuhn opened #3145 "Triage impact related to CAI field name changes for sourceRange/sourceRanges"
- [ ] Please determine and open issues if there are changes required for Forseti CAI Inventory Image
- [ ] Please determine and open issues if there are changes required for Forseti Firewall and other scanners
- [ ] Please determine and open issues if there are changes required in the Policy Library

Hello Cloud Asset Inventory Customer,  We are writing to let you know that Cloud Asset Inventory i

[2019-08-28 04:29] hurgh commented on #3035
Hi All,
How can I test out the bigquery Table component?
I have some CAI exports from prior to the 23 August, which have bigquery table asset types in it, and I was using them, and for some reason, on the 23rd they stopped being populated.
Bigquery Datasets are still there, but no tables anymore.
I installed Forseti using terraform, but it is in a dev environment and I am happy to "upgrade" to a R

[2019-08-28 14:52] kevensen opened #3146 "[WEBSITE] Documentation on container build and test pipeline"
As a developer of Forseti, I would like documentation explaining how I can implement a container CI/CD environment in my own GCP project so that I can test in an environment as close to Forseti's as possible.

Tasks
- [ ] Instructions to deploy a Cloud Build
- [ ] Modifying and testing Helm charts locally

[2019-08-28 18:28] dekuhn opened #3149 "Update all GitHub references from old repo GoogleCloudPlatform/forseti-security to new org repo."
We still have a lot of out dated references to https://github.com/GoogleCloudPlatform/forseti-security repo.

GitHub redirects automatically, but we should replace references in our code to the new org path and repo name.

Action: Update all GitHub references from https://github.com/GoogleCloudPlatform/forseti-security to https://github.com/forseti-security/forseti-security

e.g. https://github.co

[2019-08-28 19:48] blueandgold opened #3151 "Scanner for GitHub Security Settings"
In order to get Security Alerts from GitHub, 2 things have to happen:

1: on the repo's security alerts setting, a github team has to be added for access to security alerts

2: on the personal notification setting, the user has to enable the setting to get security alert emails; this does not seem to be enabled by default

So, it would be nice to have a scanner that would make sure both of these a

[2019-08-28 20:16] abhishekupadhyaya opened #3152 "Error running scanner: KeScanner, KeVersionScanner, FirewallPolicyScanner, and IapScanner"
- [x] Fix FirewallPolicyScanner
- [x] Fix IapScanner
- [x] Fix KeScanner (v2.21)
- [x] Fix KeVersionScanner (v2.21)
---

Hi,

We are using **release-2.18.0** in our production system.

We are seeing following errors as part of notification process:

- "serverMessage": "Error running scanner: KeScanner: 'Traceback (most recent call last):\n File \"/usr/local/lib/python3.6/dist-packages/forseti_secu

[2019-08-29 03:11] pvangara commented on #2849
So, as noted by Abhishek above permissions is not an issue. We can use the gcloud CLI with the same credentials to list the keyrings and keys inside it.

[2019-08-29 04:29] blueandgold commented on #3035
Hi @hurgh, do you also notice any errors in the log, around Aug 23 when this stopped working?  You can check the log in stackdriver, like this:
![image](https://user-images.githubusercontent.com/6977544/63910288-e5fb0e80-c9da-11e9-96ba-c2e05ee9cb04.png)

[2019-08-29 06:20] hurgh commented on #3035
Hi @joecheuk
Thanks for the response.
I have checked and the bigquery API is enabled in the forseti project.
Just to clarify, I have a number of CAI dump files on that day, and the first few all had bigquery.googleapi.com/Table in them, then at a point in the day and from then on, there have been no Table asset types in the files. There does not seem to have been anything that changed that I can s

[2019-08-29 12:21] sanjogpandasp commented on #2676
I cannot really find the terraform files (any .tf files) in my forseti server. Do I have to git clone again ?

[2019-08-29 13:44] abhishekupadhyaya commented on #3152
I have updated the issue with errors for `FirewallPolicyScanner` and `IapScanner`

[2019-08-29 14:23] red2k18 commented on #2849
Thanks for the information!

Is it possible for you to check the configuration in
`forseti_conf_server.yaml` to see if CAI is enabled?

[image: image.png]

On Wed, Aug 28, 2019 at 11:11 PM pvangara <notifications@github.com> wrote:

[2019-08-29 14:31] abhishekupadhyaya commented on #2849
CAI is enabled in `forseti_conf_server.yaml`

[2019-08-29 15:04] red2k18 commented on #3152
Is it possible for you to share the rules file the scanners that are not working in your environment?

[2019-08-29 16:20] hshin-g commented on #2676
@sanjogpandasp Where did you originally run the Terraform deployment from? You should have a `main.tf` somewhere (perhaps on your local?) where you ran `terraform init` and `terraform apply`, and that is where you would make the changes- they would not be in the Server VM.

[2019-08-29 17:23] abhishekupadhyaya commented on #3152
I have attached the file for all 4 rules in rules.zip.

In our environment, `{ORGANIZATION_ID1}` and `{ORGANIZATION_ID2}` are replaced with actual organization ids.

[rules.zip](https://github.com/forseti-security/forseti-security/files/3556697/rules.zip)

[2019-08-29 20:58] gkowalski-google opened #3155 "Update Forseti to support Policy Library Sync"
To support [Terraform Google Forseti #238](https://github.com/forseti-security/terraform-google-forseti/issues/238), the policy library directory that is used by the Forseti server will be changed. If Policy Library Sync is enabled (which will be controlled by an environment variable set from Terraform), then run the git-sync image as a linux service with docker.

[2019-08-29 23:41] dekuhn commented on #3012
added compute.googleapis.com/SecurityPolicy

[2019-08-30 00:13] red2k18 commented on #2849
I can meet with you tomorrow to debug. Please let me know what time works for you. Also, let me know the timezone you are in. Thanks!

[2019-08-30 00:13] red2k18 commented on #3152
I can meet with you tomorrow to debug. Please let me know what time works for you. Also, let me know the timezone you are in. Thanks!

[2019-08-30 00:21] joecheuk commented on #3035
Hi @hurgh , thanks for the clarifications!

The data are stored in the forseti-server cloud sql instance, inside database `forseti_security`.

There are multiple ways to connect to the cloud sql instance, e.g. using [cloudsql proxy](https://cloud.google.com/sql/docs/mysql/quickstart-proxy-test)

For the purpose of verifying the data exists, you can try the following approach:

ssh to the forseti s

[2019-08-30 01:24] hurgh commented on #3035
@joecheuk
Thanks for that, I did check, and it appears that there is table data in the DB.
I added BQ Table Label checks to the "enforce_labels" rule for config validator, but i no longer get any findings in SCC for table label issues, only dataset ones.
Does config_validator rely on the output from CAI or should it work if there is data in the DB (as proved by the above query).

Thanks

[2019-08-30 01:25] abhishekupadhyaya commented on #3152
Anytime before 4:30pm EST works for me.

[2019-08-30 01:26] abhishekupadhyaya commented on #2849
Anytime before 4:30pm EST works for me.

[2019-08-30 17:19] joecheuk commented on #3035
Hi @hurgh ,

Yes, as for the config validator scanner we have in Forseti, we currently only scans on the data provided by CAI. The BQ table ingestion from CAI should be ready in the upcoming 1-2 releases and you will be able to scan that use case very soon.

Thanks,
Joe

[2019-08-30 17:43] red2k18 commented on #3152
ke scanner and ke version scanner are working as expected.

[2019-08-30 18:32] abhishekupadhyaya commented on #2849
We didn't see any data for KMS in `gcp_inventory` even after enabling CloudAssets API for our test project.

[2019-08-30 18:37] red2k18 commented on #2849
You will need to enable CloudAssets API on the project Forseti is installed.

On Fri, Aug 30, 2019 at 2:32 PM Abhishek Upadhyaya <notifications@github.com>
wrote:

[2019-09-02 00:29] hurgh commented on #3035
Thanks all for the information and help.
I will probably just wait for the release and see how it goes then.

Regards

[2019-09-03 04:00] blueandgold opened #3162 "Verify Dev Environment Instructions"
The [dev environment setup instructions](https://forsetisecurity.org/docs/latest/develop/dev/setup.html) needs to be verified to make sure it's up-to-date, consistent, and repeatable. Instructions for both ubuntu and mac should be verified.

The verification should be done with Virtual Machines. For ubuntu, this can be done on GCP.  For mac, Virtual Box is good.

@dekuhn has PR #3147 to update som

[2019-09-03 05:14] blueandgold commented on #3152
@red2k18 Can you give more details of how the `IndexError: list index out of range\n'` was resolved here?

[2019-09-03 05:40] blueandgold commented on #2849
@abhishekupadhyaya @pvangara Can you please check the CAI output file?  It should be the GCS bucket in your Forseti project.  You can check the `forseti_conf_server.yaml` to see which bucket it is.

Once you find the bucket with the CAI output files, open one of the output files and check if your crypto key resources are there.  The data in this file will be imported in Forseti's cloudsql database

[2019-09-03 14:22] kevensen opened #3165 "Config-Validator Scanner - Specify host"
As a user of Forseti, I want to be able to specify the host of the config-validator in order to optionally run the config-validator in a separate K8s pod.

**Background:**

Right now the config-validator default endpoint is localhost because the config-validator runs on the same GCE instance as the forseti-server.

https://github.com/forseti-security/forseti-security/blob/fc90c525a753db7f939346a6d

[2019-09-03 14:23] kevensen commented on #3165
Perhaps this can be an environment variable?  The alternative is to set this in the server config.

[2019-09-03 16:54] joecheuk commented on #3035
Hi @hurgh ,

Would you be ok to wait for another 2 weeks for the changes to go out or would you prefer having the feature asap?

Thanks,
Joe

[2019-09-03 17:40] hshin-g commented on #3106
@red2k18 Can you follow up on this issue?

[2019-09-03 17:43] hshin-g commented on #3107
@joecheuk Is this issue addressed?

[2019-09-03 17:48] hshin-g commented on #3121
@red2k18 Can you follow up on this issue?

[2019-09-03 17:48] joecheuk commented on #3107
No this is not addressed

[2019-09-03 17:49] #3104 closed

[2019-09-03 17:52] hshin-g commented on #3133
@red2k18 Can you create an issue for this in the terraform-google-forseti repo?

[2019-09-03 17:54] hshin-g commented on #3142
@red2k18 Can you do a high level scoping of this work (is this a new scanner / updating an existing scanner / config validator rule)?

[2019-09-03 17:57] hshin-g commented on #3144
@red2k18 Can you do a high level scoping / troubleshooting for this issue?

[2019-09-03 18:00] red2k18 commented on #3133
Created https://github.com/forseti-security/terraform-google-forseti/issues/243 in terraform-google-forseti repo.

[2019-09-03 19:38] #3026 closed

[2019-09-03 19:39] #2957 closed

[2019-09-03 19:47] hshin-g commented on #3143
@kevensen Is this already done?

[2019-09-03 20:09] hshin-g commented on #2993
This issue needs more research / verification that the CloudSQL instance being deleted is generating violations.

[2019-09-03 20:40] kevensen commented on #3143
It is now!

[2019-09-03 20:40] #3143 closed

[2019-09-03 20:58] red2k18 commented on #3152
No action was taken by the Forseti team. It was reported by KeScanner and KeVersionScanner work as intended.

[2019-09-03 21:10] red2k18 commented on #3025
@Gribel Please respond to the previous comment when you get a chance so we can investigate this issue further. Thanks!

[2019-09-03 21:44] kevensen commented on #3099
@lukwam I truly apologize for not getting back to you sooner.  Are you still experiencing this error?  If so, can you please provide me the entire Stackdriver entry for:

`"[forseti-security][2.19.0] google.cloud.forseti.services.inventory.base.resources(get_iam_policy): Could not get Dataset IAM Policy: Bigquery Dataset IAM policy is not supported by this API client"`

[2019-09-04 01:18] red2k18 commented on #3144
This is a feature request. Firewall rules today doesn't allow specifying exceptions. This use case is currently not supported in Forseti. It's a nice feature to have.

[2019-09-04 10:52] peter-fe commented on #2880
Is there any progress on the issue?

We are facing the same problem, the scanner is showing not the correct value for "allowExternalMembers".
It seems this field is always interpreted as true by the scanner.

Forseti version in use: v2.19.1

Data from the scanner:
[code]

Manual call to the Google groups API:
[code]

[2019-09-04 15:18] kevensen commented on #2993
The field for checking whether a CloudSQL instance is pending deletion is actually found in the the [operations response](https://cloud.google.com/sql/docs/mysql/admin-api/v1beta4/instances/delete#response) after a delete action.

- status: PENDING
- operationType: DELETE

[2019-09-04 22:22] hshin-g commented on #2676
@sanjogpandasp Were you able to upgrade to the release candidate build?

[2019-09-04 22:26] dekuhn commented on #3059
Updated VM disk to 100GB SSD.

[2019-09-04 22:29] dekuhn commented on #3061
Adjusting to P2 - other performance improvements have had the intended benefits. No seeing large material value to do this. This can be an optimization at some point in the future.

[2019-09-05 18:31] dekuhn opened #3169 "Forseti email notifier will fail if there are a very large number e.g. 1 M of violations are found."
Forseti is not able to generate an email notification when there are 1M violations.

- [ ] Need to verify that a single scanner notifier failing in this way does not impact others sending notifications.
- [ ] Need to implement a fallback option to still send a notification with a summary report but not attach any violation files.

[2019-09-06 09:52] securitygeneration commented on #2471
Any progress on this? We're also running into this issue. Ops can deploy Forseti but likely doesn't have the permissions to create the Org-level service account.

[2019-09-06 15:01] umairidris commented on #2471
FWIW, we switched to https://github.com/forseti-security/terraform-google-forseti and are quite happy with it and its also officially supported.

Not only does it let you make changes and update your forseti installation if needed after the first install (which the current python installer doesn't), its infra as code setup is much more reliable than using python and you can see exactly what is bei

[2019-09-06 17:18] erikwalker commented on #3106
Hi, i have not had much luck with other config settings. I am wondering is their a way with the forseti cli to debug the inventory batch job ? Perhaps maybe i can get some more detailed information on the inventory errors.

[2019-09-06 17:24] dekuhn commented on #3152
@red2k18 were you able to resolve the error messages reported by the customer. Based on the last comment is this issue resolved and should be closed or is there still outstanding concerns that need to be investigated.

[2019-09-06 17:26] dekuhn commented on #3133
@red2k18 now that we have an issue in the Terraform repo can we close this issue under the Forseti Security repo.

[2019-09-06 17:35] #3133 closed

[2019-09-06 17:38] abhishekupadhyaya commented on #3152
We are still seeing error messages for `FirewallPolicyScanner`, and `IapScanner`. We also still get error messages for `KeScanner`, `KeVersionScanner`.

Attached is screenshot of error logs for last 8 executions:
![Screen Shot 2019-09-06 at 1 33 05 PM](https://user-images.githubusercontent.com/8761854/64448348-79070900-d0ab-11e9-8db1-cdc75955610d.png)

Most recently, we got error messages for `KeS

[2019-09-06 17:51] hshin-g commented on #3106
@erikwalker You can try to set the log level to debug to see if that helps to troubleshoot:

`forseti server log_level set debug`

[2019-09-06 20:14] dekuhn commented on #3010
We need to wait for the NodePool feature to hit GA, currently in Beta. We are dependant on a CAI python library.

[2019-09-06 20:34] gkowalski-google commented on #3010
Status of the NodePool in CAI can be seen here: https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview.

[2019-09-06 21:46] erikwalker commented on #3106
Yes okay i am trying to debug. Thanks

[2019-09-07 21:35] ahoying opened #3176 "Forseti should scan for org policy violations automatically"
Now that Org Policies are included with Cloud Asset Inventory (https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview#supported_policy_types) Forseti should automatically detect existing resources that violate org policy constraints (https://cloud.google.com/resource-manager/docs/organization-policy/overview) set by an organization.

Most org policies are not retroactive, so

[2019-09-09 03:18] blueandgold commented on #2993
@kevensen thanks for digging this up!  So, this is a response of the API, and is not something that the Forseti scanner can use.  So, the question is, after a CloudSQL instances is in pending delete state, is Forseti still able to inventory it, and if so, is there anything in the resource representation to indicate the pending delete?

[2019-09-09 14:47] kevensen commented on #2993
That is correct.  It is a response of the API and not something Forseti can use.  After a quick test of creating and deleting an instance, the instance is not listed when executing `gcloud sql instances list`.

I have no evidence of this at the moment, but my hypothesis is that deleted instance is still showing up in the CAI.  Thus, the Cloud SQL instance is still showing in the inventory table.

[2019-09-09 16:31] blueandgold commented on #3176
This is a great idea.  It is a larger-sized work, and we will add it to our planning for Q4.  Thanks.

[2019-09-09 17:50] gkowalski-google commented on #3152
Hi @abhishekupadhyaya, I am looking into this issue now and am able to reproduce it. I will reach out to you if I need any more information, and hope to have an update or resolution soon.

[2019-09-09 17:58] ahoying opened #3180 "Replace ratelimiter library"
https://pypi.org/project/ratelimiter/ seems to be abandoned. Look into alternative rate limiter library for Forseti or directly implementing an API rate limiter decorator and not relying on a third party.

[2019-09-09 18:53] dekuhn commented on #3089
Reopening so we add these same changes for the Forseti on GKE example.

@kevensen FYI

[2019-09-09 19:32] dekuhn commented on #3142
@GitJumpin can you describe in more detail the business use case you are trying to solve for? Is purely a 30 day old image file? Or would looking at image type or family more useful than just creation time?

e.g. example image / family
Image: ubuntu-1804-bionic-v20190813a
Image family: ubuntu-1804-lts

[2019-09-09 20:39] dekuhn commented on #3107
Joe can you add a bit more context to the title and description. In our triage of this issue we did not have enough detail to understand the work.

[2019-09-09 21:01] red2k18 commented on #3149
https://github.com/forseti-security/forseti-security/pull/3182 addresses this.

[2019-09-09 21:30] red2k18 opened #3183 "Website build issue on linux"
`Pull access denied for forseti/generate_sphinx_docs, repository does not exist or may require 'docker login'`

This error message was thrown while running `./scripts/generate_sphinx_docs.sh release-2.20.0`

[2019-09-09 21:49] #2716 closed

[2019-09-09 21:55] dekuhn commented on #2728
Sorry for the duplication of posts; Just trying to keep the PR and issues in sync.

Can we add this CIS disclaimer then we can submit.
"# This scanner has not been validated by the formal CIS certification process."

One other detail to note:
There is a comment here: https://github.com/forseti-security/forseti-security/issues/2511 about the 7.12 benchmark which likely requires a change.

Looking f

[2019-09-09 22:06] dekuhn commented on #3149
@red2k18 Is there a PR to address the Terra-form repo as well? Maybe I missed it?

[2019-09-10 01:55] red2k18 commented on #3149
#3182 updates all the references in forseti-security repo. Will submit another PR to update the references in terraform-google-forseti repo.

[2019-09-10 02:22] red2k18 commented on #3149
Opened https://github.com/forseti-security/terraform-google-forseti/pull/248 to update references in terraform-google-forseti module.

[2019-09-10 03:24] blueandgold commented on #3152
@gkowalski-google thanks for pinpointing the problem!

[2019-09-10 05:01] gkowalski-google commented on #3106
Hi @erikwalker, were you able to get any more helpful info with debug mode? I believe I have a fix for the Kubernetes Scanners, and will start looking into the IapScanner issue this week as well.

[2019-09-10 05:15] gkowalski-google commented on #2849
Hello @abhishekupadhyaya and @pvangara, can you please check the CAI output as mentioned above? If you have a lot of dump files in the CAI export bucket, then it might be easier to lookup the latest resource dump file from the command line (SUFFIX is the unique id generated for the Forseti installation; you will see this on the VM and DB).
[code]

Then you can copy the last dump file listed locall

[2019-09-10 14:13] gkowalski-google commented on #2975
Resolved with #3148 and #3163 .

[2019-09-10 14:13] #2975 closed

[2019-09-10 14:13] #2895 closed

[2019-09-10 14:15] gkowalski-google commented on #524
Roadmap has been published here: https://forsetisecurity.org/about/roadmap.html

[2019-09-10 14:15] #524 closed

[2019-09-10 15:49] ttodo-softserve opened #3186 "Additional check in startup-script (no EXTERNAL IP/Cloud NAT) & functionality with Private Access"
When installing Forseti without internet connection startup-script removes the Python modules and removes the installation. Due to missing internet connection afterwards it can't be installed/upgraded. Additional check in the script will be useful before removing the product.

Python3 modules

Before restart :
root@forseti-client-vm-88ca767:~# pip3 list | wc -l
104

After restart :
root@forseti-se

[2019-09-10 16:19] joecheuk commented on #3107
With the updated changes, when writing to the database (for the inventory module), we no longer need to use a session to hold the connection to the database. Instead we have been executing SQL queries directly using the sql engine. We have not however removed all the use of session in the inventory module yet, those are be removed and replaced with executing sql queries using the engine.

[2019-09-10 16:25] kevensen commented on #3165
This is resolved by PR #3175

[2019-09-10 16:25] #3165 closed

[2019-09-10 19:14] #3155 closed

[2019-09-10 19:26] gkowalski-google commented on #3186
Hi @ttodo-softserve, thanks for submitting this issue. The startup script will get re-added if Terraform is run again to update/install.

Do you plan on adding a Cloud NAT? Any reason you did not add a Cloud NAT as part of the installation?

Forseti will not be able to work without one, since it has to make external calls to get Inventory data, amongst other things. If your process is to install F

[2019-09-10 19:32] gkowalski-google commented on #3183
Were you able to workaround this with the last release? If so, how did you do that?

[2019-09-10 20:36] gkowalski-google commented on #3111
@blueandgold Was this resolved as part of the work that @dekuhn completed?

[2019-09-10 20:45] gkowalski-google commented on #3152
@abhishekupadhyaya The fix for the KeScanner and KeVersion scanner will be included in the 2.21 release (which should be next week). Still looking into the other issues.

[2019-09-11 04:14] blueandgold commented on #3111
@gkowalski-google AFAIK, this work has not been done yet.  I'll put this on the backlog, and we can put it in the right sprint.

[2019-09-11 07:49] ttodo-softserve commented on #3186
@gkowalski-google - thank you for your inputs! Appreciated.
We will be careful when using the TF or restart instances.

As for the Cloud NAT - it's a policy on organizational level, unfortunately.

I was thinking that using VPC network + assign private IP to CloudSQL will overcome missing external IPs and missing cloud NAT, leaving us with non-patched installation but still fully functional.

Mana

[2019-09-11 17:03] #3149 closed

[2019-09-11 17:06] red2k18 commented on #2906
@dekuhn do we want to track integration testing / release automation work on GitHub? If yes, need to update this Epic with relevant issues. I can do that once it's decided.

[2019-09-11 17:19] gkowalski-google commented on #2880
Hi @peter-fe, where did you get the data from the scanner in your last comment? I have tested this with the ```allowExternalMembers: True``` commented out similar to your config and it is reporting violations. A couple of ideas to check in the `scanner` section of the Forseti config.yaml:

1. Confirm the `groups_settings` scanner is enabled
2. Confirm the `rules_path` location is correct

[2019-09-11 17:31] dekuhn opened #3188 "Add support for CAI data paging into Forseti Config Validator (FCV) data to address memory ballooning issue"

[2019-09-11 17:34] dekuhn commented on #3188
Config Validator issue related to memory balloon issue: https://github.com/forseti-security/config-validator/issues/52

[2019-09-11 17:55] kevensen opened #3189 "Migrate DB as a Forseti Sub-Command"
As a user of Forseti, I would like to invoke the [db_migratory.py](https://gitub.com/forseti-security/forseti-security/install/gcp/upgrade_tools/db_migrator.py) script via a sub-command of `forseti`.  For example:

`forseti db migrate`

**Background:**
Currently the the db_migrator is invoked:
*  via the deployment templates
https://github.com/forseti-security/forseti-security/blob/ce6b11385122930

[2019-09-11 18:00] dekuhn commented on #2906
@red2k18 yes

[2019-09-11 19:53] gkowalski-google commented on #3099
Hi @lukwam, I am able to reproduce this issue. Can you confirm if you have created any [authorized views](https://cloud.google.com/bigquery/docs/share-access-views) in this project? If you are not sure, you can:

1. Go to the [BigQuery console](https://console.cloud.google.com/bigquery)
2. For each dataset:
  2a. Select the dataset
  2b. Click Share Dataset (in the middle/right of the screen)
  2c

[2019-09-11 23:23] dekuhn commented on #3188
@joecheuk awesome quick work; Once we have this checked in, is there a way to profile the performance around this for a large data set? Is 3.5 MB page size  much different than 100MB for a 2GB or 20 GB data set?

[2019-09-12 04:55] gkowalski-google commented on #3099
@lukwam, I did some more testing and it looks like this issue will only happen if you have the Cloud Asset Inventory (CAI) disabled. Since you have been using Forseti a while and upgrading it, my guess is that this was never enabled.

I recommend that you enable the CAI inventory setting, as we are continuously adding more Cloud resources into the inventory to be scanned. I also recommend giving T

[2019-09-12 16:13] zarga5 opened #3194 "Is it possible to specify zone and not only region for terraform deployment ?"
Release 2.18.0 deployed via Terraform

Hi,

I'm using Terraform to install Forseti on GCP and noticed that i can only specify region to install Cloud SQL instance and 2 VMs (Server & client) but they are always created in different zone so traffic between VMs (for example based in europe-west1-c) and Cloud SQL (based in europe-west1-d) are not free ... :(
So is it possible to specify specific zone

[2019-09-13 03:59] blueandgold opened #3201 "Define Test Cases for the Website"
As part of the release process for our website, we should define test cases to make sure the website looks and works as expected.

These test cases can be for manual testing for now, and automated testing in the future.

[2019-09-13 13:04] zarga5 commented on #3194
Hi gkowalski, many thanks for your quick reply !

Yes i think this part should be added soon to avoid to have Forseti splitted in 2 zones in the same region (VMs and Cloud SQL instance) to minimize traffic cost.

I tried to modify /module/server/main.tf by adding in setting part location_preference section to specify europe-west1-c but when i check result of _terraform plan_ command ,  i still hav

[2019-09-13 13:15] gkowalski-google commented on #3186
HI @ttodo-softserve, if the Forseti server cannot access the internet, then it will have the following issues:
- Inventory: API calls to CAI or GCP APIs will fail, and this will prevent any inventory data to be collected.
- Scanner: Should be fine, this between server and db
- Notifier: Email, Slack, CSCC notifications will fail as these all rely on access to public internet

The error you mention

[2019-09-13 13:18] gkowalski-google commented on #3025
@Gribel Following up to see if you were able to follow the steps above and get this working.

[2019-09-13 16:54] #3072 closed

[2019-09-13 16:54] joecheuk commented on #3087
Problem is resolved offline.

[2019-09-13 16:54] #3087 closed

[2019-09-13 16:57] gkowalski-google commented on #2938
@jf-marquis-Adeo Are you still having this issue?

[2019-09-13 16:57] gkowalski-google commented on #2934
Hi @jeffaldinger, were you able to get this setup? Please let me know if you need any assistance.

[2019-09-13 16:58] gkowalski-google commented on #2911
Hi @Murcurio, do you need any help with this or were you able to get this setup?

[2019-09-13 17:07] gkowalski-google commented on #2860
Hi @urbanenomad, I apologize for not getting back to you sooner. Are you still experiencing this issue?

[2019-09-13 17:08] gkowalski-google commented on #2827
Hi @marmolejo, are you still experiencing this issue or were you able to get it resolved?

[2019-09-13 17:17] jf-marquis-Adeo commented on #2938
yes sure
db name is written in the code
so if you change the db name with terraform for example db_migrator is not working

Envoyé de mon iPhone

Le 13 sept. 2019 à 18:57, Gregg Kowalski <notifications@github.com<mailto:notifications@github.com>> a écrit :

@jf-marquis-Adeo<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjf-marquis-Adeo&data=02%7C01%7Cjean-francois.m

[2019-09-13 17:22] gkowalski-google commented on #2591
Closing this issue as I have moved it to the Terraform repo: https://github.com/forseti-security/terraform-google-forseti/issues/252

[2019-09-13 17:22] #2591 closed

[2019-09-13 18:31] dekuhn commented on #3087
@joecheuk anything worth including on this issue in case someone hits the problem in the future?

[2019-09-13 18:32] abhishekupadhyaya commented on #3152
@gkowalski-google thank you for the update.

[2019-09-13 19:13] gkowalski-google commented on #3152
@abhishekupadhyaya For the firewall rules issue (affecting FirewallPolicyScanner and IapScanner), how did you create these rules? I noticed that the Console does not support this scenario, but I am able to create them using the CLI. I am following up with this team to determine what is actually supported. Based on that, then I will consider updating this check in Forseti.

[2019-09-13 19:50] joecheuk commented on #3087
@dekuhn it's related to the 25 days inventory problem, the inventory is not stable enough to run any other modules and after that issue is addressed, the violations are back.

[2019-09-13 19:57] gkowalski-google commented on #2515
Hi @mmaningab, I apologize for not getting back to you sooner. Forseti now supports installation through [Terraform](https://registry.terraform.io/modules/terraform-google-modules/forseti/google/1.4.0) and many of these types of options are now available for you to customize, including the region. Please let me know if you have any questions or if we can close this out.

[2019-09-13 20:22] gkowalski-google commented on #2759
Hi @fawix, sorry to get back to you so late on this issue. Forseti now supports installation through [Terraform](https://registry.terraform.io/modules/terraform-google-modules/forseti/google/1.4.0) and many of these types of options are now available for you to customize, including the client zone. Please let me know if you have any questions or if we can close this out.

[2019-09-16 13:08] ttodo-softserve commented on #3186
@gkowalski-google , I would like to provide more details of the current status - where MySQL is accessible via internal IP, Private access is ON on the default network.

Can you please advice which URL is Forseti trying to open in the scanner exception stack?
Any other comments are welcome - if the setup is with Private Access ON to run explain,inventory,model,scanner (notifier will be not OK as y

[2019-09-16 13:23] hariram01 opened #3204 "Forseti process aborted/stopped automatically without error"

[2019-09-16 13:25] #3204 closed

[2019-09-16 13:25] hariram01 commented on #3204
NO issue

[2019-09-16 14:02] erikwalker commented on #3106
@gkowalski-google  Okay great. I presume I will be just update my existing install. Or will I need to do fresh install with terraform ?

[2019-09-16 14:03] erikwalker commented on #3106
I was not actually able to get any new pertinent information from debug.

[2019-09-16 17:17] kevensen commented on #2190
I am going to close this issue.  This is something of which we are cognizant.  Please reopen if this merits further discussion here.

[2019-09-16 17:17] #2190 closed

[2019-09-16 17:25] gkowalski-google commented on #3194
@zarga5 You should be able to see it in the `terraform.tfstate` file, search for `location_preference`. Was this a new installation or an upgrade/apply in place? Perhaps it is being ignored for existing CloudSQL instances. I can do some testing on that.

[2019-09-16 17:35] gkowalski-google commented on #3194
I was able to move a CloudSQL instance by updating the location preference. If you manually move the instance and re-run terraform apply, does the instance get moved back to the old zone (europe-west1-d)?

[2019-09-16 17:55] gkowalski-google commented on #3142
Hi @GitJumpin, please see @dekuhn's questions above. We will consider adding this, just want to make sure it is done right.

[2019-09-16 18:07] kevensen commented on #2961
**Helm Charts:** No changes required.

**Terraform Module:** https://github.com/forseti-security/terraform-google-forseti/issues/254

[2019-09-16 18:07] #2961 closed

[2019-09-16 18:54] erikwalker commented on #3106
@gkowalski-google I need to update forseti with terraform. Do you know if the changes have been added to the terraform-google-forseti repor (https://github.com/forseti-security/terraform-google-forseti)  ?

[2019-09-16 19:24] gkowalski-google commented on #3106
@erikwalker The fixes for the Kubernetes scanners will be included in the release going out this week. I will ping you on this ticket once it is ready.

[2019-09-16 19:58] erikwalker commented on #3106
@gkowalski-google Alright sure. i will hold off on the update. I am following instructions from this page: https://forsetisecurity.org/docs/latest/setup/upgrade.html#zippy-1
We are currently on 2.18.0 version. I would imagine it will probably be release 2.21.0. While updating from 2.18.0 to 2.19.0. I did get this error in my console while running terrraform init:

![image](https://user-images.gith

[2019-09-16 20:09] gkowalski-google commented on #3106
Hi @erikwalker, I think this might be due to a breaking change that was part of [v4.0.0 of the  Forseti Terraform module](https://github.com/forseti-security/terraform-google-forseti/blob/master/CHANGELOG.md#v400---2019-08-07). Can you please follow the [upgrade instructions](https://github.com/forseti-security/terraform-google-forseti/blob/master/docs/upgrading_to_v4.0.md), make sure to [upgrade

[2019-09-16 20:09] erikwalker commented on #3106
Okay i will check. Thanks

[2019-09-16 20:12] #3194 closed

[2019-09-16 20:22] gkowalski-google commented on #3186
@ttodo-softserve Thank you for digging into this! We know this is something that needs to get documented for others to setup. [We opened an issue recently to add a new Terraform example for a private deployment of Forseti](https://github.com/forseti-security/terraform-google-forseti/issues/254).

As for the URL that the Blacklist Scanner is attempting to hit, it is this: https://github.com/forseti

[2019-09-16 20:34] dekuhn commented on #3183
@red2k18 can you provide any details as to the workaround or way you resolved this with the last release.

[2019-09-16 22:25] dekuhn opened #3207 "Publish how-to documentation to use Cloud Profiler with Forseti"
- [ ] Add to Forseti docs how to enable Cloud Profiler
- [ ] Add to Forseti docs how to export and share Cloud Profiler data with Forseti team.

[2019-09-17 04:27] gkowalski-google commented on #2938
Hi @jf-marquis-Adeo, this will be fixed with the next release for GCE installations.

[2019-09-17 04:47] jf-marquis-Adeo commented on #2938
excellent

Envoyé de mon iPhone

[2019-09-17 05:00] blueandgold opened #3208 "gcp-iam-audit-log-v1 Policy Does Not Work in Forseti"
Opening this in Forseti repo, since this affects Forseti and not other Config Validator clients.

The problem is that [gcp-iam-audit-log-v1 policy](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_iam_audit_log.yaml) does not work in forseti because the `audit_config` field [gets ignored](https://github.com/forseti-security/forseti-security/blob/dev/google/clou

[2019-09-17 05:03] blueandgold commented on #3208
@joecheuk is there a reason why we do the ignoring of fields here, while the other CV clients does not?

@katze120 for FYI.

[2019-09-17 05:39] jf-marquis-Adeo opened #3209 "[ Forseti 2.20 ] duplicated field Resource.data.ipprotocol in CAI export for GlobalForwardingRule"
Hello
Since 2.20 Forseti CAI Export is generated a duplicated entry in json for GlobalForwardingRule : Resource.data.ipprotocol.
Can you correct please ?
See json sample file coming from my CAI dump file
`{
  "name": "//compute.googleapis.com/projects/xxx-dtp/global/forwardingRules/xxx-preprod",
  "asset_type": "compute.googleapis.com/GlobalForwardingRule",
  "resource": {
    "version": "v1",

[2019-09-17 07:05] peter-fe commented on #2880
Hi @gkowalski-google,

Sorry for the late feedback, I was quite busy and somehow lost track about this.

To answer your questions:

1. `groups_settings` scanner is enabled
[code]
2. `rules_path` location is correct
[code]

Regarding the scanner data, I got it directly from the cscc when looking up the findings:

![cscc](https://user-images.githubusercontent.com/22496291/65018503-9351aa00-d929-11e9

[2019-09-17 12:19] katze120 commented on #3208
In terraform validator and cft scorecard, [the conversion leverages terraform validator converter](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/cli/scorecard/violations.go#L94-L95) which [only takes bindings field from iam_policy](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/cli/vendor/github.com/GoogleCloudPlatform/terraform-validator/

[2019-09-17 14:23] morgante commented on #3208
@katze120 Are you sure scorecard doesn't provide it? Scorecard uses the type from tfvalidator but nothing else.

[2019-09-17 14:38] katze120 commented on #3208
yes, from actual test results and also the [Asset struct definition](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/cli/vendor/github.com/GoogleCloudPlatform/terraform-validator/converters/google/convert.go#L51-L86) in addition to links provided above

When I bypass tfvalidator and directly try to convert `interface{}` variable to proto, it gives me `Error: validating:

[2019-09-17 14:39] morgante commented on #3208
Got it, so we're likely encountering the same issue as Forseti (the protodef for IAM policies doesn't include audit_configs).

[2019-09-17 14:41] gkowalski-google commented on #2880
@peter-fe Do you have time today to look into this together? I am available from 10am - 2pm PDT. I can also meet later this afternoon.

[2019-09-17 16:16] blueandgold opened #3210 "Sidebar in Contact Us Page Becomes the Main Content"
When the page is smaller, the `Contact Us` page seems to show the CLI commands sidebar as the main content.  The design should be improved here.

https://forsetisecurity.org/docs/latest/use/get-help.html

![image](https://user-images.githubusercontent.com/6977544/65059902-b0877800-d92b-11e9-84ec-42b083c9e743.png)

[2019-09-17 17:29] gkowalski-google commented on #3145
[Link to the field name announcement documenting the changes that were made live on 9/10/2019.](https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/naming-table)

[2019-09-17 20:31] ryanismert opened #3212 "Feature Request: Scan for VPC Service Control checks"
For examples: Alert when policies are overly exposing access to wide range of IP subnets
Alert when policies are overly exposing access to wide access levels

@blueandgold will coordinate with the VPC-SC product team to refine the requirements, now that this is in CAI.

[2019-09-18 06:17] peter-fe commented on #2880
@gkowalski-google,

Woo PDT is a tough one, 10am is about 7pm at my time zone, but I think we can get it going.
This week I'm quite busy and I've to travel, so how about next week?

[2019-09-18 08:41] ttodo-softserve commented on #3186
@gkowalski-google - my bad for the users/groups exceptions. Did not recognize config is overwritten each time server runs. Now is OK - please ignore this.

Status so far (only internal and no internet connection) - inventory is collected, SQL is reachable. We have around 6000+ items in the inventory.

Issues :

- SendGrid Email notification is not working as mentioned by you as well. Same setup wi

[2019-09-18 15:26] red2k18 commented on #3183
`sudo apt-get install jq` did the trick for me.

[2019-09-18 15:27] gkowalski-google commented on #3209
Hi @jf-marquis-Adeo, an [issue](https://github.com/GoogleCloudPlatform/professional-services/issues/318) has been opened with the Asset Inventory tool for this. Is it OK to close out this issue and track within the GCP repo?

[2019-09-18 18:41] dekuhn opened #3214 "Migrate from low QPS service management API to higher QPS service usage API"
- [ ] Migrate Forseti GCP API inventory data collection from [Service Management API](https://cloud.google.com/service-infrastructure/docs/service-management/reference/rest/) API to [Service Usage API](https://cloud.google.com/service-usage/docs/reference/rest/)

 - Managed Service resource
https://github.com/forseti-security/forseti-security/blob/619cac7f0d3083aae625d32f6ed6a4c8fa22d7a8/google/cl

[2019-09-19 05:07] blueandgold commented on #3201
Initial test cases have been created, and linked to the website release doc.

[2019-09-19 05:07] #3201 closed

[2019-09-19 11:11] MartenvanWezel opened #3215 "Naming Convention Scanner"
The subject is fairly self-explanatory, but perhaps this is hard to implement.

But I would want to simply(?) run regex matches against resource names.

Effectively I could set up that for each resource type, e.g. buckets need to be named something like org-location-dev-bucket and create a regex that matches these variances. Then the scanner would run an inverse regex search and flag any bucket th

[2019-09-19 11:27] MartenvanWezel commented on #3215
Perhaps a dumb idea but maybe a regex scanner can be even expanded slightly to parse the entire resource json for a number of things, you could even fairly easily detect if e.g. a specific resource has flag xyz if you're good enough at regex.

Performance might become a problem if you're too enthusiastic here..

[2019-09-19 12:00] ttodo-softserve opened #3216 "SCC connector not updating new findings"
Forseti version - 2.18.0

Issue :
Test bucket violation created (read permissions to everyone).
After run the email attached CSV report do recognize and report it as violation.

In SCC it's shown as new asset (aka seen and refreshed inventory) but the violation (findings) are not updated (showing last status) no matter what is chosen, nor where is clicked for refresh.

Where can we debug this issu

[2019-09-19 16:17] gkowalski-google opened #3217 "Set password on MySQL root account"
- [ ] Investigate what parts of Forseti rely on the root account
  - [ ] rename the account from root to something that is not a default to brute force
- [ ] Update Terraform module to set root password
- [ ] Update Forseti to use root password (if needed)
---

### Story
The Forseti Terraform module [creates a root account with no password](https://github.com/forseti-security/terraform-google-fors

[2019-09-19 17:17] dekuhn opened #3218 "Add option to filter out app-script and pending delete resources from CAI inventory import."
- [ ] Determine how to identify pending delete resources in CAI data set
- [ ] Determine how to identify app-script data in CAI data set
- [ ] Build Forseti feature to exclude or filter this data from inventory import
- [ ] Add feature to Terra-from configuration options (default state: include pending delete and include app-script data)

Related to #2993 and #2300.

[2019-09-19 17:35] dekuhn commented on #3218
Background: CAI exports include pending delete resources and app-script resources which may or may not be useful in the inventory data set. In CSCC today I believe these resources are filtered from import or from the CSCC view. There is no action that can be taken on these resources; but we want Forseti to support the ability to include or exclude these assets from the Forseti inventory.

[2019-09-19 18:10] jf-marquis-Adeo commented on #3209
yes sure
thanks a lot

[2019-09-19 18:10] #3209 closed

[2019-09-20 04:44] blueandgold commented on #3216
Hi @ttodo-softserve, can you please clarify if you have completed the integration between Forseti and CSCC?  Did you follow the steps here in this guide?
https://forsetisecurity.org/docs/latest/configure/notifier/index.html#cloud-scc-notification

For example, does anything else show up in CSCC for you, or is it only this test bucket that did not show up?

If you have setup CSCC already, you can s

[2019-09-20 11:21] sanjogpandasp commented on #2676
@hshin-g
while doing this upgrade I wanted to change the cloudsql disk size to "50"
While changing cloudsql_disk_size in terraform main.tf and terraform.tfvars it gave error.

I believe `cloudsql_disk_size` keyword is not present is terraform version 4.0.1 and hence it is giving error while doing terraform init.

[2019-09-20 14:27] ttodo-softserve commented on #3216
@blueandgold - thanks for clarifying! Appreciated.

Opening the debug I found the error - configuration.
Sorry for bothering, at least I've learned how to debug it on-the-fly.

Findings are updated after the forseti run is finished and results are updated to SCC.

Last question - when does the inventory update in SCC?
1. Upon each forseti run finish
2. or it's needed to do manually Assets - > RE-S

[2019-09-20 15:12] blueandgold commented on #3216
@ttodo-softserve Inventory in SCC is created and updated by SCC itself, which I believe happens periodically every few hours (you don't have to manually trigger a re-scan).  Forseti only updates the findings.

I will go ahead and close this issue.  If you have any other questions, please feel free to re-open this one, or a new issue.  Thanks.

[2019-09-20 15:12] #3216 closed

[2019-09-20 15:14] ttodo-softserve commented on #3216
Perfect! Thank you!

[2019-09-20 15:18] blueandgold opened #3219 "Clarify Documentation on CLI Usage"
User feedback: it is not super clear on where / how the user should use the CLI, whether on the server VM or on the client VM.  We should update the [Command-line interface page](https://forsetisecurity.org/docs/latest/use/cli/cli.html) to explain the difference of using the CLI on the server VM and on the client VM, as well as recommend which one to use.

[2019-09-20 15:33] blueandgold opened #3220 "Update Docs for GSuite Setup"
User Feedback for the [GSuite Setup page](https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html):

1: Screenshots on the GSuite setup page don't match the current GSuite Admin pages.  (No specific on which screenshot, so please verify.)

2: `Go to your Google Admin Manage API client access Security settings.`
The link doesn't work for the user. But the screenshots are totally cor

[2019-09-20 15:59] gkowalski-google commented on #3183
This is related to a minor change to the docker file. I have updated the release documentation.

[2019-09-20 15:59] #3183 closed

[2019-09-20 17:26] hshin-g commented on #2676
@sanjogpandasp You're correct that the `cloudsql_disk_size` keyword is not present in Terraform v4.0.1. We are planning on adding this variable in our upcoming release (4.2.0 - early next week), with a new CloudSQL submodule.

Let us know if you have any questions here, and whether you would like to proceed with changing the `cloudsql_disk_size` for the next release or using the current version.