[2018-09-08 01:36] ocervell commented on #1980
Couldn't we have folders like `forseti-security/tests/unit` and `forseti-security/tests/docker` ? e.g: OpenCensus something similar in their Python [repo](https://github.com/census-instrumentation/opencensus-python/tree/master/tests). Are the `docker_setup_forseti.sh` and `docker_install_forseti.sh` currently used outside of testing purposes ?

[2018-09-08 01:47] red2k18 commented on #1845
OpenCensus provides support for following exporters. We plan to give users the ability to choose the exporter.
-[x] Stackdriver (Python supported for traces)
-[x] Zipkin (Python supported for traces)
-[x] Jaeger (Python supported for traces)
-[x] Instana
-[x] Datadog
-[x] Prometheus
-[x] SignalFX

[2018-09-08 16:31] daveresbk opened #2000 "Question/Feature: scan for resources without defined organization labels"
Question: I have read your docs, but I don't see any info about scan for resources without defined organization labels. Is it possible? If not, I think it could be an interesting feature.

[2018-09-09 19:17] red2k18 commented on #1845
Implementation plan:

- [ ] Core tracing for gRPC server/client
- [ ] Tracing integration libraries (requests, sqlalchemy, httplib, httplib2)
- [ ] Add spans for one method
- [ ] Add spans for all the methods
- [ ] Add core Monitoring interceptors and core metrics
- [ ] Choose and implement metrics for Monitoring interceptors

[2018-09-10 05:34] blueandgold opened #2001 "Make sure group expansion can not be used if DwD is not configured."
In #1933, we documented that group expansion is not available in Explain, if DwD is not configured.  We should handle this in code, and give users a clear message that group can expansion can not be used, if DwD is not configured.

See, Step 4 of the following documentation.
https://forsetisecurity.org/docs/latest/setup/install.html#run-setup

[2018-09-10 15:34] blueandgold commented on #2000
@daveresbk Thanks for bringing this up!  Yes, it definitely is possible to audit for labels in various resources (or even tags of resources), and will require adding new scanners.  Which resource labels/tags are you most interested in?

This relates to #864, where we are considering to handle the auditing of resource attributes more generically, so that it's easy to audit the label/tag attributes

[2018-09-10 16:00] daveresbk commented on #2000
Thanks a lot for your reply.
We set an internal policy to label all resources with the following tags:

- <company>-service | service to which the service belongs
- <company>-project | identify the project the resource supports
- <company>-cluster | if it belongs to a cluster
- <company>-customer | customer to which the service belongs
- <company>-environment | environmentdev - developmentsta - st

[2018-09-10 17:12] jjawad-google commented on #1996
#1998

[2018-09-10 17:20] jjawad-google commented on #1945
The best approach here should be to move more resources into the Deployment Manager template which will make the uninstall process easier to manage.

[2018-09-10 19:27] blueandgold commented on #1996
This is fixed by @rvandegrift

[2018-09-10 19:27] #1996 closed

[2018-09-10 22:18] blueandgold opened #2002 "Consider Using Priority for Scanner Rules"
We currently have issues to express exceptions or precedences to multiple rules.

For example:
Rule 1: org-level blacklist for allUsers
Rule 2: project-level whitelist which would allow allUsers in project1, project2, project3

The intention with the example above is to disallow allUsers on all the org's projects, but allow it on the 3 projects.  But as of today, this is not possible to express, a

[2018-09-11 03:32] blueandgold opened #2003 "Update Documentation on New cloudtrace Roles"
Per the change in PR #1926

[2018-09-11 13:05] jjawad-google commented on #1186
Is this still relevant?

[2018-09-11 13:06] jjawad-google commented on #1224
Is this issue still open?

[2018-09-11 14:50] blueandgold commented on #1224
This is one of those issues that deserves better description.  As it is, this issue can be considered closed since we have gsuite users in 2.0 that can be used for finding.

[2018-09-11 14:50] #1224 closed

[2018-09-11 14:55] blueandgold commented on #2002
Another user input:
![image](https://user-images.githubusercontent.com/6977544/45368284-17938380-b598-11e8-8d34-de6ceb078129.png)

[2018-09-11 15:02] lukwam commented on #2002
Can't you do this for buckets by simply setting up a whitelist, and anything that isn't on the whitelist will be a violation?

[2018-09-11 15:27] blueandgold commented on #2002
Taking a step back, the bucket ACL also does not have a whitelist mode, but is tracked in the issue below.
https://github.com/GoogleCloudPlatform/forseti-security/issues/787

Even if we do have the whitelist mode, we still have the issue here.  So, that could be one approach, i.e. (similar to firewall rules) having a default or implied blacklist in place for everything, and create rules to define

[2018-09-11 23:49] red2k18 commented on #1973
Deleted default firewall rules for testing, was able to run Forseti and SSH into the client/server VM. Seems functionality doesn't change by deleting default rules. Going to add a method to delete default firewall rules from the project to avoid any confusion thereby making concepts clearer for the users. Will add an FAQ as well.

[2018-09-12 20:28] mirons-google commented on #1109
It's recommended to do this on a per-repository basis to create a directory and update our developer documentation to include using the hooks directory.

https://stackoverflow.com/a/37861972

[2018-09-12 20:31] mirons-google commented on #1980
+1 to @ocervell 's suggestion. The docker scripts have no reason for being in install, they're tests...

[2018-09-12 20:40] mirons-google commented on #1862
Google's index has been updated and this is no longer a search result.

The robot.txt is built automatically as part of the travis build in the forsetisecurity.org branch.

[2018-09-12 20:41] #1862 closed

[2018-09-12 20:41] mirons-google commented on #732
This is presumed to be fixed, re-open if it's not. Thanks.

[2018-09-12 20:41] #732 closed

[2018-09-12 20:44] mirons-google commented on #1203
@jiyunyao can you confirm the above mentioned branches are still needed?

[2018-09-13 14:52] blueandgold opened #2007 "Gap Analysis of CIS Recommendations for Better Security on GCP"
The Center for Internet Security (CIS) has published recommendations for better security on GCP.
`Google Cloud Platform Foundation v1.0.0 09-05-2018`

It would be great if we can analyze those against the coverage provides by Forseti, and see where are the gaps so that we fill them in in a prioritize fashion.

[2018-09-13 21:11] jjawad-google commented on #55
All region data is collected in v2 of inventory if returned by API.

[2018-09-13 21:11] #55 closed

[2018-09-13 21:27] jjawad-google commented on #779
The playground is not supported at this time.

[2018-09-13 21:27] #779 closed

[2018-09-13 21:35] jjawad-google commented on #973
The playground is not supported at this time.

[2018-09-13 21:35] #973 closed

[2018-09-13 21:42] jjawad-google commented on #1186
We recommend customers to install 2.0 into a new project.

[2018-09-13 21:42] #1186 closed

[2018-09-13 21:47] jjawad-google commented on #1340
Stack traces were added for each error handling routine.

[2018-09-13 21:47] #1340 closed

[2018-09-13 21:51] jjawad-google commented on #1535
#1898 clarifies that this is optional.

[2018-09-13 21:51] #1535 closed

[2018-09-14 16:50] blueandgold opened #2009 "Make the Firewall Scanner Code Easier to Maintain"
The firewall scanner has a lot of code like below, which are not easy to maintain, and my eclipse debugger can not step through.

The example has a lot of things going on: multiple logical conditions that are nested, calls to helper methods, and custom object evaluators.  Elsewhere, there are even list comprehension thrown in as well.

So, what should be done here is to break up all the elements s

[2018-09-14 17:53] umairidris opened #2010 "Add support for project liens"
We would like Forseti to be able to check for the existence and correct configuration of project liens.

[2018-09-14 18:23] blueandgold opened #2012 "Firewall scanner to whitelist the `default-allow-internal` returns a violation and a recommendation to delete the `default-allow-internal` firewall"
This is the rule that is used.

[code]

[2018-09-17 11:28] MartenvanWezel opened #2013 "Bug template error"
Bug template says:

- [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).

-> this file does not exist anywhere. (no dir google/cloud/security either)

Perhaps you mean:
/home/ubuntu/forseti-security/google/cloud/forseti/__init__.py (client)
or
/home/admin_/forseti-security/google/cloud/forseti/__init__.py (cloud shell)

[2018-09-17 11:32] MartenvanWezel commented on #1384
Note - this is still happening, fresh Forseti install, both on a domain with 'admin@' as the cloud shell user, as well as one without (my user is marten@henry)

[2018-09-17 15:02] umairidris opened #2014 "Update docs for adding new inventory to mention tests"
The docs for adding a new inventory are great (https://forsetisecurity.org/docs/latest/develop/dev/inventory.html).

However, they don't mention what tests should/need to be added.

It seems the process for adding certain tests is more involved (see comment 2 by @dufton in #2011).

These tests should be included as steps in the doc.

[2018-09-18 22:01] #1828 closed

[2018-09-18 22:18] jjawad-google commented on #2007
We will investigate internally.

[2018-09-18 22:18] #2007 closed

[2018-09-19 12:30] umairidris commented on #2010
Still need to add scanner :)

[2018-09-19 17:01] joecheuk commented on #2010
If you reference the issue in your PR with certain wordings (maybe fix is one of them?), it will close the issue automatically when the PR is closed - I didn't close it manually :)

[2018-09-19 17:12] umairidris commented on #2010
Today I learned... will keep that in mind

[2018-09-19 17:18] #1973 closed

[2018-09-20 02:31] mtcmorris commented on #1012
Any update on this? From what I can see specifically buckets the resource ids don't appear to be used for scoping like I'd expect (v2.3.0).  We have many projects in our org and in a few, public buckets are acceptable but in the rest they're not.  Attempting to write a "whitelist" style rule that allows for public buckets only within certain projects.

Happy to start work on a fix if that'd be acc

[2018-09-20 15:16] blueandgold opened #2021 "Better handling of resource_id in bucket ACL rule file."
The bucket ACL rule file has attributes for resource_ids, which do not seem to be used.  Such as targeting folder ids, so that only certain folders can be scanned.  i.e. some folder can allow public buckets, but other folders can only have private buckets.

https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/rules/bucket_rules.yaml#L22-L24
[code]

[2018-09-20 15:38] mcapts opened #2022 "Always include Scanner Rule Name in Violation"
For example, Group violations include the violated_rule_name field, but Enabled APIs violations do not. I believe we should standardize on certain information being included in the violation, such as the rule name, so that the alerting systems that ultimately parse and track violations that Forseti finds make the source/meaning of the violation more clear.

[2018-09-20 16:17] blueandgold opened #2023 "Consider adding version number into logs."
When troubleshooting the logs, the question that always come up is what what version of Forseti is being used.

So to make this easier, we could consider to put the forseti version into the log statements.

Current:
[code]

Proposed:
2018-09-14 03:28:52,591 WARNING [forseti-security-2.3.0] google.cloud.forseti.scanner.audit.blacklist_rules_engine(find_violations)

[2018-09-20 19:39] mcapts commented on #1832
Is this still being worked on? This is causing my crontab to fail, which means I needed to add instance reboot logic. I got the latest version of the dev branch (today) but it is still failing without a reboot.

[2018-09-20 19:59] blueandgold commented on #1832
@mcapts This is indeed being worked on.  We escalated this to the google.auth library team and they are working to resolve it on their side.  In the meantime, we have added this as a workaround. Can you use this?
https://github.com/GoogleCloudPlatform/forseti-security/pull/1940/files

[2018-09-20 21:57] joecheuk opened #2024 "Group scanner failed when loading rule file."
[code]

[2018-09-21 05:04] blueandgold opened #2027 "Another DB Session out of sync: "Commands out of sync; you can't run this command now""
We have fixed a similar issue before in #1718. We can not have multiple simultaneous queries in in the same session.

2018-09-12 13:21:29,472 ERROR [forseti-security] google.cloud.forseti.scanner.scanner(run): Error running scanner: BigqueryScanner
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.2.0-py2.7.egg/google/cloud/forseti/scanner/scanner

[2018-09-21 16:52] mcapts commented on #1832
Thanks @blueandgold ! I added some code to restart the forseti service on my server for now.

[2018-09-21 20:01] blueandgold opened #2029 "Clarify Installation Instruction"
Need to add `cd forseti-security` to clearly tell users to go into the github folder, before checking out the right version tag.

![image](https://user-images.githubusercontent.com/6977544/45903359-4c74b700-bd9e-11e8-909e-3c5886719068.png)

[2018-09-21 20:42] rllin-fathom opened #2030 "Scanners not all working for root resource being a Folder?"
I am trying out v2.4.0 in order to have my Forseti instance monitor a Folder rather than an entire organization.

This was my deployment process:
1. deployed with install script via google cloud shell
2. modified server config in GCS to use a folder as a root
3. modifier server config to use GCS rules

I then verified that my install was working by turning on the `enabled_api` rule and only whitel

[2018-09-21 20:54] rllin-fathom commented on #2030
server config was not properly configured!

[2018-09-21 20:54] #2030 closed

[2018-09-21 21:30] ocervell opened #2031 "Dev branch broken"
Latest dev branch is breaking with the following exception:

[code]

[2018-09-22 00:38] MartenvanWezel opened #2032 "Model Delete output is.. sparse?"
Using Forseti 2.3

`forseti-client-vm-b8d78ec:~$ forseti model delete test

{}`

perhaps at least return a status?

[2018-09-22 03:16] blueandgold commented on #2024
@red2k18 Please update 2.4.0 tag to include the fix for this....thanks!

[2018-09-22 04:15] blueandgold opened #2033 "CSCC Create Finding: 404 Method not found"
In 2.4.0 release testing:

![image](https://user-images.githubusercontent.com/6977544/45913249-06424680-bde4-11e8-86e8-cbabdf456a90.png)

![image](https://user-images.githubusercontent.com/6977544/45913194-579e0600-bde3-11e8-9554-7d01764d97ff.png)

[2018-09-22 05:07] blueandgold commented on #2033
This error came from using a release project that was not whitelisted.  No errors when using a project that was whitelisted.

[2018-09-22 05:07] #2033 closed

[2018-09-24 05:45] blueandgold opened #2035 "Inventory Is Success Even with 403 Error to Get Organization"
This should not be `SUCCESS` here.

![image](https://user-images.githubusercontent.com/6977544/45938790-2a3b8e80-bf82-11e8-81f0-37ef19917c33.png)

[code]

[2018-09-24 17:07] #2024 closed

[2018-09-24 17:12] jjawad-google commented on #2032
Need to determine what sort of info needs to be passed back in the response and gauge difficulty.

[2018-09-24 17:14] jjawad-google commented on #2031
Please try running pip install -r requirements.txt. This should fix your dev environment.

[2018-09-24 17:14] #2031 closed

[2018-09-24 17:15] jjawad-google commented on #2029
Fixed in PR #2018

[2018-09-24 17:15] #2029 closed

[2018-09-24 17:19] jjawad-google commented on #2023
[forseti-security] [v2.3.0] instead of [forseti-security-2.3.0] so that existing log parsing is not broken.

[2018-09-24 17:36] joecheuk commented on #1012
Hi @mtcmorris ,

We have updated the bigquery scanner to use the resource_id field but we don't yet have the bandwidth to tackle the bucket scanner. Would be awesome if you can contribute and I am more than happy to work with you to get the fix in Forseti!

Thanks,
Joe

[2018-09-24 19:32] joecheuk commented on #1012
The implementation will be very similar to this PR which addressed the same problem for bigquery scanner.

https://github.com/GoogleCloudPlatform/forseti-security/pull/1884

[2018-09-25 17:45] umairidris opened #2042 "Resource and scanner docs are scarce"
Adding a resource and scanner is very involved. The current documentation is not sufficient to implement one (https://forsetisecurity.org/docs/latest/develop/dev/scanner.html).

#2041 contains a full self contained example. Perhaps this can be linked in the docs or the docs can be updated to suggest all the steps.

[2018-09-25 18:39] blueandgold commented on #1957
This is Mark's doc.
https://docs.google.com/document/d/15vDoZmoRCJTTSMEPzYNG81yR7XkD4PEPkOj53atYw80/edit

[2018-09-25 18:41] blueandgold commented on #2042
Thanks Umair for raising this.  This relates to #1957.

[2018-09-25 19:44] umairidris commented on #2042
Ah, great. Considering it's already in the works I'll close this as duplicate.

[2018-09-25 19:44] #2042 closed

[2018-09-25 22:45] red2k18 commented on #2032
Model Delete command now returns success or failure message based on whether model is deleted or not.

[2018-09-26 15:24] blueandgold opened #2046 "CSCC API Update"
API update needed.

[2018-09-27 03:46] blueandgold opened #2051 "Deprecate CSCC Bucket Mode"
This is not being used and can be deprecated.  This should be a first step for the api change.

After this, the api will be the only mode.  We will consider backward compatibility in the `forseti_conf_server.yaml` schema, and final decision will be updated here.

[2018-09-27 03:48] blueandgold commented on #2051
Relates to #2046

[2018-09-27 04:26] blueandgold opened #2052 "Update Documentation for CloudAsset"
Please document the changes associated with changes in #2008, #2019, , #2028, #2034.

These are primarily:
- new permission
- new api
- how to upgrade (such the quota, and cai, in the server config)

[2018-09-27 19:05] marcin-kolda commented on #1227
Seems that Forseti could now run fully in VPC: [Introducing private networking connection for Cloud SQL](https://cloud.google.com/blog/products/databases/introducing-private-networking-connection-for-cloud-sql).

It would be great if you could increase priority on this, as it would make Forseti setup much more secure.

[2018-09-27 20:58] umairidris opened #2053 "Support validation of GCP resource locations"
We would like to validate GCP resources are in the regions are they are meant to be in.

Test case: Where (geographically) should specific resources be hosted?

Resources:
- GCS bucket
- GKE cluster
- GCE VM
- BQ Dataset
- Cloud SQL Table

[2018-09-28 01:13] rllin-fathom opened #2055 "IAM whitelists are on a role by role basis"
In v2.4.0 (and dev), the iam scanner seems to misbehave for whitelist rules.  Either that, or it is not clear what whitelist means in this case.

Example role bindings in place:

1. roles/owner: [user:A, user:B, user:C]
2. roles/storage.Admin: [user:C]

Example rule:

[code]
This _should_ trigger the following violations.

1. user:C is roles/owner
1. user:C is roles/storage.admin

However, it only

[2018-09-28 15:41] blueandgold commented on #2027
Another user has reported on this.

[2018-09-28 17:51] blueandgold commented on #2055
Your understanding of the scanner behavior is correct.  You must explicitly have a scanner rule in place first, in order for Forseti to evaluate whether the role has the right members.

So, in your case, if you do not define a scanner rule for `roles/storage.admin`, then that iam role will not be evaluated.  This is an implicit whitelist.

Do you think it would work better if we have an implicit b

[2018-09-28 18:09] blueandgold opened #2056 "Update Firewall Scanner Unit Tests for Changes in PR #2050"
I agree with the comment in PR #2050, that updating the firewall scanner unit tests is not easy.  So, opening this issue as a TODO to do this separately.

[2018-09-28 18:35] blueandgold commented on #2055
`implicit whitelist` for us, means that if something is not covered by a scanner rule, then it will not be considered as violation.  So in your example, because there is no scanner rule for `roles/storage.admin` role, then any member there is treated as a whitelist.

One of our reason for developing the scanner rule in this way, is to make things more management.  i.e. only target the scanning to

[2018-09-28 21:15] rllin-fathom opened #2058 "Folder only IAM scanner erroneously includes bucket role bindings"
v.2.4.0 (but appears in dev from inspection)

The IAM scanner attempts to handle bucket role bindings with a `_add_bucket_ancestor_bindings` call that augments the collected role bindings [1] with bucket role bindings.  The function works by finding all buckets in our purview [2] and if those buckets have role bindings not already in the collected role bindings, it adds or merges them [3].

if the

[2018-09-28 21:32] rllin-fathom opened #2059 "IAM scanner whitelisting without enumerating all roles"
split out from https://github.com/GoogleCloudPlatform/forseti-security/issues/2055#issuecomment-425527856

Summary:
IAM scanner whitelisting only considers roles with rules.  If a role does not have a rule, it is automatically whitelisted.

The desire is to have an exact way of describing whitelist rules.  One way to do this is to reflect all GDM declarative role bindings, and any deviation from t

[2018-09-28 21:32] rllin-fathom commented on #2055
https://github.com/GoogleCloudPlatform/forseti-security/issues/2059 done! 😄

[2018-09-28 21:52] joecheuk opened #2060 "Logsink violation full name doesn't display the entire path from the organization."
It is showing projects/<project_name> instead.

[2018-10-01 19:38] #2010 closed

[2018-10-03 01:49] rllin-fathom opened #2063 "Folder and Project resources inconsistently use resource id or resource number"
v2.4.0
I was trying to test that the log sink scanner actually triggered violations.  It turns out that if the resource is a **folder** it needs to be the **folder number**, BUT if the resource is a **project**, the resource id needs to be a **project id**.

[code]

When I print out the `parent` object from https://github.com/GoogleCloudPlatform/forseti-security/blob/3b01742a995a73350021bfff69fa5c

[2018-10-03 19:11] #2027 closed

[2018-10-03 19:55] marcin-kolda commented on #791
It seems this issue can be solved with [VPC Service Controls](https://cloud.google.com/vpc-service-controls/) and/or [Domain restricted sharing](https://cloud.google.com/resource-manager/docs/organization-policy/org-policy-constraints) organization policy.

[2018-10-03 21:57] #2032 closed

[2018-10-03 22:23] joecheuk opened #2070 "Checking VM initialization failed during the installation process."
+-------------------------------------------------------------------------------
|  Forseti Server VM Initialization
+-------------------------------------------------------------------------------

Error occurred when sshing to the VM.  Unable to verify if the VM is fully initialized. This is a non-fatal error, but you should verify the VM is fully initialized before use. You can do so by SSHing

[2018-10-04 15:50] davidlauen opened #2073 "v2.3 service failing to start. Complaining about SQL Alchemy."
First, help us help you by providing the following information when opening an issue.

 - [2.3] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [forseti-security ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
<img width="1244" alt="screen shot 2018-10-04 at 11 39 25 am" src="https://user-im

[2018-10-04 20:10] jjawad-google commented on #1868
@joecheuk do you have an update ? Please reprioritize to P0 if more customers are affected.

[2018-10-04 20:13] jjawad-google commented on #1797
Resolved in #1836

[2018-10-04 20:13] #1797 closed

[2018-10-04 20:48] gruihuang opened #2076 "New feature bucket retention"
Forseti should check the life cycle and TTL for GCS buckets. e.g. For buckets holding logs, we want to make sure TTL is at least X days.

[2018-10-04 21:01] blueandgold commented on #2073
Can you log into the VM (assuming server) and try to do the following?  Please let me know if that works.
[code]

If that works, then please restart your VM again.

I have tested this on my end and it works, as well as rebooting my VM.  It should install version `1.2.12`.

[2018-10-04 21:46] blueandgold commented on #2059
@rllin-fathom There is a way to apply a rule to all the roles.  Here are a couple of examples:

[code]
[code]

[2018-10-05 18:27] joecheuk opened #2079 "[v2.2.0] Deadlock found when updating the inventory_index table"
![image001](https://user-images.githubusercontent.com/5330393/46553103-77c4cf00-c891-11e8-93d4-399281a86d6d.png)

[2018-10-05 20:00] joecheuk opened #2080 "Increase the size of the asset_data column in table cai_temporary_store"
https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/google/cloud/forseti/services/inventory/storage.py#L436

[2018-10-07 08:38] Dzevka8 opened #2083 "forest security"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-10-08 17:05] jjawad-google commented on #2083
#2082 Could you provide us with more information related to this issue?

[2018-10-08 17:10] jjawad-google commented on #2076
This is a great idea, would it be possible for you to contribute?

[2018-10-08 23:52] rllin-fathom commented on #1410
I heavily second this request!

thoughts on stepping stones towards a full scanner:

1. checks that vuln scan is enabled
2. checks for nonzero fixes available per image
3. checks for nonzero critical CVEs
4. full CVEs stats

Even just having the first would be great!

[2018-10-09 00:08] rllin-fathom opened #2084 "Deploying Forseti on GKE"
Any plans to move Forseti over to a GKE deployment?

**Benefits**
1. More ephemeral, server/client scale up and down as dictated by a `CronJob` (cheaper and more resilient)
2. Easier to upgrade Forseti (baked into image)
3. Easier to update rules (baked into image)

**Sticky points**
1. permissions and security surrounding use of external GCP resources (e.g. CloudSQL)
2. OR standing up database in

[2018-10-09 13:59] jjawad-google opened #2085 "October 2018 forsetisecurity.org news posts"

[2018-10-09 14:17] jjawad-google opened #2086 "Adjust pagination value for news posts."

[2018-10-09 16:06] rllin-fathom commented on #2063
hey @joecheuk well it is still inconsistent at the yaml level, no?

projects require some string
and folders require some number

[2018-10-09 16:12] joecheuk commented on #2063
From the application perspective, we are using the resource ids (folder id, project id and organization id) provided by GCP to do the filtering, it should be consistent in that sense. Other than the fact that the nature of folder id is a number (which we don't have control over), do you see any other inconsistency?

[2018-10-09 16:50] rllin-fathom commented on #2063
yes, that is the only inconsistency.

it makes writing / reading yamls non intuitive.  so may just be a matter of having clearer documentation?

[2018-10-09 23:04] blueandgold opened #2090 "Fix Repeating Header"
Investigation is revealing that the `set_user_agent()` in the `google-api-python-client` library is repeatedly causing the header to grow and fail.

https://github.com/googleapis/google-api-python-client/blob/master/googleapiclient/http.py#L1685-L1722

[2018-10-09 23:05] blueandgold commented on #1832
Investigation is revealing that the `set_user_agent()` in the `google-api-python-client` library is repeatedly causing the header to grow and fail.  Opened issue #2090 to fix.

[2018-10-10 16:07] davidlauen opened #2092 "Feature Request - Parse out project name from the full_name in the findings"
- [2.5 ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ scanner] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.

It would be nice to not have to parse out the project name from the full_name column in a finding report. The full_name column is great, it would be nice to have an **extra colu

[2018-10-10 16:47] #2090 closed

[2018-10-11 09:17] loulou81 opened #2093 "Mighty phython"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-10-11 14:59] blueandgold commented on #2080
Per @ahoying, the change here needs to be:
[code]
This fixes:
[code]

[2018-10-12 17:06] davidlauen opened #2094 "Separate active/pending delete project status in inventory summary email"
First, help us help you by providing the following information when opening an issue.

 - [ 2.5] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [notifier ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.

It would be nice to see a separate line item in the inventory output email for project c

[2018-10-13 18:26] 0188716218 opened #2095 "issues"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-10-14 17:53] Red-Five commented on #2084
@rllin-fathom
Cloud SQL supports internal IP (beta). I have verified that Forseti (v2.5.0) works on GCE with internal IP's end-to-end.
There  is a new Cloud NAT (beta) solution for internet egress from private IP VM's for updates etc.

(Re Docker / GKE: I'm also looking to see if their is a documented list of known issues that need to be resolved.) There is a 'dockerize' branch in git but I don't

[2018-10-14 18:10] Red-Five commented on #1227
@marcin-kolda I have verified that v 2.5.0 works end to end with internal IPs only.
I used the default installation script (on subnet with private IP enabled) then removed external IPs from the VMs and Cloud SQL and verified firewall rules locked down for internal use. I guess next step would be to codify this in the deployment script.
Cloud NAT (beta) can be used for internet egress for updates.

[2018-10-15 17:03] jjawad-google commented on #2095
Could you provide us with more information?

[2018-10-15 17:06] jjawad-google commented on #2093
Could you provide us with more information?

[2018-10-15 17:09] jjawad-google commented on #2092
This will require some design work on our part and will be part of the next gen inventory.

[2018-10-15 17:11] jjawad-google commented on #2084
Internally we have a proof of concept and will post here soon.

[2018-10-15 17:16] jjawad-google commented on #1227
Thank you for the update, we are in the process of assigning someone to follow up and validate.

[2018-10-16 16:47] umairidris opened #2096 "Error during scanning from non-existent scanner is not obvious"
To reproduce:
- in forseti_conf_server.yaml, add a scanner that does not exist
- reset the server
- ssh into the forseti client
- run the following commands on client:
[code]
- observe the scanner failing, with no useful information as to why.

- observe forseti server and client stackdriver logs having no indication as to why it failed as well (no stack, no error message, etc).

[2018-10-16 17:11] umairidris commented on #2092
Does https://github.com/GoogleCloudPlatform/forseti-security/pull/1864 solve part of this?

[2018-10-16 18:02] umairidris opened #2097 "Add documentation on Lien, Location and Log sink scanners"

[2018-10-16 18:09] umairidris opened #2098 "Model on a previous version silently fails to report violations"
To reproduce:
- Create inventory in forseti client VM:
$ MODEL_NAME=$(/bin/date -u +%Y%m%dT%H%M%S)
$ forseti inventory create --import_as ${MODEL_NAME}
$ forseti model use ${MODEL_NAME}

- Update forseti version (or sync to a point after which forseti version changed)
- Run scanners and notifier:
$ forseti scanner run
$ forseti notifier run

Observe that while the scanner runs succesfully and find

[2018-10-16 20:01] joecheuk commented on #2063
@rllin-fathom Thanks for the update, we will clarify that in our documentation.

[2018-10-16 23:14] blueandgold commented on #2051
Will do this when updating the API.

[2018-10-16 23:14] #2051 closed

[2018-10-17 15:57] #2060 closed

[2018-10-17 23:43] joecheuk commented on #109
@mirons-google Yes, this can be closed as we have ways to handle schema updates now.

[2018-10-17 23:43] #109 closed

[2018-10-18 00:09] joecheuk commented on #1995
We have defined upgrade testing in our documentation.
https://forsetisecurity.org/docs/latest/setup/upgrade.html

[2018-10-18 00:09] #1995 closed

[2018-10-18 00:30] jjawad-google commented on #635
Fixed in FS 2.0.

[2018-10-18 00:30] #635 closed

[2018-10-18 15:39] umairidris opened #2109 "Thread exception when collecting inventory or running scanner"
On our production forseti instance I see the following error at the end of inventory collection or scanner runs:

Exception in thread Thread-1 (most likely raised during interpreter shutdown):
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
  File "/usr/lib/python2.7/threading.py", line 754, in run
  File "/usr/local/lib/python2.7/dist-pa

[2018-10-18 15:45] joecheuk opened #2110 "Add KMS inventory"
https://cloud.google.com/kms/

https://cloud.google.com/kms/docs/reference/rest/

[2018-10-18 15:45] joecheuk opened #2111 "Add KMS scanner"
Scan for things like KMS location.

[2018-10-18 15:51] blueandgold commented on #1775
@Red-Five and everyone
This has actually been supported since v2.4.0.
https://github.com/GoogleCloudPlatform/forseti-security/releases/tag/v2.4.0

Our documentations are here.
https://forsetisecurity.org/docs/latest/configure/general/non-org-root.html

So, I'm going to go ahead and close this issue.  But please feel free to follow-up with any questions.

[2018-10-18 15:51] #1775 closed

[2018-10-19 17:32] mirons-google opened #2117 "The document version selector on the pydoc page is broken"
Choosing any version other than 2.0 produces a 404.

[2018-10-19 17:34] mirons-google opened #2118 "Update website library's"
There's newer versions of [boostrap](https://fezvrasta.github.io/bootstrap-material-design/), including jekyll, and sphinx (pydoc), etc.

[2018-10-19 17:34] joecheuk opened #2119 "Fix the commit history between forsetisecurity.org-dev & forsetisecurity.org"
The commit history diverged somehow between 2 branches and is creating some CLA problems every time we merge from forsetisecurity.org-dev to forsetisecurity.org.

[2018-10-19 17:35] mirons-google commented on #2119
I would just add that we also need to ensure there are no CLA issues every time either.

[2018-10-19 17:37] joecheuk opened #2120 "Fix forsetisecurity.org drop down for /develop/reference/py-mod"
Change the drop down redirect to
/develop/reference/py-modindex.html
instead of
/develop/reference/py-mod

e.g. https://forsetisecurity.org/docs/v2.5/develop/reference/py-mod will give 404 and https://forsetisecurity.org/docs/v2.5/develop/reference/py-modindex.html works fine.

[2018-10-19 17:39] joecheuk commented on #2119
Description updated with CLA.

[2018-10-19 17:42] joecheuk commented on #2120
Duplicated #2117

[2018-10-19 19:15] ibenrodriguez opened #2121 "Request for inventory report to include external ip address count and IAM Member count"
- I'm using forseti 2.5

 is there a way for the inventory report to include things like external IP addresses and IAM Member count?

I will watch the code changes needed to complete this request and then as future changes are requested we can add them ourself.

If the process to do this is already documented please point me to that so we can include it in the user guide.

Thanks!

[2018-10-19 22:18] ibenrodriguez opened #2123 "better instructions for how to change forseti email notification schedule"
using forseti version 2.5

By default when you install forseti the notifier is set via cron job on server vm under ubuntu user to run every 2 hours. If you want to change this to, say, once a day, it is needed to change the crontab for the ubuntu user.  I was told to try a redeploy after changing a yaml file as shown in the [FAQ](https://forsetisecurity.org/docs/latest/faq/index.html#how-often-doe

[2018-10-19 23:54] ibenrodriguez opened #2124 "add scanners and inventory report for dns information"
- using forseti version 2.5

I can run the following gcloud cli commands to see DNS details - can these be collected and reported on by forseti?

The inventory report should include:
- count of managed zones
- count of zones with "state" = on <-- this indicates DNSSEC is enabled
- count of zones with "state" = off <-- this indicates DNSSEC is NOT enabled

$ gcloud dns managed-zones list
NAME  DNS_

[2018-10-22 07:56] cclauss opened #2125 "Python 3 compatibility issues"
[flake8](http://flake8.pycqa.org) testing of https://github.com/GoogleCloudPlatform/forseti-security on Python 3.7.1

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]

[2018-10-22 16:54] umairidris commented on #2125
#1437

[2018-10-22 17:08] jjawad-google commented on #2124
Per our discussion last week, you guys would contributing here. We have assigned Hannah from the Forseti team to guide you.

[2018-10-22 17:13] jjawad-google commented on #2123
Are you willing to contribute here? We can help you get started.

[2018-10-22 17:15] jjawad-google commented on #2121
Are you willing to contribute a notifier to do this? If so we can help you get started.

[2018-10-22 17:17] jjawad-google commented on #2119
joecheuk to investigate.

[2018-10-22 17:20] jjawad-google commented on #2118
Angel to investigate.

[2018-10-22 17:28] jjawad-google commented on #2125
@hshin-g currently investigating python3 migration.

[2018-10-22 17:29] jjawad-google commented on #2111
This depends on the inventory scanner, we will investigate UC's we need to scan for.

[2018-10-22 17:45] ahoying commented on #2109
umairidris@: Can you verify that your version of grpc is update to date? How did you deploy forseti? Are there additional logs related to the error you are seeing?

This error is from deep in the grpc code, https://github.com/grpc/grpc/blob/master/src/python/grpcio/grpc/_channel.py#L174, it's hard to tie back to a specific problem in Forseti without additional details.

[2018-10-22 17:47] ahoying commented on #2124
Note that this data is included in the 2.5+ inventory when CAI is enabled. It is not pulled into the Inventory when CAI is not enabled for an organization.

[2018-10-22 17:56] ahoying commented on #2109
More details, it looks like the _cython extension did not build for your instance. Are you using the default startup script that is set by the deployment wizard?

[2018-10-22 18:05] umairidris commented on #2109
cc @dufton who setup our forseti instance: can you provide the info?

[2018-10-22 20:37] dufton commented on #2109
We deployed the instance using the setup script, I believe back in April. The startup script in the server VM is up to date with the latest dev version though.

[2018-10-22 20:51] umairidris opened #2128 "Location scanner cannot express specific locations for resources"
e.g. I want bucket 'foo' to be in 'us'.

Currently the location scanner applies to all buckets in a project, folder or organization. We want it to apply to specific resource ids as well.

Proposal: change applies_to from just a list of strings to a list of resources.

e.g. the rule above would be expressed as:

[code]

resource_ids can be * as well.

[2018-10-22 21:09] jjawad-google commented on #2070
@red2k18 was this issue observed during the v2.6.0 release?

[2018-10-22 21:10] jjawad-google commented on #2052
@red2k18 could you link the PR for this issue + close?

[2018-10-22 22:19] jjawad-google commented on #1868
Customer has cleaned up their environment and is no longer observing the issue.

[2018-10-22 22:19] #1868 closed

[2018-10-22 22:31] ahoying commented on #2109
Please try this on the VM:

sudo su -
cd /home/ubuntu/forseti-security
pip install -U pip==9.0.3
pip install -U --upgrade-strategy eager --force-reinstall -r requirements.txt
reboot

I'm hopeful that fixes the weird grpc install issue.

[2018-10-22 22:40] jjawad-google commented on #1441
This task needs to be part of the integration testing framework.

[2018-10-23 15:50] blueandgold opened #2131 "Update Website Documentation to Show New Resources for Inventory"
In PR #2081, extra resources from CAI have been added into Forseti.  The Resource Coverage FAQ should be updated to reflect this.

https://forsetisecurity.org/docs/latest/faq/

[2018-10-24 17:13] blueandgold commented on #2070
I did a new install and this is not happening anymore.

[2018-10-24 17:13] #2070 closed

[2018-10-24 21:13] hshin-g opened #2135 "Fix Flake8 styling issues in dev causing Travis build to fail"
Travis build is failing due to the many styling issues caught by Flake8.

Will go through and fix each of the issues to remedy the problem.

@joecheuk @blueandgold

[2018-10-24 21:41] hshin-g commented on #2135
Majority of issues are `W504` Line break after binary operator.
Once you change so that the line break is before the binary operator, get `W503` Line break before binary operator.

Need to change the config file or settings so that it is aligned on only one.

[2018-10-25 13:45] kevensen commented on #2135
FWIW, I'm seeing this too.

[2018-10-26 19:30] red2k18 commented on #2052
@jjawad-google This issue is closed in PR #2054

[2018-10-26 19:31] #2052 closed

[2018-10-26 23:05] angelsungoogle commented on #1227
Added FAQ in #2134 to give pointers on how to run Forseti without external IP using cloud NAT.

[2018-10-26 23:05] #1227 closed

[2018-10-27 15:34] jamirais8 opened #2145 "jamirais8"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-10-29 15:23] jjawad-google commented on #2145
Could you provide us with more information?

[2018-10-29 16:18] hshin-g commented on #2135
PR created and merged into dev to address issue.

[2018-10-29 16:18] #2135 closed

[2018-10-29 16:34] hshin-g commented on #2094
PR created and merged into dev to address issue.

[2018-10-29 16:34] #2094 closed

[2018-10-29 17:15] #2097 closed

[2018-10-29 17:29] joecheuk opened #2147 "Htmlproofer failed when checking external websites"
If we reference external websites, some of them will fail the html proofer check even though the website can be accessed.

e.g.
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-5390

[2018-10-30 21:43] jjawad-google commented on #2085
Updated posted to : https://www.forsetisecurity.org/news/

[2018-10-30 21:43] #2085 closed

[2018-10-30 21:56] #2145 closed

[2018-10-31 10:19] trawa05 opened #2158 "Forseti ver 2.6.0 installation error for not an Org Admin"
- Forseti ver 2.6.0
 - installation script
 - ERROR: (gcloud.alpha.resource-manager.folders.describe) User [xxx] does not have permission to access folder [yyy] (or it may not exist): The caller does not have permission
 - installation using cloud shell by installer for both client and server

Hey, i am new here and this is my first Forseti installation. I checked all the issues ad found similar p

[2018-10-31 15:17] blueandgold commented on #1832
I have verified this is work; VM with the fix has been running like a champ for over 5 days.

[2018-10-31 18:49] #1832 closed

[2018-11-01 00:13] Red-Five opened #2162 "GKE Kubernetes Deployment PoC Notes"
Request. Create an FAQ that describes use of Google Cloud Build to build docker image and deploy it in a Container Optimized Image (also GKE when ready for that)

The formalized documentation to be published on forsetisecurity.org is on PR #2582 .

[2018-11-01 01:11] jamirais8 opened #2163 "jamirais8"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-11-01 01:15] blueandgold opened #2164 "Extra Messages when Using the CLI"
Testing 2.7.0 pre-release.  When running the CLI on both server and client VMs, there are lots of extra messages.

![image](https://user-images.githubusercontent.com/6977544/47827067-dd916300-dd38-11e8-98b8-b62822c3bc10.png)

[2018-11-01 01:44] blueandgold opened #2165 "Unusual Amount of Warnings in Data Model"
During 2.7.0 release testing.  This is a snippet, there are a lot more.
[code]

[2018-11-01 15:05] ocervell commented on #2164
@blueandgold We should be able to disable OpenCensus logger here, to not show extraneous messages we don't need.

The 'lag' you're observing corresponds to sending traces to the tracing service after a gRPC call (Inventory.list in this case). It shouldn't much more than ~200/300ms, corresponding to Stackdriver Trace API latency.

Note that the emission of traces doesn't happen in the main thread b

[2018-11-01 15:14] ocervell commented on #2164
To reduce the CLI lag, we can also:

- **disable client-side tracing**, which would eliminate the client-side lag, but we would lose client --> server latency tracing

- **lower the sampling rate**, so that only a percentage of all gRPC calls are traced (currently 100%). This would lower the number of traces to be sent, but make it more difficult to trace one particular gRPC call since it might no

[2018-11-01 15:56] #2128 closed

[2018-11-01 16:19] ahoying commented on #2165
Fixed with #2167

[2018-11-01 16:37] umairidris opened #2168 "Allow user to control Forseti resource naming during installation"
As part of our healthcare secure deployment efforts we would like to automate setting up a Forseti instance for our customers.

This involves creating a separate Forseti project, installing Forseti to it and creating the rules that Forseti will use.

However, today Forseti creates resources in a way that is not controllable by the caller.

We propose standardizing Forseti resource naming to the fo

[2018-11-01 16:42] #2168 closed

[2018-11-01 17:00] umairidris commented on #2168
Sorry, this will be a follow up if needed. We will first keep the existing Forseti naming for v0

[2018-11-01 17:07] jamirais8 opened #2169 "jamirais8"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-11-01 17:53] jamirais8 opened #2170 "jamirais8"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-11-01 20:59] ibenrodriguez commented on #2124
CAI is enabled by default so the inventory is already collected and including this information.  We only need here.  We will make a new issue for the inventory report and then there will be 2 pull requests - one for each issue.

Writing the new involves a few steps:

1. collect the inventory data in JSON format - done
1. import data from inventory to data model - updating "importer.py" to include

[2018-11-02 18:41] umairidris opened #2182 "Allow passing in project_id to Forseti installer"
Today the Forseti installer deduces the project to install the instance by calling gcloud info. We should be able to pass in a project_id flag similar to the gcloud binary to override this.

[2018-11-02 20:07] joecheuk opened #2183 "[v2.7.0] Log messages are displaying on the console by default"
e.g.
[code]

[2018-11-02 21:59] jjawad-google commented on #1522
@blueandgold is this covered in #1991?

[2018-11-02 22:00] jjawad-google commented on #1502
@blueandgold is this issue still an open?

[2018-11-02 22:05] jjawad-google commented on #1378
@ahoying could you take a look ?

[2018-11-02 22:19] jjawad-google commented on #12
@ahoying could you verify if this issue is still open?

[2018-11-02 23:03] jjawad-google commented on #2170
@jamirais8 please provide the information requested above.

[2018-11-02 23:04] jjawad-google commented on #2169
@jamirais8 please provide the information requested above.

[2018-11-02 23:04] jjawad-google commented on #2163
@jamirais8 please provide the information requested above.

[2018-11-02 23:16] jjawad-google commented on #2095
Closing due to insufficient information to triage. Please re-open issue and provide description of the problem observed.

[2018-11-02 23:16] #2095 closed

[2018-11-02 23:16] jjawad-google commented on #2093
Closing due to insufficient information to triage. Please re-open issue and provide description of the problem observed.

[2018-11-02 23:16] #2093 closed

[2018-11-03 00:44] blueandgold commented on #2183
Initial investigation: deployed a couple of GCP instances (at commit 7522fc80, inventory summary improvement, and at commit fc47d22f, 2.6.0 release) and both show this problem.  So, something in the GCP environment has changed, and this is not just affecting 2.7.0.

[2018-11-03 03:22] jamirais8 opened #2184 "jamirais8"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-11-03 04:03] ahoying commented on #12
Obsolete.

[2018-11-03 04:03] #12 closed

[2018-11-03 04:05] ahoying commented on #1378
Current directory permissions are fine given the server VM is not an interactive VM where multiple users are expected to log in. All users who log into the server VM are expected to be admins with root privileges.

[2018-11-03 04:05] #1378 closed

[2018-11-03 04:46] jamirais8 commented on #2169
jamirais8

[2018-11-03 05:01] #2184 closed

[2018-11-05 15:48] #2086 closed

[2018-11-05 16:19] blueandgold commented on #1395
Have followed up with the one user who asked for this, and there is no response. So, since 2.0 release has been out a while now, this doesn't seem to be needed.  But if anyone needs this, please feel free to re-open.

[2018-11-05 16:19] #1395 closed

[2018-11-05 17:49] ahoying opened #2188 "Add an optional flag for the inventory to only call Cloud Asset API."
Some customers may not want to crawl any other Cloud APIs for asset data, to reduce the time it takes to complete the inventory and ensure a consistent set of data is included in the inventory snapshot.

This is related to #1262.

[2018-11-05 18:11] jjawad-google commented on #2182
@umairidris would you be willing to contribute this capability?

[2018-11-05 18:12] #2164 closed

[2018-11-05 18:17] umairidris commented on #2182
Sure, it's pretty low priority so no rush on it

[2018-11-05 18:39] #2183 closed

[2018-11-05 19:27] umairidris opened #2189 "Wildcard behaviour is unconventional"
In Forseti rules the wildcard means "1 or more" whereas in Linux and other systems, it means "0 or more" [1]. This inconsistency causes surprising behaviour and can mislead customers. For example, today we are advertising blocking all europe locations by doing 'eu*' in the location rules, but this does not actually block "eu" itself!

Please consider changing the behaviour of * to be 0 or more.

[

[2018-11-05 19:50] umairidris commented on #2189
Weirdly enough just * alone matches 0 or more, but * with a prefix requires there to be at least 1 character after the prefix...

[code]

I also don't think we need the ? in the regex, it seems to be a no-op

[2018-11-05 21:54] hshin-g commented on #1187
From @joecheuk:

The above is an outdated description--

- Just need to edit the inventory summary email to include whether DwD access is enabled or not, with a link to the Forseti website to configure GSuite data if already enabled. Can check if GSuite data is enabled if `gsuite_group > 0` and `gsuite_user > 0` / if they exist in the Inventory Summary email.
- No need to do Step 2 above (execute

[2018-11-06 15:23] Red-Five opened #2190 "Container Registry Vulnerability Scan Issues"
After creating Forseti images via Cloud Build (v2.7.0 tag) the Container Registry Vulnerability Scanner report raises multiple security vulnerability issues on the images.

This could be a blocker for large corporations deploying Forseti as the deployment may not pass the build process acceptance criteria.

[2018-11-06 18:38] angelsungoogle commented on #2096
Please see PR #2160 for details of the revision, and let me know if you have any questions.

Angel

[2018-11-06 18:38] #2096 closed

[2018-11-06 18:38] angelsungoogle commented on #1634
Please see PR #2172 for details of the revision, and let me know if you have any questions.

Angel

[2018-11-06 18:38] #1634 closed

[2018-11-06 22:06] joecheuk opened #2193 "VM Initialization stopped due to ssh config asking for input, need a manual reset to get it running."
Here is the message:

[code]
What do you want to do about modified configuration file sshd_config?

[2018-11-06 23:33] joecheuk opened #2194 "Update systemctl unit for forseti.service"
https://github.com/GoogleCloudPlatform/forseti-security/blob/e0107ae8bcc60b4cbffe4a2c71cee7582e15f25f/install/gcp/scripts/initialize_forseti_services.sh#L58

"Wants" should be in [Unit] instead of [Install], maybe "Requires" makes more sense here since forseti service cannot start without cloudsql proxy.

[2018-11-07 01:32] joecheuk commented on #2193
Command "sudo apt-get upgrade -y" will have the potential to prompt when a new configuration is available but the command doesn't appear to be necessary for the deployment.

[2018-11-07 01:41] joecheuk opened #2196 "Investigate if apt-get upgrade is not used, will it introduce security problems."
Relates to #2195

Need to verify the image provided by GCP is secure without apt-get upgrade.

[2018-11-07 02:35] #2193 closed

[2018-11-07 14:32] antoine-castex opened #2199 "Add CloudFunctions"
Adding Cloud functions in the inventory

[2018-11-07 18:56] knitterb commented on #2158
I'm running into the same issue on tags/v2.7.0 for a non-admin installation.

[2018-11-08 03:32] Red-Five opened #2227 "cloudbuild.yaml Fix File Paths"
Fix file paths in cloudbuild.yaml to match directory structure; change lines

  - '--file=**scripts**/docker/base'
  - '--file=**scripts**/docker/forseti'

to
  - '--file=**install**/docker/base'
  - '--file=**install**/docker/forseti'

[2018-11-08 03:38] Red-Five opened #2228 "cloudbuild.yaml Add a Unit Test Build Step"
Possibly add a unit test build step in cloudbuild.yaml
rough example:

- name: gcr.io/cloud-builders/docker
   args: ['run', 'gcr.io/$PROJECT_ID/forseti', '<_test command(s) to be determined_>' ]
   waitFor: ['forseti']
   id: unittest

[2018-11-08 16:15] ajayakumar1983 opened #2229 "Forseti Deployment without external IP"
We have deployed Forseti in production. We found out it is using external IP on the forseti vms. i assume we don't have automated deployment way available for forseti deployment without external ip. it would be help if we could get an easy way to transform into the internal ip forseti deployment to meet compliance. Thanks.

[2018-11-08 16:21] Red-Five commented on #2229
There is a new FAQ on manually doing it.

https://forsetisecurity.org/docs/latest/faq/index.html

[2018-11-08 17:20] Red-Five commented on #2228
This runs the unit tests in cloud build.

- name: 'gcr.io/cloud-builders/docker'
  args:
  - 'run'
  - 'gcr.io/$PROJECT_ID/forseti'
  - 'python'
  - '-m'
  - 'unittest'
  - 'discover'
  - '--verbose'
  - '-s'
  - '.'
  - '-p'
  - '*_test.py'
  waitFor: ['forseti']
  id: unittest

[2018-11-08 17:39] umairidris opened #2230 "Allow adding new scanners/features as beta"
Cloud Healthcare has been adding a lot of new features into Forseti, specifically new scanners. Sometimes after we add a scanner and begin using it, we discover new edge cases and requirements that weren't covered by the initial implementation. Making backwards incompatible changes can be useful at this time to have a more polished product for the long term. Today, as soon as a feature is added in

[2018-11-08 18:17] lmgcp opened #2232 "No forseti.service present after successfull deployment"
First, help us help you by providing the following information when opening an issue.

 - Version: 2.7.0
 - Modules: All since there is no forseti.service even after successfull deployment.
 - When running commands to reload or check the status on server VM
command: sudo systemctl restart forseti.service
Output: Failed to restart forseti.service: Unit forseti.service not found.

command: sudo syst

[2018-11-08 21:38] trawa05 commented on #2158
i've tried with 2.7.0, also i checked that i have owner rights for a folder where these project resides - still the same error.
Thing that bothers me is that error refers to project/folder ID that i dont recognize, is there a way to check more details based on ID?

[2018-11-08 21:56] knitterb commented on #2229
We have a scenario where the org policy specifically precludes external IPs.  Is there any chance that there is a way to install without external IPs, rather than removing them after installation?

[2018-11-09 09:47] lmgcp commented on #2232
Is there any update or troubleshooting steps?

[2018-11-09 10:04] antoine-castex opened #2234 "2-7-0 inventory generate too much logs"
Since migrate to 2-7-0 (from 2-5-0) under the server vm

when type forseti inventory list,  the result is a deeper and big log for each inventory

too much bigger to read ...

why ? can you hide like old version ?

400 when requesting https://www.googleapis.com/bigquery/v2/projects/904137503444/datasets?all=true&alt=json returned \"The project 904137503444 has not enabled BigQuery.\">\n{\n \"error

[2018-11-09 16:40] joecheuk commented on #2232
Hi @lmgcp ,

There was an issue with 2.7.0, we have patched the problem. Do you mind doing another fresh installation and see if that helps?

Thanks,
Joe

[2018-11-09 16:59] joecheuk commented on #2234
Hi @antoine-castex ,

We have updated v2.7.0 to suppress all these warning messages, can you try doing another deployment manager upgrade (from 2.7.0 to 2.7.0) and see if you still see those messages?

Thanks,
Joe

[2018-11-12 13:57] antoine-castex commented on #2234
Done !

Same problem .....

[2018-11-12 18:11] jjawad-google commented on #2232
#2193

[2018-11-12 18:17] jjawad-google commented on #2228
@angelsungoogle will work with you to get this feature started in Forseti.

[2018-11-12 18:29] jjawad-google commented on #2229
@ajayakumar1983 @knitterb would you be willing to contribute this feature back?

[2018-11-12 20:46] Red-Five commented on #2084
@jjawad-google Is their any update on this? (If not I hope to get some time to try soon.)

Im guessing steps are
1. Include Google SDK in Forseti image for GCS access.
2. Include Cloud SQL Proxy Side Car for Cloud SQL access
3. Ensure Forseti Service account accessible from Forseti container for GCS access
4. Ensure Forseti Service account accesible from sql side car for SQL access.

[2018-11-12 23:24] rllin-fathom opened #2239 "Blacklist scanner failure to grab IP list should raise a Violation and not just err out a Scan run."
If just one blacklist endpoint temporarily 504s or is down, https://github.com/GoogleCloudPlatform/forseti-security/blob/82130c33e3ff15a5154449e29f5483fb80a58fa9/google/cloud/forseti/scanner/audit/blacklist_rules_engine.py#L153
will bring down Forseti scans indefinitely.

This should result in a Violation so that it is reported alongside other Violations rather than all scans just being silent.  F

[2018-11-13 00:03] blueandgold commented on #2084
@Red-Five , @angelsungoogle is exploring our options for moving to kubernetes. She will reach out to you to possibly collaborate on this.

[2018-11-13 15:36] ahoying opened #2241 "Max name for Cloud Asset data is greater than 255 chars"
With the introduction of new resources into the Cloud Asset exported assets, the maximum name of a resource can now exceed 255 chars, which causes the insertion of the data into the temporary sql table to fail.

[2018-11-13 18:47] ajayakumar1983 opened #2246 "Notifier failing to send to gcs and emails"
We see the sendgrid api quota might be issue with email notification but it also don't sent notification to GCS bucket. is there a dependency with sendgrid api ?

Logs:

[forseti-security][2.7.0] google.cloud.forseti.services.notifier.service(_run_notifier): Traceback (most recent call last): File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.7.0-py2.7.egg/google/cloud/forseti/service

[2018-11-13 21:34] joecheuk commented on #2234
Hi @antoine-castex , did you reset the VM after the upgrade? I can't seem to reproduce the log problem on our end.

[2018-11-14 22:37] angelsungoogle commented on #2228
@Red-Five In our meeting this Friday, lets also touch base on this issue, along with #2227, #2237, #2162, and #2084 ;)

[2018-11-14 23:28] joecheuk opened #2251 "[v2.8.0] command forseti scanner run is not working"
[code]

[2018-11-15 02:07] #2251 closed

[2018-11-15 02:14] joecheuk commented on #1918
Updated stacktrace when running iap scanner

`google.cloud.forseti.scanner.scanner(run): Error running scanner: IapScanner Traceback (most recent call last): File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.8.0-py2.7.egg/google/cloud/forseti/scanner/scanner.py", line 113, in run scanner.run() File "/usr/local/lib/python2.7/dist-packages/forseti_security-2.8.0-py2.7.egg/google/cloud/

[2018-11-15 11:59] pradeepbhadani opened #2253 "forseti explainer flag --expand_resource do not accept "true""
https://forsetisecurity.org/docs/latest/use/cli/explain.html#list-member-access
Document suggest to use `true` as value for argument `--expand_resource` but it fails with following error

[code]

But, works without `true`

[code]

**Forseti Version**
forseti v2.8.0

[2018-11-15 16:26] averonesis commented on #2251
actually this didn't helped, I've the same error on 2.8.0 @joecheuk

[2018-11-15 16:50] joecheuk commented on #2251
Hi @averonesis , I have merged the updates to release-2.8.0 branch and will port it back to dev once I finished the release testing.

[2018-11-15 16:59] joecheuk opened #2256 "[v2.8.0] Group Scanner not working"
Inventory is being run at the same time, maybe that's why it's causing some sql connection problem?

[code]

[2018-11-15 17:19] joecheuk commented on #2256
fixed by increasing the pool_size when creating the engine.

[2018-11-15 17:19] #2256 closed

[2018-11-16 00:12] blueandgold opened #2265 "Document All the IAM Policies into Inventory Coverage"
There are IAM resources that are not documented in our resource coverage documentation, and should be added.

[2018-11-16 08:52] BrunoReboul opened #2267 "Update scanner online doc, log type, replace AUDIT_READ by ADMIN_READ"
On line document page [Defining Rules](https://forsetisecurity.org/docs/latest/configure/scanner/rules.html)
Section Cloud Audit Logging rules
Setting log_types
Valide value shows AUDIT_READ

Ask: replace AUDIT_READ by ADMIN_READ

The audit_logging_rules.yaml is OK
Reference doc: [Resource Manager Audit Logging Information](https://cloud.google.com/resource-manager/docs/audit-logging)
Thanks

[2018-11-16 09:53] antoine-castex commented on #2234
yes sur, reset multiple time ... problem is still here :(

[2018-11-16 18:43] knitterb commented on #2239
Can you explain by "bring down" means?  Does the Forseti server crash?  Do subsequent scans hang?  More details would really help both reproduce and debug this.

Which VM and VM logs are you referring to?  Is this on the Forseti server?

[2018-11-16 20:23] Red-Five commented on #788
Is there a target release for this?

I have a couple of large enterprises that want visibility into whats exposed on their buckets.

Use case: flag a private bucket containing a public object. Perhaps just flag the violation for the bucket rather than for each object if their is concern about it getting out of hand?

[2018-11-16 21:13] joecheuk opened #2268 "Add documentation to support Forseti to work with CloudSQL instance with password"

[2018-11-16 21:53] jgearheart opened #2269 "Forseti firewall_rule.yaml issues"
Hello - I'm new to forseti and having issues getting basic firewall rules to match. for example. I'm simply trying to send a notification if the following policy exists:

Firewall rule in GCP
{
  "allowed": [
    {
      "IPProtocol": "tcp",
      "ports": [
        "22"
      ]
    }
  ],
  "creationTimestamp": "2018-11-16T11:30:16.216-08:00",
  "description": "safdsf",
  "direction": "INGRESS",

[2018-11-17 15:46] lmgcp commented on #2232
This can be closed as i had to restart the server VM to fix it.

[2018-11-17 15:53] lmgcp opened #2270 "Notifier is not working properly for 2.7.0"
First, help us help you by providing the following information when opening an issue.

- 2.7.0
- notifier
-
1. Notifier is not working for global_config for sending email notifications. However if i specify notifier into individual notifier, i am receiving email.
2. Notifier is not working for sending inventory_summary for both gs bucket or via email. For Email, sender and recipient are mentioned

[2018-11-18 06:36] blueandgold commented on #1382
This issue has been re-raised by @MartenvanWezel as a product priority, that would be useful for multiple users.

[2018-11-19 06:03] pratikmallya opened #2271 "Is it safe to open 0.0.0.0/0 ingress for ssh?"
Looking at https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/install/gcp/installer/forseti_server_installer.py#L146-L157

Is it good practice, security wise, to open a vm to traffic from everywhere?

[2018-11-19 14:10] antoine-castex commented on #2234
upgraded tot 2-8-0 today, running an inventory and still have the problem

[2018-11-19 14:53] MartenvanWezel opened #2272 "Forseti rules (on server) owned by root"
The foreseti rules are in /home/ubuntu/forseti-security/rules - but are owned by root
Seems to make more sense to be owned by user ubuntu?

[2018-11-19 16:40] joecheuk commented on #2234
HI @antoine-castex ,

Can you try the following steps and see if that helps? This might be related to one of the package configuration file has been updated.

1. reset the server VM and wait for 2-3 mins
2. ssh to the server VM and run command "sudo dpkg --configure -a"
3. select any of the option, if you are not sure which one to select you can pick "2. keep the local version currently installed"

[2018-11-19 18:13] jjawad-google commented on #2271
We will look into the best practice here.

[2018-11-19 18:17] jjawad-google commented on #2270
@hshin-g will follow up with you on how you installed / configured Forseti.

[2018-11-19 18:19] jjawad-google commented on #2269
@hshin-g will follow up with you to help with configuration.

[2018-11-19 18:21] jjawad-google commented on #2268
@joecheuk to add to documentation.

[2018-11-19 18:23] jjawad-google commented on #2267
@joecheuk to investigate further.

[2018-11-19 20:30] hshin-g commented on #2269
@jgearheart Are you still experiencing issues with this?

[2018-11-20 05:11] lmgcp commented on #2270
Hi hshin-g Can you share the invite for Slack ?

[2018-11-20 08:02] antoine-castex commented on #2234
When trying, the point 2 is ok but didn"t ask me for anythin so i dont have the point 3

after the point 5 , problem still here ...

[2018-11-20 17:09] hshin-g commented on #2270
@lmgcp Here is the link - https://join.slack.com/t/forsetisecurity/shared_invite/enQtNDIyMzg4Nzg1NjcxLTJhYjI1YzY0MDg4YjRhMDhhZTMwZTg0MWExZjU1MTNiNWFmMmFlMWQ0MmI3OTE1MzczZTMwNTEzNDZiNDY3NTY

Look forward to seeing you there!

[2018-11-20 17:33] lmgcp commented on #2270
Thanks @hshin-g . Joined the channel. Handle is lmgcp

[2018-11-20 19:38] jjawad-google commented on #2199
@blueandgold to check with the CAI team when it will be available or we will add it by API.

[2018-11-20 19:54] jjawad-google commented on #2190
@angelsungoogle to follow up.

[2018-11-20 19:57] jjawad-google commented on #2189
We will keep this in mind as we continue to design scanner 2.0.

[2018-11-20 20:00] angelsungoogle commented on #2190
@Red-Five are you using the [https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/install/docker/cloudbuild.yaml](current docker image we have) ?
In addition, are you referring to this vulnerabilities section?
![image](https://user-images.githubusercontent.com/44174167/48799387-d74d3180-ecbb-11e8-94d1-9a95badc6b5f.png)

[2018-11-20 20:00] jjawad-google commented on #2110
Covered in : https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview. We plan to incorporate this in our next release.

[2018-11-20 21:13] hshin-g opened #2276 "Update IAM policy scanner with new resource types"
Update IAM policy scanner documentation to include buckets and billing account as available resource types. Resource types included should be:

- Billing Account
- Bucket
- Folder
- Organization
- Project

[2018-11-20 22:19] Red-Five commented on #2190
Hi Angel, yes and yes :)
Do you have scanning turned on? Vulnerabilities report should not be blank.
(There is a bug on the GUI that the button always says 'Disable Vulnerability Scanning' regardless if is on/off. Feedback already submitted on that.)

[2018-11-20 22:23] angelsungoogle commented on #2190
Well that’s a very good feedlback. Apparently i don’t have it on. I thought
I had it on when I saw the disable button 😂

On Tue, Nov 20, 2018 at 2:19 PM Red-Five <notifications@github.com> wrote:

[2018-11-20 23:10] #1187 closed

[2018-11-21 00:34] red2k18 commented on #2271
Admin proxy is a better way to manage and control ssh access to the VM and we will switch to admin proxy once it launches. Until then the firewall rule which allows external traffic on tcp:22 will stay.

Thanks for bringing this up!

[2018-11-21 00:34] #2271 closed

[2018-11-21 00:37] Red-Five opened #2278 "Feature Request: Forseti as SaaS/PaaS"
Please consider a road map to a multi-tenant Forseti on GKE and offer it as SaaS/PaaS.

This could be hosted as part of GCP or by a third party.

Offer an opinionated set of policies out of the box (e.g. CIS Benchmarks for GCP as a baseline)

Allow policy customization.

[2018-11-21 22:05] #1262 closed

[2018-11-21 23:33] jjawad-google opened #2282 "November 2018 forsetisecurity.org news posts"
Google Cloud Blog : ClearDATA -Serverless Forseti (Target Pub date 11/30)
Medium : GCP Architecture Visualization using Forseti (Target Pub date 11/27 or 11/28).

[2018-11-23 01:18] Red-Five commented on #2228
unit test step is here: https://github.com/GoogleCloudPlatform/forseti-security/pull/2283

[2018-11-23 01:18] Red-Five commented on #2227
Fix is here: https://github.com/GoogleCloudPlatform/forseti-security/pull/2283

[2018-11-23 01:41] Red-Five opened #2284 "base dockerfile Google Cloud SDK installation bug"
Current code
Install the CloudSDK for `gcloud`.
RUN curl -sSL https://sdk.cloud.google.com 1> /dev/null | bash

This redirects curl to/dev/null which discards all input. As a result Google Cloud SDK is not installed.

Proposed fix.
RUN curl -sSL https://sdk.cloud.google.com | bash
ENV PATH $PATH:/root/google-cloud-sdk/bin

[2018-11-23 02:25] Red-Five opened #2285 "Add a Forseti Server Docker ENTRYPOINT Script"
Add a script to start Forseti server in Docker and reference it in the Forseti dockerfile
Rough solution

Download config files
(This requires fix for https://github.com/GoogleCloudPlatform/forseti-security/issues/2284 )
gsutil cp ${BUCKET}/forseti_conf_server.yaml /forseti-security/configs/forseti_conf_server.yaml
gsutil cp -r ${BUCKET}/rules /forseti-security/

TODO Error handling for gsutil cp

[2018-11-23 02:39] Red-Five opened #2286 "Starting Forseti Server in Docker Causes Container to Resize, Delaying Startup"
This is a feature under development and does not require 'production' support.

Investigating. Any ideas welcome.

The re-size delays startup by a minute or so.

[2018-11-23 02:52] Red-Five commented on #2285
Before running above in Container Optimized VM (not GKE)

docker pull gcr.io/cloudsql-docker/gce-proxy:1.12

Start Cloud SQL Proxy
CLOUD_SQL_CONNECTION_NAME="<_project_>:<_region_>:<_cloud sql db_>"

sudo docker run -d -v /mnt/stateful_partition/cloudsql:/cloudsql \
-p 127.0.0.1:3306:3306 \
gcr.io/cloudsql-docker/gce-proxy:1.12 /cloud_sql_proxy \
-instances=${CLOUD_SQL_CONNECTION_NAME}=tcp:0.0.0.0

[2018-11-23 03:07] Red-Five opened #2287 "Google Cloud Build CI\CD"
Ref. https://cloud.google.com/cloud-build/

Modify cloudbuild.yaml to provide fully automated CI\CD triggered by git code change

-Deploy Forseti and cloud sql proxy images to a Container Optimized OS (cos)
(Once its working on cos, possibly move onto GKE)

-Set up bucket
-Setup Cloud SQL
etc

[2018-11-23 12:02] MartenvanWezel commented on #2013
This seems easily fixable (and btw it needs to be fixed in github).. I just ran into this again.

(also, there are tons and tons of __init__.py files in that path.. )

1/ Suggest to be clear what you mean by "your installation" - server, client or cloud shell
2/ Fix path and/or just say "cat /home/ubuntu/forseti-security/google/cloud/forseti/__init__.py"

[2018-11-23 12:28] MartenvanWezel opened #2288 ""MySQL server has gone away" (even though it has not)"
Forseti 2.8.0
Issue both for scanner and inventory so far..

See below for output. This has happened in a private install as well as with a customer.
We have tested:
- CloudSQL is still there, and is not unresponsive in the admin console  (it can list databases)
- Restarting CloudSQL instance does not fix it
- Restarting Forseti Server fixes it.
[code]

[2018-11-25 03:33] #2053 closed

[2018-11-25 08:18] BrunoReboul opened #2291 "[v2.8.0] forseti model list send an error when there is no model"
- version v2.8.0
- module = model
- error

forseti model list
Exception in thread Thread-1 (most likely raised during interpreter shutdown):
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
  File "/usr/lib/python2.7/threading.py", line 754, in run
  File "/usr/local/lib/python2.7/dist-packages/grpc/_channel.py", line 707, in channel_spin

[2018-11-25 22:13] angelsungoogle commented on #2239
@rllin-fathom could you provide a screenshot of the error when forseti is "bring down"? Looks like this could be solved by a straightforward try-catch, but I'd like to see the error to make sure.

[2018-11-26 12:26] antoine-castex opened #2292 "[2-8-0]-90% of ressources are missing in the inventory"
Since 2-8-0 inventory takes 5min (30min before)
got only 60 project ( 1250 before) and same for all ressources, violations .....

permissions seems ok, the service account is ok , i have add project viewer on organization level + org admin viewer to test = > same result ...

any idea ?

[2018-11-26 12:58] antoine-castex opened #2293 "[2-8-0]Error gce_instances"
since moving to 2-8-0

AttributeError: 'NoneType' object has no attribute 'find'
at urlsplit (/usr/lib/python2.7/urlparse.py:182)
at urlparse (/usr/lib/python2.7/urlparse.py:143)
at _from_url (/usr/local/lib/python2.7/dist-packages/forseti_security-2.8.0-py2.7.egg/google/cloud/forseti/common/gcp_type/key.py:104)
at from_url (/usr/local/lib/python2.7/dist-packages/forseti_security-2.8.0-py2.7.egg/g

[2018-11-26 14:35] antoine-castex commented on #2292
i only see error from CAI during the inventory on cloud logging , this is my problem ?

[forseti-security][2.8.0] google.cloud.forseti.services.inventory.storage(populate_cai_data): Error populating CAI data: (_mysql_exceptions.OperationalError) (2013, 'Lost connection to MySQL server during query') [SQL: u'INSERT INTO cai_temporary_store (name, parent_name, content_type, asset_type, asset_data) V

[2018-11-26 16:48] umairidris opened #2294 "Blacklist scanner crashes if no network interfaces found"
The _retrieve code in the rule generator is hitting this line:

[code]

I think just making this return [], 0 should work? Though I haven't dug through the rule generator code to see what would happen in this case.

[2018-11-26 18:02] jjawad-google commented on #2294
Might be related to : #1918

[2018-11-26 18:10] jjawad-google commented on #2292
We need to  root cause this error. hshin-g@ will follow up.  Might be cause of #2293.

[2018-11-26 18:12] jjawad-google commented on #2288
MartenvanWezel@ could you provide the stackdriver logs related to the error above?

[2018-11-26 18:18] jjawad-google commented on #2287
We will work on this once we have the COS FAQ complete.

[2018-11-26 18:21] hshin-g commented on #2291
@BrunoReboul Can you list the commands you ran before `forseti model list`?

Additionally, do you have a handle on our Forseti Security Slack? We can work through troubleshooting  this issue on our Slack here: https://join.slack.com/t/forsetisecurity/shared_invite/enQtNDIyMzg4Nzg1NjcxLTJhYjI1YzY0MDg4YjRhMDhhZTMwZTg0MWExZjU1MTNiNWFmMmFlMWQ0MmI3OTE1MzczZTMwNTEzNDZiNDY3NTY

[2018-11-26 18:22] jjawad-google commented on #2286
@angelsungoogle will follow up.

[2018-11-26 18:23] jjawad-google commented on #2285
angelsungoogle@ will follow up.

[2018-11-26 18:24] jjawad-google commented on #2284
@angelsungoogle to follow up.

[2018-11-26 18:39] MartenvanWezel commented on #2288
+Bruno Reboul <brunoreboul@google.com>

Hey Bruno, do you have these? I haven't seen this error on my local setup
yet...

On Mon, 26 Nov 2018 at 18:12, jjawad-google <notifications@github.com>
wrote:

[2018-11-26 19:30] Red-Five commented on #2284
Pull request for fix: https://github.com/GoogleCloudPlatform/forseti-security/pull/2296

[2018-11-26 19:31] #2188 closed

[2018-11-26 19:54] Red-Five commented on #2285
Initial draft: https://github.com/GoogleCloudPlatform/forseti-security/pull/2297

[2018-11-26 22:25] umairidris opened #2299 "Support installing only one instance of Forseti in a project"
Most of the time customers will only want to install a single instance of Forseti in a project. Installing multiple instances can be undesirable. It would be nice if the Forseti installer could have a flag that if set would fail if a previous installation already exists.

Implementation details:
Determining whether an installation exists or not is tricky. The installer cannot assume names of resou

[2018-11-26 23:07] Red-Five opened #2300 "Feature Request: Ignore Deleted Projects"
Issue: Scanning deleted projects may raise 'non existent' issues up to Cloud Security Command Center causing user confusion.

Completely ignoring deleted projects may also increase performance.

What was the original requirement for scanning deleted projects?
If its still needed, add a flag to control if deleted projects are scanned or not.

[2018-11-26 23:31] Red-Five commented on #1845
What capabilities will the planned python support for https://cloud.google.com/profiler/ offer?

Will opencensus drill into the grpc calls and give low level visibility or just give the high level times.
Will it need code changes to add spans at various levels for low level visibility?

Yappi is an interim approach that doesn't need any code changes and gives low level visibility.
Example
![forset

[2018-11-27 18:08] Red-Five opened #2303 "Add a .dockerignore File"
Ref. https://docs.docker.com/engine/reference/builder/#dockerignore-file

As we progress to running Forseti on Docker, we may wish to consider a .dockerignore file to exclude unnecessary files from the image.

[2018-11-27 19:10] #2292 closed

[2018-11-28 02:58] mitsuo0114 commented on #797
+1
Can I do something for this implementation?

[2018-11-28 07:52] #2293 closed

[2018-11-28 07:52] antoine-castex commented on #2293
restart VM after fix published by team ! successfully now

[2018-11-28 15:44] #2110 closed

[2018-11-28 17:23] joecheuk commented on #2232
Thanks for the updates! @lmgcp

[2018-11-28 17:23] #2232 closed

[2018-11-28 17:27] #1982 closed, assigned to joecheuk

[2018-11-28 19:23] ocervell commented on #1614
Still happening for me in latest `dev` branch. Commenting out the exception fixes the issue.

[2018-11-28 19:37] rvandegrift commented on #1614
I thought this was fixed a while back - @jceresini, are you aware of any existing issues with `root_resource_id` not being an organization?

My "sandbox" forseti installation is 2.8.0, and `root_resource_id` is pointed to a project.  Inventory, model, and scanner are all working fine.

[2018-11-28 20:21] joecheuk commented on #2267
Documentation updated, will be included in the next release.

[2018-11-28 20:21] #2267 closed

[2018-11-29 23:44] red2k18 commented on #1845
#2317 implements instrumentation on Forseti using OpenCensus.

[2018-11-29 23:52] blueandgold commented on #1845
@Red-Five, thanks for showing us yappi, it looks really interesting.

@red2k18 , can you please follow-up on @Red-Five's questions?

[code]

![image](https://user-images.githubusercontent.com/6977544/49259488-6cec6d80-f3ee-11e8-9ee9-2224f170af3d.png)

[2018-11-29 23:56] ahoying commented on #1845
Based on the image, it looks like yappi is only looking at one thread, can it be extended to see all the threads running in the process?

[2018-11-30 00:06] blueandgold commented on #1845
@ahoying Looks like yappi is recommended for multithreaded apps.
https://stackoverflow.com/questions/653419/how-can-i-profile-a-multithread-program-in-python

[2018-11-30 00:30] pratikmallya commented on #2271
What is admin proxy?

[2018-11-30 07:58] jjawad-google opened #2322 "December 2018 forsetisecurity.org news posts."
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-11-30 17:15] hshin-g opened #2325 "Update references to requireIamAclsOnly and disableObjectAcls to use bucketPolicyOnly instead."
Update references to requireIamAclsOnly and disableObjectAcls to use bucketPolicyOnly instead.

The Google Cloud Storage orgpolicy started as requireIamAclsOnly, but was renamed to disableObjectAcls, which was then renamed again to bucketPolicyOnly.

[2018-11-30 22:10] mirons-google opened #2329 "Speed up the jekyll build time for the website"
With [guides like this](https://cloudcannon.com/tips/2017/12/08/speed-up-your-jekyll-builds/) and plugins like `jekyll-include-cache` we should be able to dramatically improve the build time to generate the website.

The output of `bundle exec jekyll build --profile` is below and should be a guide for prioritizing the effort.

[*forsetisecurity.org-dev*](https://github.com/GoogleCloudPlatform/fors

[2018-11-30 22:28] umairidris opened #2330 "Several scanners don't respect resource ids"
This is the same bug as #1865. The scanner only checks the existence of resource ids, but does not properly match resources against them to see which rules are applicable. Thus every rule applies to every resource, regardless of it the resource matched or not.

Scanners:
- Bucket rules
- CloudSQL

[2018-11-30 22:44] angelsungoogle commented on #2239
handled in [another github issue](https://github.com/GoogleCloudPlatform/forseti-security/issues/2294)

[2018-11-30 23:51] mirons-google commented on #2329
- [x] Speed up jekyll build by excluding more.
- [x] Speed up jekyll build by leveraging jekyll-include-cache plugin where possible.
- [ ] Audit liquid logic in includes and layouts for poor or extraneous loops.

[2018-11-30 23:53] mirons-google commented on #2329
In #2331 the build time is now

[code]

[2018-11-30 23:59] mirons-google commented on #2329
un-assigning myself as I won't be working on the last task.

[2018-12-01 05:15] #2294 closed

[2018-12-01 06:19] #1918 closed

[2018-12-03 19:00] angelsungoogle commented on #2285
#2335

[2018-12-03 19:01] angelsungoogle commented on #2284
proposed change: #2335

[2018-12-03 19:01] angelsungoogle commented on #2228
proposed change: #2335

[2018-12-03 19:01] angelsungoogle commented on #2227
proposed change: #2335

[2018-12-04 23:33] angelsungoogle opened #2341 "Adding a new command: forseti scanner list"
As we are adding the `--scanner_index_id` parameter to the notifier, it might be handy to have a command to get all the scanners available and their ids. Right now you need to look up the scanner you want from the database if you are manually running `forseti notifier run --scanner_index_id`

[2018-12-05 00:29] ahoying opened #2343 "Update IAM Explain to expand project(Viewer|Editor|Owner) iam bindings to the correct members."
Current IAM explain does not expand out the special IAM member types used by the legacy GCS bucket and bigquery policies to the real set of members represented by those bindings.

For example: projectEditor:test-project should expand out to all the members who have the roles/editor role on the test-project project IAM binding. The same for projectViewer and projectOwner bindings, for their respect

[2018-12-05 01:30] Red-Five commented on #2084
Draft for initial proof of concept. Runs Forseti Server on cos and k8s. (cronjob pending).

https://github.com/GoogleCloudPlatform/forseti-security/pull/2344

[2018-12-05 01:35] Red-Five commented on #2303
https://github.com/GoogleCloudPlatform/forseti-security/pull/2344

[2018-12-05 01:50] Red-Five commented on #108
Would creating an FAQ be first step?

If automating this, Terraform setup of Stackdriver is being developed though its in its early days
https://github.com/terraform-providers/terraform-provider-google/issues/1044

Automatically creating alert policy via terraform is possible https://www.terraform.io/docs/providers/google/r/monitoring_alert_policy.html

[2018-12-05 09:37] BrunoReboul opened #2348 "Missing firewall scanner online documentation"
On line documentation just covers briefly the default firewall rule
https://forsetisecurity.org/docs/latest/configure/scanner/rules.html#location-rules

The configuration section for the firewall scanner is missing here (latest)
https://forsetisecurity.org/docs/latest/configure/scanner/rules.html

As the firewall is the only topic for which we currently have also an inforcer, it will be great to d

[2018-12-05 11:34] BrunoReboul opened #2350 "location scanner eu*"
v2.8.0

### Current document indicates:
"Due to differences in region (europe-west1) vs multi regional (EU) naming, we recommend writing rules that can cover both (e.g. eu* instead of europe*)"
https://forsetisecurity.org/docs/latest/configure/scanner/rules.html#location-rules
https://github.com/GoogleCloudPlatform/forseti-security/blob/v2.8.0/rules/location_rules.yaml

### Issue
When testing with

[2018-12-05 17:50] rllin-fathom commented on #2239
@angelsungoogle @knitterb sorry for the slow response.  The exception that is raised is a standard urllib2 502 exception.  This causes the entire forseti run script to stop.

Could this issue be reopened?  The "fix" just simply skips the violating rule and does not bubble it up to the level of a Forseti Violation.

This means blacklist rules can be silently failing without opportunity for triage.

[2018-12-05 17:52] rllin-fathom commented on #2239
also i don't believe that other github issue is related?  i may be reading it wrong though.  this is in the scanner of the blacklist engine and not related to network interfaces

[2018-12-05 18:02] angelsungoogle commented on #2239
@rllin-fathom let us take a look again and get back to you

[2018-12-05 18:02] angelsungoogle commented on #2239
hey @blueandgold could you please take a look?

[2018-12-05 18:18] umairidris commented on #2350
A workaround was coded in #2203 and which will be going into the next release.

[2018-12-05 18:22] umairidris commented on #2189
@jjawad-google do you think it's worth fixing the behaviour for all scanners sooner? The code change is trivial. I wonder how many people are misinterpreting what the wildcard does and misusing it. There is no documentation on this behaviour outside of looking at the code.

I coded a workaround specifically for the location scanner as being able to do us* is very important for the locations (match

[2018-12-05 18:23] umairidris commented on #2350
Note this was due to #2189.

[2018-12-05 18:48] jjawad-google commented on #2343
We will prioritize this as part of our planning efforts.

[2018-12-05 18:53] jjawad-google commented on #2303
@angelsungoogle will follow up here.

[2018-12-05 18:57] jjawad-google commented on #2300
@hshin-g will follow up here.

[2018-12-05 18:59] jjawad-google commented on #2288
Please let us know if this is working as we have submitted a couple of patches around CAI, if not please reopen.

[2018-12-05 19:06] jjawad-google commented on #2330
@umairidris would you prefer we remove the spurious fields or ensure the existing fields are used by the scanner correctly. If the latter, would you be willing to contribute.

[2018-12-05 21:20] Red-Five commented on #2300
Possibly change the label to module: inventory ?
If we skip building inventory of deleted projects then scanner would not need to change.

[2018-12-05 22:10] Red-Five opened #2353 "Update CSCC Integration Documentation"
Ref. https://forsetisecurity.org/docs/v2.5/configure/notifier/index.html#cloud-scc-notification

States
![image](https://user-images.githubusercontent.com/25078066/49547247-2ac0a180-f8b0-11e8-8327-9cbe11ae5ab2.png)

This is misleading. The Forseti service account can used.

At the Organization level, go to IAM & Admin -> IAM and add the security center editor role to
the Forseti service account.

[2018-12-06 06:21] jjawad-google opened #2360 "Implement customer-side alerting , centralized alerts analogous to mobile apps, and opt-in support log bundle functionality."

[2018-12-06 06:22] jjawad-google opened #2361 "Investigate feasibility of support log bundle implementation"

[2018-12-06 06:22] jjawad-google opened #2362 "Engage with customers identified as part of the BI investigation through the appropriate channels."

[2018-12-06 07:02] sparthe123 opened #2363 "Issue with connecting cloud SQL after password change"
I tried change the cloud SQL password, now forseti tool have issue to connect to cloudsql. Can someone help me to find the config file to update the new password.

Getting below error
Access denied for user 'root'@'cloudsqlproxy' (using password: NO)

Finally, be sure to see the [FAQ](https://forsetisecurity.org/docs/latest/faq/) and [Get Help](https://forsetisecurity.org/docs/latest/develop/get-h

[2018-12-06 07:21] #2361 closed

[2018-12-06 07:28] jjawad-google opened #2364 "Draft Privacy Design Doc"

[2018-12-06 14:31] smaria-google opened #2365 "Support resource labels for writing the rules"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2018-12-06 16:39] joecheuk commented on #2363
Hi @sparthe123 ,

We have added the instructions on how to connect forseti to cloud sql users with password and will be part of the faq on the forseti website in the next release. In the mean time, can you try out the instructions listed here and see if that works?

https://github.com/GoogleCloudPlatform/forseti-security/blob/51d6f329e16e9b27c68c56bac14a6d664a01106f/_faq/using_forseti/configure_db

[2018-12-06 16:58] rgmenon opened #2366 "Forseti service account role for Bigquery is not least privilege"
First, help us help you by providing the following information when opening an issue.

 - [x] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
2.7.0

 - [x ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
Installer

 - [ ] Include errors, log output, and host operating system, including installed

[2018-12-06 17:12] ahoying commented on #2366
Looks like this role was added a few months ago. It is a much better fit for Forseti's needs. Thank you for pointing out the change.

[2018-12-06 20:09] joecheuk opened #2367 "[v2.9.0] KeVersion Scanner error"
[code]

[2018-12-06 20:10] joecheuk opened #2368 "[v2.9.0] Location Scanner error"
[code]

[2018-12-07 06:29] BrunoReboul opened #2371 "FR - Location scanner - rules should be assessed at the first applicable point in the ancestory tree that has rules"
Feature Request.

Scanner: location
Request:
Improve the location scanner to work like the firewall scanner, in the way it enables to combine multiple scanner rules following GCP hierarchy: Organization / Folders / Projects, like described [here](https://github.com/GoogleCloudPlatform/forseti-security/blob/v2.8.0/google/cloud/forseti/scanner/audit/firewall_rules_engine.py#L122)

User story:
As a s

[2018-12-07 09:32] BrunoReboul opened #2372 "FR - Lien scanner - enable * wildcard in project ids"
Feature Request

Scanner: lien
Request:
- enable usage of * wild card in resource_ids list

User story:
As an operation manager, I want to control that all the production projects in my organization are protected from deletion by a lien using the naming convention of project when all production projects are not below one folder in the GCP hierarchy.

Example:
- naming convention:  production proje

[2018-12-07 11:52] BrunoReboul opened #2373 "FR - enabled APis scanner - rules should be assessed at the first applicable point in the ancestory tree that has rules"
Feature Request.

Scanner: enabled APIs
Request:
Improve the Enabled APIs scanner to work like the firewall scanner, in the way it enables to combine multiple scanner rules following GCP hierarchy: Organization / Folders / Projects, like described here

User story:
As a security manager I want to control which APIS are enable by project, combining One whitelist rule with default APIs at organizati

[2018-12-07 12:52] sparthe123 commented on #2363
Thanks , this helped

[2018-12-07 16:37] joecheuk commented on #2363
No problem - I will go ahead and close this issue for now, feel free to re-open if you have any more questions!

[2018-12-07 16:37] #2363 closed

[2018-12-07 23:50] red2k18 commented on #2246
@ajayakumar1983 There is no dependency with sendgrid api. Email notification will be sent when you provide the email configuration and you'll see violations in GCS bucket when you provide gcs_path and other details. Either way you need to set the 'should_notify' field to 'true'. Please ensure the gcs_path you provided is correct. Let me know if the issue persists.

[2018-12-07 23:55] #2246 closed

[2018-12-08 23:04] joecheuk commented on #2368
The bigquery dataset data provided by CAI doesn't include field "location", workaround is to disable using bigquery dataset data from CAI for now.

[2018-12-10 02:40] #2322 closed

[2018-12-10 02:41] #2282 closed

[2018-12-10 18:11] jjawad-google commented on #2372
Hi @umairidris could you take a look?

[2018-12-10 18:18] jjawad-google commented on #2365
Hi smaria-google@ could you provide us with more information?

[2018-12-10 18:20] jjawad-google commented on #2364
jjawad-google@ to add more information.

[2018-12-10 20:16] cpotu opened #2378 "Forseti explainer access_by_resource is giving errors, but everything else is working. And Forseti is unable to list all the service accounts exist in a project."
- Forseti Version: 2.80.
 - Having trouble with explainer module. forseti explainer access_by_resource is giving errors. I have recently installed Forseti.  Only access_by_resource is not working for me.
- And there I couldn't find a way to list all the service accounts in a project. It is listing only the service accounts that are attached to a role. For example, I have a service account attached

[2018-12-10 20:31] ahoying commented on #2378
The issue is likely with the version of SQLAlchemy that got installed on your VM. Version 1.3.0+ will not work with the existing joins, so it needs to be a version less than that. In 2.9 (not yet released) the setup.py configuration was patched to ensure the new version wasn't installed:

https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/setup.py#L65

This change can be back ported

[2018-12-10 21:05] cpotu commented on #2378
Hi ahoying,

That process worked for me. Thank you for your help. Now,  access_by_resource commands working fine. Thank you.

Is there any way to list the Service Account as I mentioned on the issue? I've been trying different methods but I couldn't able to get that.

I've created a service account and attached it as a subscription viewer for a Subscription on a Pub/Sub Topic. This Service Account

[2018-12-10 21:06] umairidris commented on #2372
@BrunoReboul most scanners don't support wildcard with text in resource ids. It's either '*' or a non regex string.

It doesn't seem like that would be sufficient for your use case, but I wanted to confirm.

[2018-12-10 21:17] ahoying commented on #2378
I don't think explainer has that capability. You can look at the data in the SQL database tables. Assigning to red2k18 who can help further.

[2018-12-10 21:21] umairidris commented on #2372
Wildcard only resource id support is added in #2380.

[2018-12-10 21:50] #2189 closed

[2018-12-10 21:50] #2350 closed

[2018-12-11 04:51] cpotu commented on #2378
Hi @red2k18 , I have run that command. It is able to list the service accounts, but the issue still exists. It isn't showing the required service account. As I mentioned in the question, this service account attached to a subscription viewer for a Subscription on a Pub/Sub Topic. It doesn't have any permissions on the topic or any other service except for that particular subscription.

[2018-12-11 09:00] BrunoReboul opened #2381 "FR - Cloud SQL scanner - Detect any public connectivity"
Feature request

Scanner: cloud SQL

Current status: "authorized_networks" field requires a valid CIDR string
Desired status: enable '*' to detect any public IP connectivity
Alternative: instead of looking for authorized networks, just look for cloud sql instances with public ip enabled (e.g. gcloud sql instances describe)

[2018-12-11 10:38] #2381 closed

[2018-12-11 10:42] BrunoReboul commented on #2381
Already works as expected: '*' is not documented, but is accepted.
With '*' in the "authorized_networks" any authorized CIDR block is reported as a violation :-)

[2018-12-11 16:09] umairidris commented on #2371
@BrunoReboul maybe I am misunderstanding the bug, but you're asking for a rule on the ancestor of a resource to apply to the resource correct? e.g. if bucket is in a project in an organization then rules set on the project or organization apply to the bucket.

If so, it is already the case: https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/google/cloud/forseti/scanner/audit/location

[2018-12-11 21:37] Red-Five commented on #2353
This issue can be closed. I was able to integrate CSCC with Forseti using the new documentation.

[2018-12-11 21:58] angelsungoogle commented on #2366
@osandoval011 volunteered to take this as his first issue

[2018-12-11 22:22] red2k18 commented on #2378
Thanks @cpotu, I will look into this and get back to you.

[2018-12-13 03:56] hshin-g opened #2392 "Add project_id to Big Query Resources"
Asset name change for bigquery resources- the project number in the name will be switched to project id: https://groups.google.com/a/google.com/forum/#!topic/cai-announcement/KTsupo3Z2Ik

Need to add in project_id in addition to the already existing project_number to accommodate.

[2018-12-14 01:52] rvandegrift opened #2411 "forseti server v2.8.0 leaks tmp files, eventually fills disk"
Something in forseti server creates & deletes temp files without closing them:
[code]
Since some of the files are ~200MiB, this fills the root filesystem in a few days.  Immediate fix is to restart forseti-server.

[2018-12-14 16:00] angelsungoogle commented on #2303
#2335

[2018-12-14 20:22] knitterb opened #2415 "Forseti server service account doesn't have storage.objects.list permissions"
Version: v2.9.0
Module: Installer
Installation Method: `$ python install/gcp_installer.py`

When installing Forseti through Cloud Shell, the Forseti server doesn't start up properly due to a missing permission on the server service account (see logs below).  This appears to be a race condition where the permissions are not set in time for the server's local installation to complete.

This issue is

[2018-12-17 16:53] knitterb commented on #2415
The workaround for this is to add the following roles immediately following the creation of the `forseti-server-<random>` service account:

- storage.objectViewer
- storage.objectCreator
- cloudsql.client
- logging.logWriter

This must be done prior to the Forseti server instance completing the installation.

[2018-12-17 18:09] jjawad-google commented on #2392
@hshin-g to link PR / close.

[2018-12-17 18:11] hshin-g commented on #2392
Merged in to release v2.9.0: #2393

[2018-12-17 18:11] #2392 closed

[2018-12-17 18:41] ahoying commented on #2411
This fix will be back ported to 2.8 and 2.9 and once that is done, a reboot of effected systems will pick up the patch and no longer have this issue. Thank you @rvandegrift for tracking down the issue and including the output from lsof!

[2018-12-17 23:47] zachberger opened #2421 "Verify Installation Is Really Completed (was 2.9.0 Installation failure)"
I was doing a fresh installation of Forseti 2.9.0 in an organization where I am org admin. After the installation completed, when I went to run `forseti inventory create` I get the following.

[code]

I validated the client configuration file and it contains the following:

[code]

which is the server's IP address:

![vms](https://user-images.githubusercontent.com/1634878/50119068-6fc8ca00-0206-11

[2018-12-18 00:19] angelsungoogle commented on #2084
Please refer to the [docker-poc](https://github.com/GoogleCloudPlatform/forseti-security/tree/docker-poc) branch for experimental code, and feel free to contribute

[2018-12-18 02:15] blueandgold commented on #2421
Hi Zach, the server still requires a period of initialization after the installation finishes.  We used to check by ssh into the server and check the `/tmp/deployment.log`, but the ssh has stopped working recently.  So, we should work on issue #1112 to final an alternate way to verify that the server is up and running, before calling the installation complete.

[2018-12-18 02:16] zachberger commented on #2421
Thanks @blueandgold, however this persisted for hours

[2018-12-18 21:42] knitterb commented on #2270
I'm seeing this same issue on v2.9.0.  Please let me know what other debugging information is required.

[2018-12-19 00:45] mirons-google opened #2426 "Forseti Website left sidebar is not changing"
Using the current build of the website no matter what part of the docs section of the website the left side bar menu is always the one from concepts.

[2018-12-19 17:25] ahoying opened #2428 "Order of operations for firewall enforcer causes issues when there are a large number of VPC networks"
When a project has a large number of VPC networks, it takes time for all networks to have the correct policy. Enforcer should group changes by network, not by operation.

Currently it appears to work approximately like this:

  foreach network:
    firewall deletes for network
  foreach network:
    firewall adds for network

When instead it should probably:

  foreach network:
    firewall delete

[2018-12-19 20:13] joecheuk opened #2431 "VM should automatically pick up the latest patch of the current version"
We should utilize the patch release (e.g. 2.2.x) where x is the latest patch of the release.

Patch will include only bug fixes and not new features, therefore we should have a way to pick up the latest patch.

e.g. if user is on version 2.2.0, and we release a patch 2.2.1 to fix one of the bug, we should

1. pick up the latest patch by resetting the VM.
2. have something checks for the latest pat

[2018-12-20 16:55] quidome opened #2433 "[v2.9.0] IAM scanner support for bigquery datasets"
First, help us help you by providing the following information when opening an issue.

 - Forseti from tag v2.9.0
 - scanner
 - no errors, just functional request

We've noticed that the gcp_inventory table in the forseti database contains information about IAM policies on bigquery datasets. We've tried to create rules for this resource type but they're ignored.
Looking at the code we've establish

[2018-12-20 17:39] mirons-google commented on #2426
Resolved in #2427

[2018-12-20 17:39] #2426 closed

[2018-12-20 19:36] umairidris opened #2434 "Verify resource existence"
Today, while we can create rules on resources there is no guarantee these rules will actually match anything. There is no link between the Forseti inventory and the scanner rules. This can lead to nasty bugs where one may assume rules will apply to resources, but the resources are never found/matched.

Proposal: add a resource scanner that can check for a resource tree or multiple sub-trees.

[2018-12-21 22:14] mirons-google opened #2441 "Website development setup fix"
The path to the requirements.txt is not correct here: https://forsetisecurity.org/docs/latest/develop/dev/setup.html#installing-build-dependencies

[2018-12-21 22:47] ahoying commented on #2411
Fixed and backported.

[2018-12-21 22:47] #2411 closed

[2018-12-21 22:48] ahoying commented on #2109
Closing as there has been no additional follow up.

[2018-12-21 22:48] #2109 closed

[2018-12-22 00:56] blueandgold opened #2443 "Findings Sent to Cloud SCC Should Use the Update Method."
Findings are currently sent to Cloud SCC using the [`CreateFinding` method](https://github.com/GoogleCloudPlatform/forseti-security/blob/075821ebe7ff8cb7fafa90b7b83cdf0bdd3843a3/google/cloud/forseti/common/gcp_api/securitycenter.py#L124-L148).

Cloud SCC team has suggested that we change to using the `UpdateFinding` method, which also will create findings if they don't exist. Using `update` also h

[2018-12-26 09:50] katze120 opened #2446 "Can we make Cloud Asset API timeout configurable?"
This is a feature request related to inventory module.

I was using version 2.8.0 & 2.9.0.

Currently timeout for Cloud Asset API is hardcoded as 3600 in google/cloud/forseti/services/inventory/base/cloudasset.py
Can we make this configurable, maybe in forseti_conf_server.yaml?

Use case:
I have an organization with almost 30k resources; and was getting "Timeout getting cloud asset data" error in

[2018-12-26 16:13] jjawad-google opened #2447 "Create FAQ to enable debug mode"
Document method to enable debug mode on the server to get more detailed logging from stack driver.

[2018-12-26 16:50] #2343 closed

[2018-12-26 21:38] hshin-g commented on #1437
@gpshead We are planning on migrating over to Py3 sometime in Q1 2019. We will keep you updated once our timeframe is finalized. @jjawad-google

[2018-12-26 22:09] jjawad-google commented on #2447
Add to FAQ : https://forsetisecurity.org/docs/v2.0/faq/  under "using forseti section." and link to debug section : https://forsetisecurity.org/docs/v2.0/use/cli/server.html#setting-the-server-log-level

[2018-12-26 22:47] nycnewman commented on #1524
This would be a very interesting feature to have

[2018-12-27 03:00] blueandgold commented on #2270
Hi @lmgcp, I fixed the problem of the inventory summary email (see PR #2450).  I examined knitterb's environment, and found that because he deployed Forseti on a project level, and didn't have access to the org, the detailed data was missing and causing the inventory summary to fail to be generated.  Did you also deploy Forseti to a non-org level?

You mentioned that global config for sending emai

[2018-12-27 15:36] #2446 closed

[2018-12-27 16:38] #2433 closed

[2018-12-27 17:37] blueandgold opened #2452 "Firewall Scanner Rule Configuration Is Missing from Website Documentation"
User reports that the [Defining Rules](https://forsetisecurity.org/docs/latest/configure/scanner/rules.html) page is missing the documentation for Firewall Scanner rule. This should be added, describing the full schema, what is optional and required, and link to the [examples here](https://github.com/GoogleCloudPlatform/forseti-security/tree/dev/samples/scanner/scanners/firewall_rules).

[2018-12-27 20:30] blueandgold opened #2453 "Bad Link on Website Documentation for "Start Developing on Forseti""
In https://forsetisecurity.org/docs/latest/develop/ page, the link for `Start Developing on Forseti` goes to the get help page.  The link on the left sidebar is correct.

![image](https://user-images.githubusercontent.com/6977544/50493641-b91dd400-09d3-11e9-8ecd-5b39c3ca2e8e.png)

[2018-12-27 20:54] #2428 closed

[2018-12-28 15:46] ahoying commented on #2378
The issue is that PubSub Subscriptions nor their IAM policies are not included in the inventory for Forseti 2.8. Now that Cloud Asset API supports PubSub Subscriptions (https://cloud.google.com/resource-manager/docs/cloud-asset-inventory/overview), I will add this for Forseti 2.10, which should resolve your issue.

[2018-12-28 17:07] blueandgold opened #2457 "Lots of "Unable to read environment variable" in logs."
From /var/log/forseti.log.
[code]

[2018-12-28 17:09] blueandgold opened #2458 "Firewall Use Cases"
Submitted on slack:

- Ability to model internal network (corporate subnets and GCP VCPs) in one place and reference elsewhere in rules. Routable over VPN tunnels on GCP shared VPC

- Ability to model external IP of corporate egress gateways or VPC NAT gateways

- Ability to model and track other external IPs of clients/partners (reference inventory) and use in rules

- Blacklist set of ports (ssh

[2018-12-28 17:09] blueandgold opened #2459 "Enforcer Use Cases"
Submitted on slack:

- Enforce labels on projects or resources for cost management and ownership tracking (vuln management escalation for example). Required below project level. Capability to tattoo from one resource to all linked resources (compute to network / storage)

[2019-01-02 13:31] antoine-castex commented on #2443
When a finding is sent to CSCC , and if this finding is fixed , when did he disapear from CSCC ?? because 2 weeks after and still here for me ...

[2019-01-02 16:41] blueandgold commented on #2046
Done in #2130

[2019-01-02 16:41] #2046 closed

[2019-01-02 16:44] blueandgold opened #2462 "Remove CSCC Alpha Support"
We still have code that maintains backward compatibility for the alpha API. These should be removed when the alpha API support is discontinued from the platform.  Should also work with the platform team that all Forseti customers are migrated.

[2019-01-02 18:40] jjawad-google commented on #2459
Hi @antoine-castex, this would be a great contribution to the upcoming GitHub Organization that we are planning to roll out soon.

[2019-01-02 18:44] jjawad-google commented on #2458
We will perform a gap analysis of this request against our current firewall scanner.

[2019-01-02 18:47] jjawad-google commented on #2457
Change info log to debug.

[2019-01-02 18:49] jjawad-google commented on #2453
Update broken link to match sidebar link.

[2019-01-02 18:52] jjawad-google commented on #2452
#2458 Also look at FS 1.0 documentation on the website. # of sample rules included in scanner + tests that could be used to rev engineer the docs.

[2019-01-02 23:34] jjawad-google opened #2463 "Waffle.io test"
First, help us help you by providing the following information when opening an issue.

 - [ ] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [ ] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [ ] Include errors, log output, and host operating system, including installed packages.
 - [ ] N

[2019-01-02 23:34] #2463 closed

[2019-01-02 23:39] jjawad-google opened #2464 "waffle.io test"

[2019-01-02 23:40] #2464 closed

[2019-01-02 23:45] red2k18 commented on #2443
Hi @antoine-castex, thanks for bringing this up! Have you tried resolving the finding from the CSCC GUI itself?

[2019-01-04 12:06] rtoma opened #2467 "forseti inventory create fails: can't reconnect until invalid transaction is rolled back"
Hi,

We are running Forseti 2.9.0 on a GCE VM using CloudSQL mysql as DB. Server and client are running on same VM. All manually deployed.

`forseti inventory create` fails on:
[code]

When I `systemctl restart forseti` it works. Until a few runs later. I can not find anything in the server logging worth mentioning.

---

First, help us help you by providing the following information when opening

[2019-01-04 13:57] ramshazar opened #2468 "Notifier fails silently"
First, help us help you by providing the following information when opening an issue.

 - [v2.9] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
 - [notifier] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
 - [x] Include errors, log output, and host operating system, including installed packages

[2019-01-04 22:35] umairidris opened #2471 "Allow installer permission grants to be skipped via flag"
The forseti installer tries to grant permissions via gcloud organizations add-iam-policy-binding.

Often the runner does not have access to the org. While this is not a critical failure, it would be preferred if this step could be skipped via an installer flag if the caller knows beforehand it will fail.

Logs:

[2019-01-04 22:56] umairidris opened #2472 "Forseti server can't find projects inside folders"
The forseti server is not able to list projects inside folders on which it does not have folder viewer permissions, even though the individual projects grant the forseti server service account 'browser' permissions. Projects not in folders are found without a problem.

Is there a way to grant Forseti access to projects within a folder without granting permissions on the folder itself? Perhaps the

[2019-01-06 00:03] blueandgold opened #2474 "Deprecate 1.0"
We previously announced to beta-testers@forsetisecurity.org (May 15, 2018) that 1.0 will officially reach End-of-Life on Oct. 30, 2018. We have given this additional grace period, and should proceed to do this in Q1 per [this plan](https://docs.google.com/document/d/1Qy6-ENqQ__qI31VNtQ_gb3LV1jQgHPWL_jRc31WF3IQ/view).

[2019-01-07 16:37] umairidris opened #2476 "Notifier failure"
Running from a fresh Forseti install from dev branch (today).

[2019-01-07 16:38] umairidris commented on #2476
Output from forseti client:

[2019-01-07 18:18] jjawad-google commented on #2472
@joecheuk to investigate how folders are owned or used by users who have projects in them.

[2019-01-07 18:20] jjawad-google commented on #2471
@umairidris -- this is a great idea, we'll review and prioritize accordingly

[2019-01-07 18:23] jjawad-google commented on #2468
@ramshazar -- thank you for reporting this issue, we will investigate and plan to fix by the next release.

[2019-01-07 18:30] jjawad-google commented on #2467
@rtoma thank you for reporting this issue. We will route this to @ahoying to investigate.

[2019-01-08 19:56] #2431 closed

[2019-01-09 15:32] #2268 closed

[2019-01-09 15:33] #2367 closed

[2019-01-09 15:33] #2368 closed

[2019-01-09 16:03] #2434 closed

[2019-01-09 17:07] blueandgold opened #2479 "Support Forseti to Crawl a Subset of an Organization (i.e. multiple folders)"
Per user request:
- install Forseti in Project AA under Folder A
- crawl folders/projects/resources in other Folders B,C,D

[2019-01-09 17:52] blueandgold opened #2480 "Support Sending Violations of Different Folders to be Sent to Different Recipients"
User request:
- Violations from Folder A would be sent to recipientsAAA@foo.com.
- Violations from Folder B would be sent to recipientsBBB@foo.com.

[2019-01-09 19:57] joecheuk opened #2483 "Enable unattended-upgrade to allow security patches to be installed automatically"
Add command

`sudo unattended-upgrade`

to the startup script.

Description of the package:

Relates to #2196

[2019-01-09 19:58] joecheuk commented on #2196
After investigation, security patches do not get applied automatically, need to make sure **unattended-upgrade** is enabled.

[2019-01-09 19:58] #2196 closed

[2019-01-09 20:03] joecheuk commented on #1800
Resolved #1828

[2019-01-09 20:03] #1800 closed

[2019-01-09 20:03] joecheuk commented on #1744
Resolved #1939

[2019-01-09 20:03] #1744 closed

[2019-01-09 20:09] joecheuk commented on #1614
Resolved #1770

[2019-01-09 20:09] #1614 closed

[2019-01-10 22:17] red2k18 opened #2486 "Fix error caused by removing content from `global` section in config file"
Workaround was to add a placeholder as shown below.
[code]

![global_config_error](https://user-images.githubusercontent.com/41486977/51000498-2eb09680-14e2-11e9-8e82-70ee2d6aa1f3.png)

[2019-01-11 21:15] red2k18 opened #2491 "Inventory successfully created but model status is always broken after upgrading to v2.10.0"
Related to #2444

[2019-01-11 21:17] red2k18 commented on #2491
![cloudsql_potential_bug](https://user-images.githubusercontent.com/41486977/51060073-32582200-15a3-11e9-98ae-7c2bc783ed73.png)

[2019-01-14 07:07] red2k18 opened #2494 "Below error is displayed when project/folder is set as root instead of org."
`ApiExecutionError: GCP API Error: unable to get organizations/XXXXXXXXX from GCP:`

[2019-01-14 10:04] sparthe123 commented on #2467
I'm also having the same issue, any update on this,

  "errors": 0,
  "warnings": 0,
  "step": "",
  "finalMessage": false,
  "lastError": "",
  "id": "1547459862699122",
  "lastWarning": ""
}
Error occurred on the server side, message: <_Rendezvous of RPC that terminated with:
        status = StatusCode.UNKNOWN
        details = "Exception iterating responses: (sqlalchemy.exc.InvalidRequestError

[2019-01-15 06:02] katze120 commented on #2443
I have the same issue with Forseti findings too, and am not able to find any way to close the findings from CSCC GUI. Only workaround I found so far is to add security marks to hide the findings by filtering.
FYI - Findings from other sources e.g. Cloud Security Scanner will disappear from CSCC automatically if the finding is not there at subsequent scan; they also have "eventTime" updated if they

[2019-01-15 18:23] red2k18 commented on #2443
Thanks all for reporting this issue! Below is the solution I came up with. Please let me know your thoughts on this so we can fix this asap.

Create an update method in Forseti that will compare the results of the latest notifier run with the results of the previous notifier run that is displayed on CSCC dashboard, and update the findings in CSCC accordingly. This will ensure the violations displa

[2019-01-16 17:45] red2k18 commented on #2443
Thanks Marten for your kind response! I will work on creating the implementation plan then.

[2019-01-16 18:36] jjawad-google commented on #2494
Hi @red2k18 could you provide us with more context around this error: what exactly did the user do to arrive at this error condition?

[2019-01-16 18:38] jjawad-google commented on #2486
Fixed in #2487.

[2019-01-16 18:38] #2486 closed

[2019-01-16 18:40] jjawad-google commented on #2480
We will include this in our upcoming plan.

[2019-01-16 18:41] jjawad-google commented on #2479
Assigned to @ahoying to develop an implementation plan.

[2019-01-17 17:35] knitterb opened #2498 "Feature Request: Encrypted Resources"
We would like to have the ability to scan for encrypted resources.  This would provide the ability to make sure resources are encrypted with a CMEK or perhaps even a specific keyring/key.

Initially we would like to see the following resources available for scanning:

- Persistence Disks (with CMEK)
- GCS Buckets (with CMEK)

Please let me know what further details I can provide to help fill out t

[2019-01-18 19:51] joecheuk opened #2499 "Remove storage.objectAdmin role on CAI bucket"
Remove storage.objectAdmin role on CAI bucket since it's not required.

We already have storage.objectViewer and storage.objectCreator roles on the project level and are using the bucket lifecycle management to handle object deletion therefore the extra permission (delete) from the objectAdmin role is not needed.

[2019-01-18 23:29] hshin-g opened #2502 "Remove roles/storage.objectAdmin from service accounts page on website"
References Issue #2499.

Remove roles/storage.objectAdmin from service accounts page on website from [here](https://forsetisecurity.org/docs/latest/concepts/service-accounts.html) to reflect the code.

[2019-01-19 07:37] jf-marquis-Adeo commented on #2467
hello, i has the same issue until i upgrade the sql database to 2 CPU instead of 1.

[2019-01-19 07:41] jf-marquis-Adeo opened #2503 "Tables missing after upgrade from 2.9.0 -> 2.10.0"
Since i upgrade in 2.10.0 from 2.9.0 i have those error frequently in logs during the run_forseti.sh:
2019-01-19 07:00:26,449 WARNING [forseti-security][2.10.0] __main__(migrate_schema): Method: get_schema_update_actions is not callable or Table: scanner_index doesn't exist
2019-01-19 07:00:26,459 WARNING [forseti-security][2.10.0] __main__(migrate_schema): Method: get_schema_update_actions is not

[2019-01-21 19:56] joecheuk opened #2504 "Foreign key constraint fails in the resources table"
Cannot add or update a child row: a foreign key constraint fails (`forseti_security`.`80a00fd7b40e6752adc80a27839b0bd3_resources`, CONSTRAINT `80a00fd7b40e6752adc80a27839b0bd3_resources_ibfk_1` FOREIGN KEY (`parent_type_name`) REFERENCES `80a00fd7b40e6752adc)') [SQL: u'INSERT INTO `80a00fd7b40e6752adc80a27839b0bd3_resources` (full_name, type_name, parent_type_name, name, type, policy_update_counte

[2019-01-21 19:57] joecheuk commented on #2504
Related #2467

[2019-01-21 20:12] Red-Five opened #2506 "Unable to Install v2.10.0 on Non Org Root"
Goal: install Forseti in Folder_B and scan projects in Folder_B

Structure: Organization->Folder_A->Folder_B->Forseti GCP Project

Installer has Folder Admin IAM role on Folder_B

Command "gcloud alpha resource-manager folders describe [Folder_A id] --format=json" failed/timeout, retrying...

Installer stops with error "User Does not have permission to access Folder_A id."

Ref. https://forsetisec

[2019-01-22 17:20] red2k18 opened #2509 "Location Scanner not updating users with violations in the following scenarios"
1. Buckets created in `Multi-Regional`.
2. When scanner is  run on a `project` instead of `organization`.

Violations were not found in `violations` table as well.

[2019-01-22 17:59] red2k18 commented on #2494
When the root is set as `project`, permissions for the `organization` are fetched. This scenario throws this error which is non-fatal but misleading. Ideally the permissions for the `organization` should not be fetched if Forseti is running on a `project` or `folder`.

[2019-01-22 18:54] ahoying commented on #2494
Related to #2479, this extra log message should be fixed by the new code to resolve that issue.

[2019-01-22 19:00] red2k18 commented on #2494
Great, thanks Andrew! Closing this issue then.

[2019-01-22 19:00] #2494 closed

[2019-01-22 22:53] Red-Five commented on #2506
First guess;     https://github.com/GoogleCloudPlatform/forseti-security/blob/c431c83b5e9279d97078288fc64ebbf6f2cf2523/install/gcp/installer/util/gcloud.py#L641

This function is attempting to find the Organization from the folder by climbing the directory tree and describing the parent folders one by one.

Either the user needs permissions to describe all parent folders or this function should fa

[2019-01-23 06:53] blueandgold opened #2511 "Create default scanner rules for CIS recommendations for Kubernetes Engine, and the GKE Hardening Guideline"
For the [ke_scanner_rules.yaml](https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/rules/ke_scanner_rules.yaml), we have some of the rules in place that meet the CIS recommendations, but not all (such as autoUpgrade).

In looking through the KE cluster data in inventory, and we can add additional scanner rules to meet the CIS recommendations, and leave them as examples in the [ke_sca

[2019-01-23 16:11] maurofaccenda opened #2512 "gcp_install.py fails when running on virtualenv with --no-cloudshell"
Forseti Version: 2.10.0
Module: installer (install/gcp_installer.py)
Error message:
[code]
OS: Manjaro Linux
Python Version: 2.7 (from virtualenv)

When running gcp_install.py from my own system (not a cloud shell) it tries to install some pip packages by running `pip install <package> --user`, which does not work when running from a virtualenv, generally, on virtualenv you don't really need to sp

[2019-01-23 16:58] Red-Five commented on #2511
CIS Benchmarks (with CIS Level 1 or 2)
7 Kubernetes Engine
- [ ] 7.1 Ensure Stackdriver Logging is set to Enabled on Kubernetes Engine Clusters (Scored)	1
- [ ] 7.2 Ensure Stackdriver Monitoring is set to Enabled on Kubernetes Engine Clusters (Scored)	1
- [ ] 7.3 Ensure Legacy Authorization is set to Disabled on Kubernetes Engine Clusters (Scored)	1
- [ ] 7.4 Ensure Master authorized networks is s

[2019-01-24 09:44] maurofaccenda opened #2514 "gcp_install.py fails when running with --dry-run"
Forseti version: v2.10.0
Modules: installer
Error message:
[code]
Command executed: `python install/gcp_installer.py --type=server --no-cloudshell --dry-run`

I went through the code and I saw on: https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/install/gcp/installer/util/gcloud.py#L851

That when runing as a dry run, it returns an integer when the function is meant to return an st

[2019-01-24 10:28] mmaningab opened #2515 "Google Deployment Manager in region other than US"
Feature request

Version 2.9
Google Deployment package
No error logs, Sever are always deployed in the US
Deployed Deployment Manager.

Hi,

We would like to see options to change the Region in which Forseti is deployed, currently it only deploys to the US we would like to be able to deploy to the EU and other Regions.

Thanks
Maurice

[2019-01-24 17:19] blueandgold commented on #2476
@umairidris This should be fixed by PR #2450, and part of the 2.10 release.  Can you please try that?  If you still have issues, please reopen this issue.  Thanks!

[2019-01-24 17:19] #2476 closed

[2019-01-25 15:57] blueandgold commented on #2515
Great suggestion.  We will add this appropriately to our upcoming work schedule.

[2019-01-25 15:59] blueandgold commented on #2514
Thank you for reporting this.  @maurofaccenda Would this be something that you can contribute a fix?  If not, we can add it to our work schedule, though it would be faster if you can help.  :)

[2019-01-25 16:14] blueandgold commented on #2512
Thank you for reporting this.  But due to the many possible environments, we had to pick 1 environment to support, and that would that is the cloud shell.  And that is why the installer has `gcp` in its name.  It's only job is to deploy Forseti onto GCP.

When we install virtual environment, it is usually for setting up our dev environment.  Is that what you are aiming to do here?  You can follow

[2019-01-25 16:14] #2512 closed

[2019-01-25 16:19] blueandgold commented on #2509
As mentioned on slack (screenshot below), `Project ID` should be used, not `Project Number`.  I have verified that this is working as intended.

![image](https://user-images.githubusercontent.com/6977544/51758100-c92fde80-2079-11e9-920c-1021a8b260db.png)

[2019-01-25 16:19] #2509 closed

[2019-01-25 16:22] blueandgold commented on #2506
I have tested this setup of installing from a folder in a folder, and it works for me.  See screenshot below for details of what I did, and follow-up with @Red-Five .  Please let me know if there are still issues.

![image](https://user-images.githubusercontent.com/6977544/51758259-33488380-207a-11e9-96e4-ae3679e0ea21.png)

[2019-01-25 16:22] #2506 closed

[2019-01-25 17:09] jjawad-google commented on #1502
As a result of database indexing, it is now possible to create as many data models as needed.

[2019-01-25 17:09] #1502 closed

[2019-01-25 17:12] jjawad-google commented on #334
We are currently and constantly adding all of the IAM policies as they are on-boarded from CAI.

[2019-01-25 17:12] #334 closed

[2019-01-25 17:18] jjawad-google commented on #2269
Hi @jgearheart, are you still seeing this issue? If you are, please follow up on our slack channel: https://forsetisecurity.slack.com and we'll be able to provide you with more immediate support.

[2019-01-25 17:18] #2269 closed

[2019-01-25 17:22] jjawad-google commented on #2124
@hshin-g any update on working with @ibenrodriguez on this issue?

[2019-01-25 17:34] jjawad-google commented on #2472
@joecheuk to follow up with @blueandgold who can explain how this works.

[2019-01-25 17:35] jjawad-google commented on #2158
@blueandgold who knows how this works to follow up.

[2019-01-25 17:37] maurofaccenda commented on #2512
Hi, thanks for your reply.

I am not sure if I understand your comment correctly, so let me try to add some more info.

I am trying to deploy Forseti on GCP, However, I'd like to be able to run the installer it from another environment (ex: my own laptop), so no Cloud Shell. As there is a parameter (`--no-cloudshell`) it makes me think this scenario is supported, also the documentation says it is

[2019-01-25 17:39] maurofaccenda commented on #2514
Hi,

This seems to be simple to overcome as a workaround. Honestly I didn't dig much what could be returned when using dry-run in that case, if there is a suggestion, I can create a Pull Request.

[2019-01-25 17:39] jjawad-google commented on #2063
@joecheuk is there any update to clarify this in the documentation? Could we add a comment in the rule file directly to clarify this as well?

[2019-01-25 17:44] jjawad-google commented on #1954
PR #1966 appears to resolve this issue. Marking as closed.

[2019-01-25 17:44] #1954 closed

[2019-01-25 17:47] jjawad-google commented on #1524
@joecheuk could you ensure that the scanner 2.0 syntax will be able to handle this requirement?

[2019-01-25 17:49] jjawad-google commented on #1792
@joecheuk is there any update on this issue?

[2019-01-25 17:50] jjawad-google commented on #1501
So far no customers have actually reported this to be an issue.

[2019-01-25 17:50] #1501 closed

[2019-01-25 17:51] jjawad-google commented on #1470
@hypery2k work on this feature is currently underway for GKE.

[2019-01-25 17:55] jjawad-google commented on #1465
This should not longer be an issue with CAI. We will go ahead and close this for now, @ahoying to confirm and reopen if otherwise.

[2019-01-25 17:55] #1465 closed

[2019-01-25 17:56] jjawad-google commented on #1458
@joecheuk to confirm if this will be supported in the 2.0 rule syntax.

[2019-01-25 17:58] jjawad-google commented on #1437
We are committed to completing this by EOQ Q1'19.

[2019-01-25 21:05] jjawad-google commented on #1427
This is a great idea, however there is not much demand for this at this time. We will go ahead and close this issue. Please feel free to reopen as you see fit.

[2019-01-25 21:05] #1427 closed

[2019-01-25 21:06] jjawad-google commented on #1012
We plan to fix this in scanner 2.0.

[2019-01-25 21:06] #1012 closed

[2019-01-25 21:19] jjawad-google commented on #1346
Everything appears to be working with no indication of breakage. Please feel free to reopen this issue if it resurfaces again.

[2019-01-25 21:19] #1346 closed

[2019-01-25 21:20] jjawad-google commented on #1264
We are planning to incorporate this as part of the FS 3.0 Requirement.

[2019-01-25 21:39] jjawad-google commented on #1073
@blueandgold to link PR.

[2019-01-25 21:42] jjawad-google commented on #1001
@joecheuk to provide an update.

[2019-01-25 21:48] jjawad-google commented on #969
Hi @marcin-kolda this is not currently planned on our product roadmap. An alternative would be for you to add post-processing. If you have any other requirements please let us know and reopen this issue.

[2019-01-25 21:48] #969 closed

[2019-01-25 21:53] jjawad-google commented on #797
Hi @mitsuo0114 thanks for offering to contribute. Please refer to the following documentation: https://www.forsetisecurity.org/docs/latest/develop/dev/setup.html to setup a local instance of Forseti.

[2019-01-25 21:56] jjawad-google commented on #787
Scanner 2.0 semantics are expected to resolve this issue.

[2019-01-25 21:58] jjawad-google commented on #769
Similar to #921.

[2019-01-28 16:46] blueandgold commented on #2098
Hi @umairidris, after an upgrade to a new version, it would be advisable to re-create & re-run everything on the new version as data structure and code behavior could have changed.  From a user experience's point of view, it would be nice to handle & warn this for the user.  If you feel this is important, please re-open this issue.  Thanks!

[2019-01-28 16:46] #2098 closed

[2019-01-28 16:47] blueandgold commented on #2073
Hi @davidlauen, if you still have this issue, please let us know and re-open this issue.  Thanks!

[2019-01-28 16:47] #2073 closed

[2019-01-28 17:08] blueandgold commented on #2059
Hi @rllin-fathom, if my last update didn't address this issue, please feel free to reopen.  Thanks.

[2019-01-28 17:08] #2059 closed

[2019-01-28 17:19] blueandgold commented on #2000
The upcoming Scanner 2.0 will have an evaluation engine that will handle resource attributes generically, and so will be able to support this.  Will update this issue when Scanner 2.0 is ready for you to test.  Thanks.

[2019-01-28 17:19] Red-Five commented on #2158
I think this is a user documentation issue; Ref. https://github.com/GoogleCloudPlatform/forseti-security/issues/2506#issuecomment-456594820

The user running the installation script needs permission to run "gcloud alpha resource-manager folders describe" on all parent folders as the installer jumps to each parent folder in turn until it finds the org parent.

[2019-01-28 17:23] blueandgold commented on #864
The upcoming Scanner 2.0 will have an evaluation engine that will handle resource attributes generically, and so will be able to support this.

[2019-01-28 17:34] blueandgold commented on #1843
Hi @lukwam, can you please explain why you want to re-use an existing service account?  We are evaluating the need for this use case, and how best to support it.  Thanks.

[2019-01-28 18:10] lukwam commented on #1843
We have previously installed forseti in the project and the service account already has all the permissions it needs in other projects and orgs to do what it needs to do and we don't want to have to create a second service account in the same project and grant it all the same permissions when one already exists.

[2019-01-28 19:32] lukwam commented on #1843
We installed forseti many dozens of times over the course of the last two
years.  We did not want to have to create a new project each time we
performed the installation again and so we've been doing it in the same
project, re-using the service account.

I haven't had to do this again recently because I've been successfully
using a single project and forseti deployment for a while now.

But certai

[2019-01-28 21:24] #1820 closed

[2019-01-29 17:43] blueandgold commented on #1843
Thanks for the explanation.  We now have [point-upgrade instructions](https://forsetisecurity.org/docs/latest/setup/upgrade.html) that will help you to update your existing forseti instances to new versions without having to do a brand new installs.  Would that be helpful to you?

[2019-01-29 17:51] lukwam commented on #1843
Yes, that's what I'm using now for all my upgrades!  This was during the
process when we had lots of bugs that I was having to do the full
re-install repeatedly.  Again, I haven't done that in a long time so I'm
not really concerned about this anymore.  The upgrade instructions work
well.

On Tue, Jan 29, 2019 at 12:43 PM Henry Chang <notifications@github.com>
wrote:

--
*Lukas Karlsson, Cloud Arc

[2019-01-29 21:32] blueandgold commented on #1843
Great, and more generally, we are looking to deprecate the advanced installer mode, since we feel there's very little use for it.  Would you miss it, if that was gone?  @lukwam

[2019-01-29 21:36] ibenrodriguez commented on #1843
Advanced installer mode... can't we install forseti as docker containers with terraform soon?

[2019-01-29 21:40] blueandgold commented on #1843
Terraform installer is coming soon, but it will still be for non-containers.  i.e. as a first step, will be the same application that runs directly on the VM.  Containerization will be coming soon, as part of the effort to make Forseti run on GKE.

[2019-01-29 21:50] lukwam commented on #1843
Great news!  And yes, I far prefer the plan to run in a container compared
to the old install process.

On Tue, Jan 29, 2019 at 4:40 PM Henry Chang <notifications@github.com>
wrote:

--
*Lukas Karlsson, Cloud Architect / Developer Advocate*
<http://www.broadinstitute.org/>
Broad Institute of MIT and Harvard
75 Ames Street, 11129, Cambridge, Massachusetts 02142
karlsson@broadinstitute.org, +1.61771

[2019-01-30 05:50] blueandgold commented on #1843
Thanks for the input, will consider this issue closed.  Please reopen if there's any new feedback or suggestions.

[2019-01-30 05:50] #1843 closed

[2019-01-30 21:51] ahoying opened #2519 "Bigquery Dataset Location scanner"
Related to #2368.

Not all datasets will include Location data, when it is missing, the default value is US. The scanner code and crawler need to be updated to handle this case.

From https://cloud.google.com/bigquery/docs/reference/rest/v2/datasets:

The geographic location where the dataset should reside. The default value is US. See details at https://cloud.google.com/bigquery/docs/locations.

[2019-01-30 22:09] Red-Five opened #2520 "Feature Request: Create an Official DockerHub Repo for Forseti Docker Images"
Consider setting up an 'official' Forseti Security docker image repo on DockerHub and arrange for the images to be 'Docker certified'.

Possibly a sub folder here? https://hub.docker.com/u/google

This will eliminate the need for users to create and store their own Forseti docker images.

[2019-02-04 13:01] gbrindisi opened #2522 "_get_parent_name can not determine parent name for some Organization, Billing Accounts and CloudSQL entries in CAI dump"
Tested on Forseti v2.10, with inventory option `enable_cai` set to `True`.
When the inventory is parsing the CAI dump we get quite a few logs like the following:

[code]

Example entries in the Cloud Asset Inventory dump:

Organization entry:

[code]

Billing Account entry:

[code]

CloudSQL entry:

[code]

[2019-02-04 15:14] umairidris commented on #2479
Could also solve #2471. Would be great if we can use it to add/remove projects as well.

[2019-02-04 16:11] ahoying commented on #2522
Thanks for the report, I'll look into it.

[2019-02-04 17:23] blueandgold opened #2523 "Packages in requirements.txt are not in sync with setup.py."
There is a comment in [requirements.txt](https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/requirements.txt) that `Additions, # here should also be added to setup.py`.

This is not the case, when looking at setup.py, some packages are missing, such as `google-cloud-asset` or `flakes`.  So, either follow the comment, or amend the comment.

[2019-02-05 12:55] kevensen opened #2525 "External Project Access Scanner Rule - Specify User"
**Version:** 2.10.0
**Module:** External Project Access Scanner

Currently, the rules for the External Project Access Scanner allow for the whitelisting of organizations and folders as ancestors of a GCP Project.
[code]
It is desirable to annotate the rule so that it can be applied to specific users.
[code]
The **user** stanza would be optional.  Omitting it would mean that the rule applies to all

[2019-02-05 13:03] kevensen opened #2526 "External Project Access Scanner Rule - Specify Allowed Permissions"
**Version:** 2.10.0
**Module:** External Project Access Scanner

Currently, the rules for the External Project Access Scanner allow for the whitelisting of organizations and folders as ancestors of a GCP Project.
[code]
It is desirable to annotate the rule so that it one can specify allowed permissions.
[code]
The **allowed_permissions** stanza should be optional.  Omitting this stanza indicates t

[2019-02-05 16:07] Red-Five commented on #2007
Customers are asking for CIS coverage.

Can we publish the CIS Gap Analysis (on github or forsetisecurity.org) in such a manner that the community can see gaps and collaboratively work on closing them?

[2019-02-05 21:42] #2063 closed

[2019-02-06 00:13] Red-Five commented on #2162
DRAFT for k8s Docker Proof of Concept example setup

BUILD IMAGE
(There are various ways to build the docker image, this is just one example)
Create a personal Fork of the forseti security repository in github.
This will be used by Google Cloud Build to build the forseti image.

The k8s poc code is in the docker-poc branch.
(Optionally merge dev branch or a tagged release into the docker-poc branc

[2019-02-06 18:55] joecheuk opened #2531 "Upgrade pyyaml to version 4.2b1 or later"
To avoid the following vulnerability

CVE-2017-18342
Vulnerable versions: < 4.2b1
Patched version: 4.2b1
In PyYAML before 4.1, the yaml.load() API could execute arbitrary code. In other words, yaml.safe_load is not used.

[2019-02-06 23:28] #2531 closed

[2019-02-07 00:46] blueandgold commented on #2162
@Red-Five this is really great!  If you don't mind, we will create a documentation your great notes here.

[2019-02-07 04:13] Red-Five commented on #2084
Ref #2162
for instructions on deploying proof of concept to GKE.

[2019-02-07 04:14] Red-Five commented on #1470
Ref https://github.com/GoogleCloudPlatform/forseti-security/issues/2162
for instructions on deploying proof of concept to GKE.

[2019-02-07 15:35] Red-Five commented on #788
@blueandgold Bumping this request.

I'm seeing bucket security as the first issue customers ask me about. Are their any updates on this?

[2019-02-07 15:39] Red-Five commented on #788
Ref CIS Benchmark document solution.
Quote
_"1. List All the storage buckets by calling: Get https://www.googleapis.com/storage/v1/b?project=<projectName>
2. For Every bucket, List objects inside the bucket by calling: GET https://www.googleapis.com/storage/v1/b/<buvketName>/o/
3. For Every Object, get object ACL by calling: GET https://www.googleapis.com/storage/v1/b/pp-test-storage-bucket/o/<obj

[2019-02-07 17:37] jjawad-google commented on #2526
Hi @kevensen could you provide an estimate on how long you think this will take?

[2019-02-07 19:15] blueandgold opened #2535 "Update Resource Coverage FAQ with newly added resources"
https://forsetisecurity.org/docs/v2.0/faq/#resource-coverage

Specifically, looking for the KMS resources, but verify others are up-to-date.

[2019-02-07 22:51] #2522 closed

[2019-02-08 13:11] kevensen commented on #2526
@jjawad-google I don't know.  This will probably take 80 hours.  This is going to be tricky.

- The IAM tester requires a list of permissions to test.
-- I can generate a list from the rules and test against those.  However, the scanner and auditor may miss permissions that aren't listed
-- The alternative is to get a list of testable permissions from the project.  This means I'll be making a tota

[2019-02-08 13:14] #2525 closed

[2019-02-09 17:18] Red-Five commented on #2511
Below info may assist with identifying the fields to be inspected by each rule.
Data referenced from CIS Benchmarks for GCP document under Creative Commons Public License.

7 Kubernetes Engine |  
-- | --
7.1 Ensure Stackdriver Logging is set to Enabled on Kubernetes Engine Clusters (Scored) | To check logging status for an existing cluster, run the following command, gcloud container clusters des

[2019-02-10 18:10] Red-Five opened #2540 "Bucket ACL Scan Not Working"
Tag 2.10.0

File bucket _rules.yaml is included in the codebase though it appears to be non functional.

I checked the server config to ensure rule is turned on

- name: bucket_acl
          enabled: true

bucket rules doesn't trigger alerts when expected

[2019-02-10 18:19] Red-Five commented on #2540
On further investigation I think the bucket rules is only against ACL and the IAM rules is for IAM.

So possibly close this issue; though it is a bit confusing for users.

[2019-02-11 05:35] katze120 commented on #2540
Bucket ACL Scan has been working for me for legacy ACLs until version 2.8.0
I'm able to reproduce the same issue from version 2.9.0, and believe the reason is as follows:

1. In 2.9.0 Forseti inventory starts pulling bucket info from CAI: https://github.com/GoogleCloudPlatform/forseti-security/releases/tag/v2.9.0
2. CAI output has empty "acl" information in "data" session.
After forseti model is c

[2019-02-11 07:37] blueandgold commented on #788
@Red-Five Thanks for inquiring about this.  This is something that is definitely high up on our radar.  But the difficulty is with the size of the problem, O(10M to 100M) objects to be scanned.  We have been thinking about what would be the most effective way to tackle this, but is exploring with the GCP teams to help.  There are no clear path forward yet, but if you have any ideas, we would love

[2019-02-11 14:23] Red-Five commented on #788
There's a hole in the bucket, dear Liza, dear Liza,
There's a hole in the bucket, dear Liza, a hole.

So fix it dear Henry, dear Henry, dear Henry,
So fix it dear Henry, dear Henry, fix it.

With what should I fix it, dear Liza, dear Liza,
With what should I fix it, dear Liza, with what?

With BigTable, dear Henry, dear Henry, dear Henry,
With BigTable, dear Henry, dear Henry, with BigTable.

With

[2019-02-11 16:21] ahoying commented on #2540
Use of the iam scanner is the preferred approach going forward. The documentation needs to be updated to show this change. @hshin-g - can you look at updating the docs for the next release?

[2019-02-11 16:30] Red-Five commented on #2540
@ahoying The IAM scanner does not (currently) appear to pick up the pure ACL roles set via gsutil acl command.

In the case gsutil acl is used, there is only an ACL entry and that is not flagged.

I think (to be verified) if the IAM legacy roles are used then a corresponding ACL entry is added in addition to the IAM entry and the IAM rule reports only on the IAM portion of the settings.

[2019-02-11 16:42] ahoying commented on #2540
The IAM data is a direct replica of the ACL data. ACLs are stored as IAM policies on the backend, and that is the data that is sent when using CAI. Both IAM and ACL data are stored in the inventory, but it looks like the scanner is looking at the wrong place.

The importer should be loading in the gcs_policy as it's own resource (Like https://github.com/GoogleCloudPlatform/forseti-security/blob/de

[2019-02-11 17:48] ahoying commented on #2540
I'm going to take this issue and work on a fix as documented above.

[2019-02-11 18:41] #2540 closed

[2019-02-11 23:30] umairidris opened #2544 "Forseti deployment manager resource should support non org admin installations"
This is related to #2471. We would like to use the standard Deployment Manager or the Cloud Foundation Toolkit templates to install Forseti. However, we are not able to use these as we cannot grant Org Admin to the deployment manager service account. In fact, most teams in Google can't use the DM forseti resource due to this.

Is it possible to add support for installing without org admin? Interna

[2019-02-12 15:34] umairidris commented on #1437
A good place to start this migration could be from the installer. It is a separate piece not dependent on any other code of Forseti. We would immediately benefit as we can just call python instead of explicitly forcing python2 in our forseti install calls.

[2019-02-12 17:46] hshin-g opened #2546 "Add documentation for EAP Scanner user fix #2527"
References PR #2527

Need to add in documentation for users field in Forseti website here: https://forsetisecurity.org/docs/v2.9/configure/scanner/rules.html#external-project-access-rules

Should look like:

- name
  - Description: The name of the rule.
  - Valid values: String.
- allowed_ancestors
  - Description: The folder or organization that is allowed as an ancestor of a project.
  - Valid v

[2019-02-12 17:46] hshin-g commented on #2546
@joecheuk @blueandgold Please take a look.

[2019-02-12 17:49] hshin-g opened #2547 "Document enabling debug log level for custom rule YAMLs"
Document enabling debug log level for custom rule YAMLs (issue found [here](https://groups.google.com/a/forsetisecurity.org/forum/#!msg/discuss/-QhO3yQVBDs/EpjUAM2gCAAJ)) in the Forseti website FAQs section [here](https://forsetisecurity.org/docs/v2.10/faq/#where-are-the-logs-stored-for-forseti) for user clarity.

[2019-02-12 21:04] hshin-g opened #2548 "CAI enabled vs. disabled IAP violation discrepancy"
The IAP scanner retrieves violations when CAI is disabled, while no violations are found when CAI is enabled.

[2019-02-12 21:05] hshin-g opened #2549 "CAI enabled vs. disabled Bucket ACL violations discrepancy"
The Bucket ACL scanner retrieves violations when CAI is disabled, while no violations are found when CAI is enabled.

[2019-02-12 21:48] joecheuk opened #2550 "Add IAM policy scanning support to kms key ring and crypto key"
## Story
Extend existing IAM policy scanner to support KMS key ring and crypto key. This already exists in the [Policy Library](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_iam_allowed_bindings_v1.yaml), do we just need to update?

[2019-02-13 00:09] ahoying commented on #2549
Analysis: gcs_policy data is not written to gcp_inventory when CAI is enabled, investigating root cause.

[2019-02-13 04:40] red2k18 commented on #2111
#2507 #2541

[2019-02-13 05:33] ahoying commented on #2548
Root cause: conversion between json and protobuf and back to python dict was causing integer values to change to float values. This threw off the comparison logic in the IAP scanner.

The fix is to modify the CAI temporary database to store the raw json instead of converting to protobuf first.

This has the added advantage of fixing certain IAM policies that could not convert to protobuf correctly

[2019-02-13 14:11] kevensen commented on #2546
@hshin-g @blueandgold I'm happy to update this documentation.  I chatted with @blueandgold yesterday about this.

I think I am supposed to edit the docs in the "forsetisecurity.org-dev" branch.  However, I do not see the existing "External Project Access Scanner" documentation in that branch.

I do see it in the "forsetisecurity.org" branch.  Can you please clarify?

[2019-02-13 16:06] #2549 closed

[2019-02-13 16:24] #2548 closed

[2019-02-13 19:19] #2502 closed

[2019-02-14 16:26] blueandgold commented on #2300
@Red-Five Added inventory tag here, alongside with scanner.  We will have to see which side makes sense to filter out deleted projects.  Thanks!

[2019-02-14 16:43] blueandgold commented on #1827
@osandoval011 can you please link to your PR and close this?

[2019-02-14 19:16] Red-Five commented on #2300
This issue might fix itself once Forseti fully migrated to using Cloud Asset Inventory.

[2019-02-14 19:34] ahoying commented on #2300
CAI still reports deleted projects that are in the pending_deletion state, so I don't think it will resolve this issue.

[2019-02-15 16:03] joecheuk commented on #2504
Can't reproduce after running the instance for few days with cronjob set to run per minute. Will reopen this in the future if it happens again.

[2019-02-15 16:03] #2504 closed

[2019-02-15 16:06] joecheuk commented on #2503
Hey @blueandgold , this is expected behavior as method 'get_schema_update_actions' is added to the table definition only when you need to make changes to the schema, most of the tables don't have that method implemented at this moment. We should lower the log level to info/debug.

[2019-02-15 16:27] joecheuk commented on #2467
Hi @jf-marquis-Adeo , we have added session rollback when importing the CAI data and we are not able to reproduce this issue on our end. I will go ahead and close the issue for now, if you experience the same problem in the latest version, feel free to re-open this issue.

[2019-02-15 16:27] #2467 closed

[2019-02-15 16:31] joecheuk commented on #2119
Since forsetisecurity.org-dev & forsetisecurity.org should be in sync, when we merge from dev -> non dev, we will need to use MERGE instead of SQUASH AND MERGE to avoid commit history conflicts. The website release steps have been updated to make it clear that only do MERGE.

[2019-02-15 16:31] #2119 closed

[2019-02-15 17:49] #2503 closed

[2019-02-15 21:51] rgmenon opened #2572 "KMS Scanner should ignore states other than CryptoKeyVersionState.ENABLED"
First, help us help you by providing the following information when opening an issue.

 - [x] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
2.11.0

 - [x] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
KMS Scanner ('CRYPTO_KEY_VIOLATION')

 - [x] Include errors, log output, and host operating

[2019-02-15 21:53] rgmenon commented on #2572
Adding link to documentation for all the states:
https://cloud.google.com/kms/docs/reference/rest/v1/projects.locations.keyRings.cryptoKeys.cryptoKeyVersions#CryptoKeyVersion.CryptoKeyVersionState

[2019-02-16 01:44] red2k18 commented on #2572
#2573

[2019-02-16 18:15] rgmenon opened #2574 "CAI parser floods error messages when MySQL connection drops"
- [x] Which version of Forseti Security you're using (look in `google/cloud/security/__init__.py` in your installation).
2.11.0

 - [x] Which module(s) (inventory, scanner, enforcer, explain) you're having trouble with.
Inventory - CAI parsing

 - [x] Include errors, log output, and host operating system, including installed packages.
 - [x] Note how you deployed (via Deployment Manager, local sys

[2019-02-16 19:10] #2572 closed

[2019-02-17 18:37] Red-Five commented on #2162
File notes

File | Changes to Support GKE
-- | --
https://github.com/GoogleCloudPlatform/forseti-security/blob/docker-poc/install/docker/base | Install Google Cloud SDK on base   image
https://github.com/GoogleCloudPlatform/forseti-security/blob/docker-poc/install/docker/forseti | chmod +x docker_entrypoint.sh
https://github.com/GoogleCloudPlatform/forseti-security/blob/docker-poc/install/docker/c

[2019-02-18 14:55] imtheoperator opened #2576 "Feature request: option to install in read-only mode"
Possibly related to #2471 , I need to install Forseti in an organisation which already has many production projects but few folders - without risk of the enforcer impacting existing projects.

By default, Forseti has a lot of privileges, so I would like to be able to install Forseti in read-only mode, so that there is no chance of enforcing a policy that may affect an existing project. This would

[2019-02-18 16:13] Red-Five opened #2577 "Feature Request: Object Versioning on Config and Rule Buckets"
Consider turning on object versioning by default for all buckets containing configuration or rule files.
Ref. https://cloud.google.com/storage/docs/object-versioning

This will allow a history of changes and easier reversion if needed.

[2019-02-18 19:04] svc-dataplatform opened #2578 "Feature Request Detect HMAC authentication (Interoperability API) on bucket"
Hello,
In some use case we have to use HMAC authentication on GCS bucket (Interoperability API). I have a case with a CDN we want to place in front of a GCS bucket for distributing content.
The problem come that this API is enabled per project member, not per project.
So let me imagine the worst case : an org admin use his personnal account to configure the HMAC authentication on GCS bucket... so

[2019-02-18 19:08] #2578 closed

[2019-02-18 19:08] svc-dataplatform commented on #2578
wrong account

[2019-02-18 19:09] jf-marquis-Adeo opened #2579 "Feature Request : Detect HMAC authentication (Interoperability API) on bucket"
Hello,
In some use case we have to use HMAC authentication on GCS bucket (Interoperability API). I have a case with a CDN we want to place in front of a GCS bucket for distributing content.
The problem come that this API is enabled per project member, not per project.
So let me imagine the worst case : an org admin use his personnal account to configure the HMAC authentication on GCS bucket... so

[2019-02-18 19:10] jf-marquis-Adeo commented on #2574
same problem on my side with 13700 Datasets in Bigquery

[2019-02-18 23:22] blueandgold opened #2581 "Automate the Pruning the Number of Versions on Website"
The jekyll build time for the website is getting increasingly long, 10+ minutes. It is causing productivity loss for developers, and timeouts on travis.

The most likely cause is the number of doc versions that we are maintaining, which is growing on every release.  So, we should come up with a policy of how many versions we support, so that we can prune the versions to build for the website.

Cur

[2019-02-18 23:50] blueandgold commented on #819
The conf yaml file is now part of our upgrade instructions.
https://forsetisecurity.org/docs/latest/setup/upgrade.html

[2019-02-18 23:50] #819 closed

[2019-02-21 06:47] red2k18 commented on #2111
Added 5 use cases for KMS Scanner

[2019-02-21 06:47] #2111 closed

[2019-02-21 06:48] red2k18 commented on #2491
Released a patch to fix the broken model.

[2019-02-21 06:48] #2491 closed

[2019-02-21 17:24] Red-Five commented on #2452
What is the firewall rule schema to define a check for "sourceRanges": ["0.0.0.0/0"] ?

[2019-02-21 17:52] joecheuk commented on #2576
Hey @ahoying , can you scope and schedule this?

[2019-02-21 17:58] ahoying commented on #2576
The installer supports read only mode, but enable write is hard coded as True here: https://github.com/GoogleCloudPlatform/forseti-security/blob/56057f63fcb1040cc6ba121b50ebf3c0d95e9386/install/gcp/installer/forseti_server_installer.py#L35.

The installer needs to have a flag that modifies that value.

[2019-02-21 19:30] #2479 closed

[2019-02-21 22:06] hshin-g commented on #2574
@rgmenon @jf-marquis-Adeo What CloudSQL instance size are you using?

[2019-02-21 22:18] #2546 closed

[2019-02-21 22:20] hshin-g commented on #2535
Addressed by PR #2537.

[2019-02-21 22:20] #2535 closed

[2019-02-21 22:21] #2499 closed

[2019-02-21 22:21] #2453 closed

[2019-02-21 22:21] #2415 closed

[2019-02-21 22:22] #2253 closed

[2019-02-21 22:22] #1420 closed

[2019-02-21 22:23] hshin-g commented on #1826
Addressed by [Forseti Terraform installer](https://github.com/terraform-google-modules/terraform-google-forseti).

[2019-02-21 22:23] #1826 closed

[2019-02-21 22:44] rgmenon commented on #2574
db-n1-standard-1 (I used DM stock install and did not change _any_ defaults)

Not specific to this issue but I have tried tuning CloudSQL but unfortunately, CloudSQL connections do drop and there are some _long_ standing issues on this front. See for example https://issuetracker.google.com/issues/35904221 (see the blocking issues as well)

IMO, the client must be prepared for this to happen and ha

[2019-02-22 19:09] ryanismert commented on #1470
Henry is this assigned correctly and still on track for 2.13?

Ryan

[2019-02-23 22:58] Red-Five commented on #1470
When is 2.13 target release date?

Main remaining items:

- docker image self contained crontab for long running server
- Tidy up files, add standard copyright/licence header.
- Make deployment easier.
- **Peer review the whole approach and code**

[2019-02-24 02:25] blueandgold commented on #1470
2.13 release is scheduled for 3/14 (thursday).  @andreyk-code has accepted to review PR #2335 and #2582.

[2019-02-25 13:29] katze120 opened #2591 "Feature Request: allow HDD for Cloud SQL"
Allow HDD for Cloud SQL

Reason: It's cheaper and hence more cost-effective for large database

[2019-02-25 21:10] julianvmodesto opened #2593 "Support broader Forwarding Rule matches for load balancer scheme matches"
As of Forseti 2.11, the forwarding rule scanner must match on load balancer scheme (e.g. internal or external), IP and protocol for a rule match.

https://forsetisecurity.org/docs/v2.11/develop/reference/_modules/google/cloud/forseti/scanner/audit/forwarding_rule_rules_engine.html#Rule.find_match

However, it would be great to be able to create a rule to whitelist all forwarding rules with an `INT

[2019-02-25 21:24] frozen425 commented on #2182
Working on this in target_project branch. At the moment the implementation requires a new forseti installation and a single project id. It would not yet support multiple project ids.

[2019-02-25 21:39] frozen425 commented on #2471
A few of the typical errors resulting from a non-org level installation are handled now as part of the fix for #2182

[2019-02-25 21:42] Red-Five opened #2594 "BiqQuery Inventory Issue"

[2019-02-25 21:56] #2594 closed

[2019-02-25 22:06] frozen425 opened #2595 "Update install message, for non-GSuite data configuration"
During installation of Forseti, if you opt to not provide GSuite Admin creds to access and inventory GSuite data collection, this message is still presented:

IMPORTANT NOTE
Your Forseti Security Installation will not work until you enable GSuite data collection:
https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html

We should update the message or exclude it when GSuite data col

[2019-02-26 00:53] #2595 closed

[2019-02-26 06:23] jf-marquis-Adeo opened #2598 "[2.11.0 - 2.11.1 ] Wrong version number"
hello
just a small bug in auto update
after reboot code is well upgrade to 2.11.1  in file google/cloud/forseti/scanner/audit/kms_rules_engine.py :
` state = key.primary_version.get('state')
if not state == 'ENABLED':
return violations`
but version number is not correct in log file
`2019-02-26 05:50:06,645 INFO [forseti-security][2.11.0]`

[2019-02-26 07:59] andreyk-code commented on #2162
Was able to run through instructions provided here. Got all of the PODs running and am able to execute Forseti commands on client POD against server POD. The K8 config files look good as well. Feedback from me:

- In k8s_setup_forseti.sh suggest changing "CLOUDSQL_IP" variable to "K8_SVC_CLOUDSQL_IP" with a commented out example similar to comments for other variables. On initial run, thought this

[2019-02-26 17:54] joecheuk commented on #2574
Haven't backport the changes yet, will keep this open

[2019-02-26 18:02] joecheuk opened #2599 "Allow users to choose a bigger cloud sql instance/VM"
We should add manual steps to the installation guide to document the steps for users to increase the size of the cloud sql instance / VM.

We can also include a flag to the installer to allow user to increase the size during the installation.

[2019-02-26 18:12] blueandgold commented on #2599
relates to #2591

@hshin-g, now that we have terraform, are things like size or disk types easier to do by flag or by configuration?

[2019-02-26 18:41] red2k18 commented on #2598
#2600

[2019-02-26 21:16] #2598 closed

[2019-02-26 22:19] hshin-g commented on #2599
You can change the size/disk types through the configuration in terraform.

[2019-02-26 23:53] Red-Five commented on #2162
@andreyk-code Thanks for the feedback :)

[2019-02-26 23:59] Red-Five commented on #1470
@ryanismert The basics are all in place now.

Once code merged and released would welcome user feedback and/or enhancements to the code or deployment approach.

[2019-02-27 00:18] #2285 closed

[2019-02-27 00:19] #2303 closed

[2019-02-27 00:20] #2227 closed

[2019-02-27 00:20] #2228 closed

[2019-02-27 00:38] Red-Five commented on #2190
Example

![image](https://user-images.githubusercontent.com/25078066/53456873-0d5a2a00-39fe-11e9-92bc-73ad8c7245f5.png)

[2019-02-27 02:30] #2284 closed

[2019-02-27 22:49] frozen425 commented on #2182
Sorry, I misunderstood this ask. #2596 enables a new install arg --target-project, which sets the project to be inventoried, not the project to host the forseti installation.

I'll start this work this week. --project-id , to remove the installation dependency on the gcloud config set project <project Y> , prior to calling the install script.

[2019-02-28 01:20] Red-Five commented on #2162
Peer   Review Feedback | Notes
-- | --
In k8s_setup_forseti.sh suggest changing "CLOUDSQL_IP"   variable to "K8_SVC_CLOUDSQL_IP" with a commented out example   similar to comments for other variables. On initial run, thought this meant   the IP of cloud SQL instance | Modified   comments for now.
On Mac, had to install gettext to run envsubt (brew install   gettext && brew link --force gettext) |

[2019-02-28 18:36] umairidris commented on #2472
We were able to use composite root in our forseti server config to fix this. You may still wish to fix this bug as it seems like unexpected behaviour, but as there is a workaround this isn't a critical issue for us anymore.

[2019-02-28 23:03] joecheuk opened #2609 "[v2.12.0] external project access scanner error"
![image](https://user-images.githubusercontent.com/5330393/53604655-f46e8780-3b69-11e9-9a57-028cb18f32f4.png)

[2019-03-01 00:02] joecheuk commented on #2609
fixed https://github.com/GoogleCloudPlatform/forseti-security/commit/b331cab5ff2b47132b2994abfd5d250131071628

[2019-03-01 00:02] #2609 closed

[2019-03-01 19:34] dufton opened #2613 "Error running resource scanner with folders"
Resource scanner will fail if the scanned hierarchy contains a folder.

Relevant stack trace:
[code]

[2019-03-01 20:50] umairidris opened #2614 "Forseti installer should set composite root by default"
A composite root has the functionality of a single root but allows for additional roots if needed. There is not much use of a single root anymore, thus I propose setting a composite root id by default and deprecating root_resource_id.

[code]

Optional:
Long term replacing both root_resource_id and composite_root_resources with "root_resources" may be the cleanest syntax.

cc @frozen425

[2019-03-04 18:36] osandoval011 commented on #1827
#2469

[2019-03-04 18:36] #1827 closed

[2019-03-05 01:32] jiyunyao commented on #1203
Please feel free to delete them.

[2019-03-05 01:49] blueandgold commented on #1203
All deleted.

[2019-03-05 01:49] #1203 closed

[2019-03-05 17:28] joecheuk commented on #2613
Resolved #2615

[2019-03-05 17:28] #2613 closed

[2019-03-05 22:36] joecheuk opened #2620 "Update explainer commands to use stream to avoid return payload size > message size limit"
e.g. the returned value of access_by_member is not being streamed, and will throw an error when the returned value is > 4 mb.

[2019-03-06 04:52] red2k18 commented on #2462
#2619

[2019-03-06 16:41] blueandgold commented on #2013
The issues template is here:
https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/.github/ISSUE_TEMPLATE.md

[2019-03-06 17:45] ryanismert commented on #2620
@osandoval011 please update this with the correct milestone when you have an effort / timing estimate.

[2019-03-06 19:35] red2k18 opened #2621 "Inventory creation time ranges from 4 to 6 hours or even longer in some cases. Please investigate with the CAI team. This issue was reported by many customers after upgrading to v2.1.2.0."
Please investigate with the CAI team. This issue was reported by many customers after upgrading to v2.1.2.0.

[2019-03-06 19:36] red2k18 commented on #2621
Please investigate with the CAI team. This issue was reported by many customers after upgrading to v2.1.2.0.

[2019-03-07 16:43] blueandgold commented on #1405
This is already fixed.
https://github.com/GoogleCloudPlatform/forseti-security/commit/fb9f868e1e42dce1c3644aaf089e5222912d75b3#diff-d2c4352d49590345d368eab7dad8a8c7

[2019-03-07 16:43] #1405 closed

[2019-03-07 16:44] blueandgold commented on #1894
Shared VPC support is already out.  Please let us know if you have any more issues with this.

[2019-03-07 16:44] #1894 closed

[2019-03-07 17:58] ryanismert commented on #2515
@blueandgold can scope this so that we can see about scheduling?

[2019-03-08 16:37] #2620 closed

[2019-03-08 22:50] Red-Five opened #2625 "Server Config File Scanner rules_path"
Re server config file

scanner rules_path defaults to /home/ubuntu/forseti-security/rules

On k8s/docker it needs to be changed to /forseti-security/rules

According to the comments in config file it seems it can also reference gs://[bucket]/rules
Perhaps that would be a better default as it works for both VM approach and docker approach?

If gs:// format used, then assume we would not need to dow

[2019-03-09 17:32] Red-Five opened #2626 "k8s Deployment Enhancements"
Use k8s config map to store environment variables
	Simplifies docker_entrypoint.sh (and possibly elsewhere).
        https://cloud.google.com/kubernetes-engine/docs/concepts/configmap

Test Send Grid API in k8s

The PoC is a 'lift and shift' of existing approach to k8s;
whilst it offers high availability it doesnt take advantage of horizontal scaling.
Consider re-factoring code to take advantage o

[2019-03-11 15:39] blueandgold opened #2627 "Change Log Rotation to Python Logging's RotatingFileHandler"
See if this is simpler and more robust than the logrotate service that was implemented in PR #1494

https://docs.python.org/2/library/logging.handlers.html#rotatingfilehandler

[2019-03-11 16:36] red2k18 commented on #2035
#2543 fixes this.

[2019-03-11 16:36] #2035 closed

[2019-03-12 14:02] roscoejp opened #2628 "Shared VPC install firewall error"
First, help us help you by providing the following information when opening an issue.

It seems that when deploying to a service project in a Shared VPC, the firewall creation isn't specifying they Shared VPC host project. Considering the host project is specified during the initial call to the installer, should be able to fix by appending '--project vpc-host-project-id' at the end of the firewall

[2019-03-12 15:14] roscoejp commented on #2628
Testing a quick fix for this on my side. Will submit a PR when I confirm.

[2019-03-13 16:34] red2k18 commented on #2443
This issues is fixed in #2618 and is part of v2.13.0 that is slated for release this week.

[2019-03-15 00:07] joecheuk opened #2635 "Create a forseti blog reference to GCP EPAS blog"
Create a forseti blog ref to: https://cloud.google.com/blog/products/identity-security/help-stop-data-leaks-with-the-forseti-external-project-access-scanner

[2019-03-15 02:08] #2443 closed

[2019-03-15 23:11] joecheuk opened #2641 "Create a forseti blog reference to GCP solution: forseti-firewall-rules-anomalies"
Create a forseti blog reference to GCP solution: https://cloud.google.com/solutions/partners/forseti-firewall-rules-anomalies

[2019-03-18 18:42] garrettwong opened #2643 "Update Forseti Documentation to update Location Scanner Supported Types"
Forseti Security [v2.13] [Scanner]

Update documentation for Scanner **"Location rules"** https://forsetisecurity.org/docs/latest/configure/scanner/rules.html

Document should be updated to reflect that location scanner supports more than just "bucket".

The code supports additional (SUPPORTED_LOCATION_RESOURCE_TYPES) types:
https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/google/c

[2019-03-21 16:14] joecheuk opened #2651 "Update installation instruction for #2596"
Update installation instruction for #2596

[2019-03-21 16:50] mirons-google commented on #1885
@ahoying Can you help size this and offer any thoughts on this as I believe this was a design decision.

[2019-03-21 16:52] mirons-google commented on #1783
*Grooming note*: Try to combine this with other imagery changes.

[2019-03-21 16:55] #2474 closed

[2019-03-21 16:56] mirons-google commented on #1470
*Grooming update*: @Red-Five can you respond back with the completion status of this issue?

[2019-03-21 17:04] hshin-g opened #2652 "Add Terraform Real Time Enforcer module"
Add Terraform module for Real Time Enforcer in Forseti Terraform module [here](https://github.com/terraform-google-modules/terraform-google-forseti).

[2019-03-21 17:04] hshin-g opened #2653 "Add website documentation for Terraform Real Time Enforcer"
Add documentation on website for Terraform Real Time Enforcer.

[2019-03-21 17:11] ahoying commented on #1885
This is fixed with CAI, it should be closed. There is no fix for direct API polling, so CAI is the only solution.

[2019-03-21 17:11] #1885 closed

[2019-03-21 17:50] red2k18 opened #2654 "Integrate CSCC GA API in Forseti"
CSCC is moving from Beta to GA. Forseti currently supports Beta API and need to integrate GA in Forseti.

[2019-03-21 17:53] osandoval011 opened #2655 "Investigate Big Query Dataset With No Tables Breaks Inventory Collection"
Investigate Big Query Dataset With No Tables Breaks Inventory Collection.

[2019-03-22 00:06] Red-Five commented on #1470
@mirons-google
The basic PoC is complete. There are always more things that can be done though :slightly_smiling_face:

E.g. container runs as root, need to remove this requirement.
Use config map for env vars.
Offer a push button deployment on an 'opinionated' hardened GKE environment.
Happy to answer any questions...

[2019-03-22 16:54] red2k18 commented on #2022
Verified that rule name is included in the violations for Enabled APIs scanner as well.

[2019-03-22 16:55] red2k18 commented on #2022
RuleViolation(resource_type='project', resource_id='ahoying-forseti-dev', full_name='organization/660570133860/project/ahoying-forseti-dev/', rule_name='Example Enabled APIs whitelist', rule_index=0, violation_type='ENABLED_APIS_VIOLATION', apis=(u'bigquery-json.googleapis.com', u'clouddebugger.googleapis.com', u'storage-component.googleapis.com', u'pubsub.googleapis.com', u'container.googleapis.c

[2019-03-22 16:55] #2022 closed

[2019-03-23 01:21] Red-Five opened #2658 "CSCC / CAI Inventory Scan Question"
CAI updates inventory at least once a day.
(Though user initiated ad hoc scans can be done any time.)
Ref. https://cloud.google.com/security-command-center/docs/concepts-overview#assets_summary

Does Forseti trigger a CAI scan to refresh CAI inventory each time Forseti runs its inventory generation process?

[2019-03-25 01:17] Red-Five commented on #2511
https://github.com/GoogleCloudPlatform/forseti-security/pull/2659

@blueandgold  Please could you arrange for a peer review?

[2019-03-25 05:51] red2k18 opened #2660 "Add crypto key resource type to location scanner"

[2019-03-25 05:53] red2k18 opened #2661 "Add functionality to retrieve active findings from CSCC."
Use filter attribute of list API to retrieve active findings from CSCC.

[2019-03-25 05:55] red2k18 commented on #2660
Update Location Scanner to check if all crypto keys are in the correct location.

[2019-03-25 05:57] red2k18 opened #2662 "Check who has access to the crypto keys for what actions."
Update IAM scanner to check who has access to the crypto keys for what actions.

[2019-03-25 05:58] red2k18 opened #2663 "Add support for delete API of CSCC to purge all findings."
Add support for delete API of CSCC to purge all findings.

[2019-03-25 06:02] red2k18 opened #2664 "User is unable to create or update CSCC findings."
Update List API parameters so user is able to create or update CSCC findings again.

[2019-03-25 06:03] red2k18 commented on #2664
![image](https://user-images.githubusercontent.com/41486977/54898325-0bfb1080-4e89-11e9-8ebc-3561af4aa8ef.png)

[2019-03-25 17:55] umairidris commented on #2182
@frozen425 is this issue fixed with the PR above being merged?

[2019-03-25 18:12] Red-Five commented on #2664
Confirming this is a repeatable issue. I have just installed v 2.13 at a new client and we are seeing the exact same issue.

[2019-03-25 19:16] red2k18 commented on #2664
@Red-Five, are you seeing findings on the CSCC dashboard?

[2019-03-25 20:07] Red-Five commented on #2664
No findings in CSCC.

[2019-03-25 20:18] red2k18 commented on #2664
Perfect. Thanks for checking!

[2019-03-25 20:25] Red-Five opened #2665 "ke_scanner length(nodePools) Issue"
@rvandegrift
If nodePools is missing from Cluster json data; length(nodePools) in JMSEPath rules will crash the scanner, halting further evaluation of its rules.

[2019-03-25 20:34] rvandegrift commented on #2665
You can specify a fallback value with JMESPath's Or Expressions.  For instance, this expression takes the value of `nodePools` if it is defined, and an empty list otherwise:
[code]

The KE scanner shouldn't misbehave in this scenario.  There's a bug at https://github.com/GoogleCloudPlatform/forseti-security/blob/fe8d79f1b09e41b4341ab4558374c0e51030259c/google/cloud/forseti/scanner/audit/ke_rules_e

[2019-03-25 23:14] red2k18 commented on #2663
CSCC findings cannot be deleted.

[2019-03-25 23:14] #2663 closed

[2019-03-26 21:08] red2k18 commented on #2664
@Red-Five A patch (v2.13.1) has been released that fixes this issue. Please reset the server VM for changes to take effect.

[2019-03-26 21:09] red2k18 commented on #2664
#2667 fixes this issue.

[2019-03-26 21:09] #2664 closed

[2019-03-26 21:47] Red-Five commented on #2664
Confirmed issue resolved for us. Many thanks.

[2019-03-26 22:39] joecheuk opened #2669 "resource_name is not mapped properly in IAM violations"
It is mapping to some fields inside the rule instead:
https://github.com/GoogleCloudPlatform/forseti-security/blob/e14b30ad6883c6218572df560eecf6933315cbc7/rules/iam_rules.yaml#L30

[2019-03-27 23:39] joecheuk opened #2673 "Remove CSCC alpha reference in the server config yaml file"
https://github.com/GoogleCloudPlatform/forseti-security/blob/53ef39e04854b77814dd11d2c83595587f99bc7e/configs/server/forseti_conf_server.yaml.in#L530

[2019-03-28 14:54] Limezest opened #2675 "Feature Request: Allow Firewall Scanner to match or verify policies by logConfig field"
**Version:** 2.12.0
**Module:** Scanner

Hello!
I couldn't find a way for Firewall Scanner to match or verify rules based on the [logConfig field](https://cloud.google.com/compute/docs/reference/rest/v1/firewalls#Firewall.FIELDS.log_config).
I also saw that Enforcer supports enabling logging now.

An example use case would be to ensure all "allow ssh" rules are logged for instance.

What do you th

[2019-03-28 17:49] blueandgold opened #2676 "Inventory Takes Long Time to Complete: O(day)"
We are getting reports that the Inventory process is taking 18 to 28 hours to complete (v2.12, v2.13). Although slow, it does complete.  We are currently investigating what is the cause.

[2019-03-28 18:51] red2k18 commented on #1783
- Review if there are additional components that needs to be added to the architecture diagram besides what we have in the request (let's target this for v2.15).
- Once complete, file a bug to update the diagram.

[2019-03-28 21:15] nbards opened #2677 "Improve documentation around external_project_access_scanner"
Since the external project access scanner is meant to be run manually, and the current docs specify how to do that, but that's not the full process.  Inventory, model, and notifier all also need to be run manually.  A slightly richer example would be very helpful.

even if just something like this:
[code]

i suspect that switching the output from json to text would allow some simple shell work to

[2019-03-29 02:04] Red-Five commented on #2676
Ref. https://github.com/uber/pyflame
is a light weight profiler that could be installed on the production VM with no modifications needed to server. It states it fully supports multi threading.

(I have not used it myself.)

Other options discussed here https://rivolaks.com/posts/profiling-python/

[2019-03-29 20:00] #2665 closed

[2019-03-29 21:44] joecheuk opened #2681 "Group settings unauthorized_client warning should log only once"
- [ ] Fail if the unauth client error is hit and do not retry
---
it's being logged multiple times now and we should follow what we did for gsuite member and group, to log only once if there is an unauthorized_client error and not attempt to retrieve groups settings any more.

![image](https://user-images.githubusercontent.com/5330393/55264271-0d359000-5231-11e9-9105-40e0db0c9a74.png)

[2019-03-29 23:12] joecheuk opened #2682 "Increase the grpc packet size to 1gb for explain service"
The returned value of commands like access_by_member w/ expand_resource can easily exceed 4mb (maybe up to hundreds of mbs), we should increase the packet size to 1gb to avoid such problem.

https://jasiek.me/2018/04/26/increasing-grpc-max-message-size.html

[2019-03-30 00:43] #2628 closed

[2019-04-01 17:57] #2462 closed

[2019-04-01 17:59] red2k18 commented on #2673
#2687

[2019-04-01 17:59] #2673 closed

[2019-04-01 19:04] red2k18 commented on #2654
#2680

[2019-04-01 19:04] #2654 closed

[2019-04-02 04:22] joecheuk opened #2690 "Move the policy-library to external-dependencies folder under forseti to avoid image dependency"
https://github.com/GoogleCloudPlatform/forseti-security/blob/c04fe9268d46a8833e5e5f431eadd37d40e98e2c/deployment-templates/compute-engine/server/forseti-instance-server.py#L239

and

https://github.com/GoogleCloudPlatform/forseti-security/blob/c04fe9268d46a8833e5e5f431eadd37d40e98e2c/install/gcp/scripts/initialize_forseti_services.sh#L43

[2019-04-02 16:11] ryanismert commented on #2007
I'll commit to cleaning it up and getting it published to the website by 5/1.

[2019-04-02 16:53] joecheuk opened #2693 "installing forseti in a project under a folder with project owner role fails"
The current installation only works on projects directly under an organization but if the project is nested in a folder, the installer would fail because it's trying to look up the org containing that folder but doesn't have access to do so.

https://github.com/GoogleCloudPlatform/forseti-security/blob/dev/install/gcp/installer/util/gcloud.py#L636

[code]

[2019-04-02 18:40] #2690 closed

[2019-04-02 22:01] joecheuk opened #2697 "Update forsetisecurity.org-dev travis website build to include output for external contributors"
This will fail due to the long execution time with no output:
https://github.com/GoogleCloudPlatform/forseti-security/blob/9d827ea8b40da51941a1ebcbd8456dd83c4fb899/.travis.yml#L22

The way we output information during the build is defined here for the secured build:
https://github.com/GoogleCloudPlatform/forseti-security/blob/9d827ea8b40da51941a1ebcbd8456dd83c4fb899/travis/jekyll_build.sh#L22

[2019-04-02 22:04] mirons-google commented on #2697
Keep in mind how this works and the reasons it works this way for forks.

https://docs.travis-ci.com/user/pull-requests#pull-requests-and-security-restrictions
https://docs.travis-ci.com/user/best-practices-security/#recommendations-on-how-to-avoid-leaking-secrets-to-build-logs

[2019-04-03 00:49] Red-Five opened #2700 "Remove Google Cloud SDK Root Dependency in base"
Update Google Cloud SDK install so that root is not required to use it in Docker/GKE deployment

Ref. https://medium.com/@mccode/processes-in-containers-should-not-run-as-root-2feae3f0df3b

https://github.com/GoogleCloudPlatform/forseti-security/blob/d9fe8e4883976e8ff3d14ec4e9c1e44e71492592/install/docker/base#L27

https://github.com/GoogleCloudPlatform/forseti-security/blob/d9fe8e4883976e8ff3d14e

[2019-04-03 01:12] Red-Five commented on #2626
Some users are planning to install Forseti on a dedicated security cluster, possibly with other security tools running.

We may wish to implement hardening recommendations for deploying Forseti on shared clusters
in the deployment script(s) we provide

Examples

Forseti service account key is stored in a GKE secret. Consider the new application layer encryption of the secrets.
https://cloud.google

[2019-04-03 09:00] jf-marquis-Adeo commented on #1918
seems to be present in  2.13.0
2019-04-03 10:46:10,952 DEBUG [forseti-security][2.13.0] google.cloud.forseti.scanner.audit.iap_rules_engine(find_violations): Looking for IAP violations: IapResource(project_full_name=u'organization/899064685583/folder/457815117631/folder/150093548869/folder/736583365201/folder/371694806870/project/manawa-euw4-dtp/', backend_service=backendservice<id=333020148442725

[2019-04-03 14:51] ryanismert opened #2702 "News website sorts articles in the wrong order"
Newest items are on page 2, navigated to by clicking the "older" link at the bottom. Please figure out how to resort these.

@mirons-google Did you have insight into a fix?

[2019-04-03 15:53] mirons-google commented on #2702
Yea, @red2k18 and I had an information sharing session on where to look to debug the issue.

[2019-04-03 17:00] joecheuk opened #2704 "ke version scanner is not producing expected result when CAI is enabled"
The scanner doesn't seem to generate any violations when CAI is enabled (there are violations when CAI is disabled)

[2019-04-04 05:28] jf-marquis-Adeo opened #2708 "BUG ? Error running scanner: IapScanner"
2019-04-03 10:46:10,952 DEBUG [forseti-security][2.13.0] google.cloud.forseti.scanner.audit.iap_rules_engine(find_violations): Looking for IAP violations: IapResource(project_full_name=u'organization/899064685583/folder/457815117631/folder/150093548869/folder/736583365201/folder/371694806870/project/manawa-euw4-dtp/', backend_service=backendservice<id=333020148442725244,parent=None>, alternate_ser

[2019-04-04 17:33] jf-marquis-Adeo commented on #2708
?????
on slack you ask me to create an issue and once it has been created you close it ????

Envoyé de mon iPhone

Le 4 avr. 2019 à 19:19, Darrell Kuhn <notifications@github.com<mailto:notifications@github.com>> a écrit :

Closed #2708<https://github.com/GoogleCloudPlatform/forseti-security/issues/2708>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view

[2019-04-04 19:25] dekuhn commented on #2708
Reopening the issue due to accidental closure.

Marquis my apologizes this was my fault and was not intended. Github project automation closed the issue when I removed it from scope of the review project. This was unexpected and I am sorry for any confusion or frustration I might have caused.

[2019-04-04 19:35] joecheuk opened #2710 "Better handling of warning messages when resource doesn't exist"
Better handling of warning messages when resource doesn't exist.

Example output:

[code]

This is really hard to read and most of them are expected to happen if the project is in pending deletion mode, do we really need to log these messages?

[2019-04-05 00:28] Red-Five opened #2712 "Website Display Issue"
For last day or so seeing odd issue when first going to https://forsetisecurity.org on Chrome
After navigating to links on the page, the issue resolves.

![image](https://user-images.githubusercontent.com/25078066/55596696-c3501c80-56fe-11e9-8bb6-004d0b617880.png)

[2019-04-05 16:14] hshin-g commented on #2652
Resolved with Terraform module v1.4.0 [here](https://registry.terraform.io/modules/terraform-google-modules/forseti/google/1.4.0).

[2019-04-05 16:14] #2652 closed

[2019-04-05 16:15] hshin-g commented on #2653
Addressed with PR #2695 above.

[2019-04-05 16:15] #2653 closed

[2019-04-05 16:19] joecheuk commented on #2704
Resolved #2709

[2019-04-05 16:19] #2704 closed

[2019-04-05 16:23] marko7460 opened #2714 "Research on: cloud_sql_proxy should use private IP's"
cloud_sql_proxy should use private IP's to connect to Cloud SQL. This is a more secure way and more compliant way of connecting to database.

[2019-04-05 16:42] joecheuk commented on #2651
Resolved #2696

[2019-04-05 16:42] #2651 closed

[2019-04-05 16:48] joecheuk commented on #2658
Hi @Red-Five , the documentation you are referring to is for Cloud Security Command Center (the UI on GCP that also displays asset inventory information, they update at least once a day on their end), Forseti triggers a new CAI API call every time the inventory process is run so the data that we scan on is the most recent one from the CAI.

Feel free to reopen the issue if you have more questions!

[2019-04-05 16:48] #2658 closed

[2019-04-05 17:00] joecheuk commented on #2675
Hi @Limezest , thanks for opening the issue, we current might not have bandwidth to work on this but we are more than happy to work with you to get this feature in if this is something you are interested in doing!

[2019-04-05 17:10] red2k18 commented on #2574
Testing is in-progress.

[2019-04-05 17:50] blueandgold commented on #2676
@Red-Five thanks for the pyflame pointer!  Here are the instructions we have for running pyflame.

[code]

[2019-04-05 18:03] blueandgold opened #2716 "Rollback PR #2659 and Patch to 2.14"
We are working on supporting CIS benchmarks but aren't yet able to do so at this time.

We'll accept this change in the future when that's possible.

https://github.com/GoogleCloudPlatform/forseti-security/pull/2659/files

[2019-04-05 20:15] Red-Five commented on #2712
I am no longer able to reproduce this issue after making updates to my local PC including Chrome update.

I did clear cache and reproduce the issue before reporting it; however it may just have been an issue specific to my local setup.

[2019-04-06 04:37] blueandgold opened #2721 "Groups Settings Update Instructions Are Needed"
User report on slack:
The upgrade instructions for 2.14 need to mention the api scopes and api enablement for Groups Settings.

https://forsetisecurity.org/docs/latest/setup/upgrade.html

See the needed api scope here:
https://forsetisecurity.org/docs/latest/configure/inventory/gsuite.html#enable-the-service-account-in-your-g-suite-admin-control-panel

[2019-04-08 23:50] joecheuk opened #2725 "Removed gmail from default group rule"
By default gmail addresses should not be whitelisted (from a security standpoint)

[2019-04-09 00:04] joecheuk commented on #2721
Resolved #2722

[2019-04-09 00:04] #2721 closed

[2019-04-09 02:10] red2k18 commented on #2702
#2723

[2019-04-09 02:10] #2702 closed

[2019-04-09 17:29] dekuhn opened #2727 "Address real-time-enforcer container registry/autobuild"
With migration of real-time-enforcer module to new Forseti GitHub Organization we need to fix how the docker container is built.

[2019-04-09 17:39] dekuhn commented on #2716
Can we please close this issue. I will open a new issue to integrate the PR rolled back when things are ready.

[2019-04-09 17:43] dekuhn opened #2728 "Integrate ke_scanner_rules.yaml with CIS Benchmark Examples"
Before integration please validate we have required approvals to add these examples.

PR: https://github.com/GoogleCloudPlatform/forseti-security/pull/2659/files

[2019-04-09 17:46] dekuhn commented on #2716
I created new issue #2728 to track future integration of the PR #2659

[2019-04-09 18:44] dekuhn commented on #1437
Update https://forsetisecurity.org/docs/latest/develop/dev/setup.html#creating-service-accounts docs to account for python3 installation.

[2019-04-09 19:40] dekuhn opened #2729 "Update mac setup to address error -bash: mkvirtualenv: command not found"
On new setup getting error -bash: mkvirtualenv: command not found when trying to make the virtual env.

Update developer setup guide for mac with source command fix help based this article Update: https://forsetisecurity.org/docs/latest/develop/dev/setup.html#creating-a-virtualenv

1) Add note to ensure installing with sudo as pip also suggests you can use --user
# Ensure you are installing with s

[2019-04-10 19:43] hshin-g opened #2731 "Silence non-fatal ERROR messages from CAI for delete pending projects during Inventory creation"
Silence non-fatal ERROR messages from CAI for delete pending projects during Inventory creation, as this clutters up logging and detracts from actual fatal errors / confuses successful runs.

[2019-04-10 22:05] osandoval011 commented on #2731
@blueandgold @ryanismert Do we know more or less when we plan to address this?  Seems to always come up when I'm on interrupt and I just got pinged by another customer about it

[2019-04-10 22:07] joecheuk commented on #2731
Relates #2710

[2019-04-11 04:46] joecheuk opened #2733 "Forseti should pull and build a released version of FCV instead of uploading the binary to our repos"
Forseti should pull and build a Forseti Config Validator binary from the FCV github referencing a released version instead of using the binary directly.

Current we are upload the binary to Forseti repository here:
https://github.com/GoogleCloudPlatform/forseti-security/tree/dev/external-dependencies/config-validator

[2019-04-11 04:48] joecheuk opened #2734 "Update Config Validator violation category"
## Story
All the config validator violations has violation type 'CONFIG_VALIDATOR_VIOLATION' but we should separate them on a more granular level, maybe per rule name instead since the FCV instance can contain multiple rules and the resulting violation file can be huge and hard to read for users.

## Proposed Solution
Update the violation category to be `CV_{RULE_NAME}`.

## Acceptance Criteria
-

[2019-04-11 04:50] joecheuk opened #2735 "Violation message is missing in the config validator violation notification"

[2019-04-11 15:51] blueandgold opened #2737 "Silence non-fatal ERROR messages from CSCC for findings that already exists."
These are non-fatal, but we should silence it (i.e. not shown as error), just handle it as debug level.
[code]

[2019-04-11 19:15] deejay-sl commented on #2457
Is there an update on this?  I'm running into this exact error as well.

[2019-04-11 23:43] dekuhn opened #2739 "Terraform support for autoupdate of Forseti patches"
Work with the Cloud Foundation Toolkit team @morgante on the concept how we can enable auto update of patch releases through terraform.

https://github.com/terraform-google-modules/terraform-google-forseti/issues/95

[2019-04-12 20:28] blueandgold opened #2740 "Missing scanner yaml file will cause every scanner not to run."
This is when location scanner yaml file is not in the GCS bucket, then scanner.py will stop.  Then have to look at the stackdriver log to find out what error happend.

[2019-04-12 20:34] blueandgold opened #2741 "Database scheme fields are being checked even though all the database columns are present."

[2019-04-12 23:21] MartenvanWezel opened #2742 "Permission Inheritence through service accounts?"
As a user, you have the ability to use/impersonate a service account. Currently, most parts of Forseti (incl. explain) don't take this into account. Perhaps worth implementing?

[2019-04-13 18:38] #2682 closed

[2019-04-15 16:59] joecheuk opened #2744 "Jinja2 version upgrade required to avoid security vulnerability"
![image](https://user-images.githubusercontent.com/5330393/56150930-df588700-5f64-11e9-8b76-bb90088674d7.png)

[2019-04-15 17:06] hshin-g commented on #2741
@blueandgold What is the result of this issue? Need more information to prioritize.

[2019-04-15 17:17] hshin-g commented on #2712
Unable to reproduce issue. Closing.

[2019-04-15 17:17] #2712 closed

[2019-04-15 17:20] #2744 closed

[2019-04-15 20:55] dekuhn commented on #2741
Needs more details to better understand the impact of this issue.

[2019-04-15 20:57] dekuhn commented on #2740
@blueandgold can you provide more context the title and description seem to conflict each other. Does this stop scanning or cause all scanners to run?

[2019-04-15 23:41] dekuhn commented on #2728
We need to address dependency work before this can be resolved.  https://github.com/GoogleCloudPlatform/forseti-security/issues/2734 and https://github.com/GoogleCloudPlatform/forseti-security/issues/2735

[2019-04-16 00:13] dekuhn commented on #2676
Any update on this P0 issue? What is needed here to move this to resolution.

[2019-04-16 00:14] dekuhn commented on #2574
Any update on this P0 issue? What is needed here to move this to resolution.

[2019-04-16 00:16] blueandgold commented on #2676
No update, as customer did not try this yet.  Asked @joecheuk to follow this up with another customer that he is helping.

[2019-04-16 02:12] osandoval011 commented on #2574
@dekuhn I believe this was fixed by: https://github.com/GoogleCloudPlatform/forseti-security/commit/53ef39e04854b77814dd11d2c83595587f99bc7e

[2019-04-16 06:20] osandoval011 commented on #2574
Fixed by #2672

[2019-04-16 06:20] #2574 closed

[2019-04-16 17:45] dekuhn commented on #2084
In this quarter we want to flush out a formal design for supporting Forseti on GKE. We plan to use this issue for tracking the work.

We will review and  incorporate  the feedback from these other GKE/K8S/Containerize related github issues:
Dockerize Forseti (#223)
Support for Kubernetes (#1470)
GKE Kubernetes Deployment PoC Notes (#2162)
k8s Deployment Enhancements (#2626)

[2019-04-17 00:01] red2k18 opened #2749 "SQLAlchemy upgrade required to fix security vulnerability."
Known moderate severity security vulnerability detected in SQLAlchemy < 1.3.0defined in setup.py.
--
setup.py update suggested: SQLAlchemy ~> 1.3.0.

NOTE: We don't run raw SQL queries via the IAM explain feature that uses the underlying sqlalchemy library. We feel we are not vulnerable to the injection attack.